workflows/_01__orchestrate_video_creation_cMoPonO0EPhbdXEj.json
{
  "updatedAt": "2026-01-07T23:23:21.151Z",
  "createdAt": "2025-12-13T13:57:29.218Z",
  "id": "cMoPonO0EPhbdXEj",
  "name": "[01] Orchestrate Video Creation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-pilot",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        200
      ],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "6d1a0385-44cd-476c-8a78-30afdecdb2de"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nlet config;\n\nif (body.test_workflow) {\n  config = {\n    ...body[0],\n    test_workflow: body.test_workflow\n  };\n} else {\n  config = body;\n}\n\n// Email allowlist\nconst allowlist = [\n  'kelly@kellyrae.net',\n  'kellyraeknight78@gmail.com',\n  'esears48@gmail.com',\n  'kelly@ad-pilot.ai',\n  'eric@ad-pilot.ai',\n  'kimark100@aol.com',\n  'garyknight@carmackcars.com',\n  'karleeknight@gmail.com',\n  'karlee515@yahoo.com',\n  'Blakef1984@gmail.com',\n  'bfree98@aol.com',\n  'kacywaldhoff@yahoo.com',\n  'kacywaldhoff@gmail.com',\n  'Mark@ChampaignExperts.com',\n  'tessawaldhoff@gmail.com',\n  'laurenwaldhoff@gmail.com',\n  'shaddelaney@carmackcars.com',\n  'wedin95@aol.com ',\n  'terricox@carmackcars.com',\n  'hannah.blue1302@gmail.com',\n  'notredameone@yahoo.com',\n  'gregh@consolidatedccs.com'\n];\n\nconst email = config.email;\n\nif (!email) {\n  throw new Error('Email is required');\n}\n\nconst isAllowed = allowlist.some(allowed => \n  email.toLowerCase() === allowed.toLowerCase()\n);\n\nif (!isAllowed) {\n  throw new Error('Your email address is not authorized to use this system.');\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email format');\n}\n\n// Normalize ratios and platforms arrays\nconfig.ratios = config.ratios || ['9:16'];\nconfig.platforms = config.platforms || [];\n\nconsole.log(`Authorized: ${email}`);\nconsole.log(`Ratios: ${config.ratios.join(', ')}`);\nconsole.log(`Platforms: ${config.platforms.join(', ') || 'none'}`);\n\nreturn [{ json: config }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        200
      ],
      "id": "filter-emails",
      "name": "Filter on Whitelisted Emails"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gM6DTZfNbcSofqQO",
          "mode": "list",
          "cachedResultName": "[02] Generate Script"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "call-script",
      "name": "Call '[02] Generate Script'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.preview_mode}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        0
      ],
      "id": "if-preview",
      "name": "If: Script Preview Mode"
    },
    {
      "parameters": {
        "jsCode": "const config = { ...$json };\ndelete config.preview_mode;\nreturn [{ json: config }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -100
      ],
      "id": "delete-preview",
      "name": "Delete Preview Mode"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        600,
        -100
      ],
      "id": "respond-preview",
      "name": "Respond - Script Preview"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Video generation started. Check your email in a few minutes.\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        100
      ],
      "id": "respond-started",
      "name": "Respond - Generation Started"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h2iTCTTGjddXykMu",
          "mode": "list",
          "cachedResultName": "[03] Generate Avatar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "id": "call-avatar",
      "name": "Call '[03] Generate Avatar'"
    },
    {
      "parameters": {
        "jsCode": "// Split config into one item per ratio\nconst config = $json;\nconst ratios = config.ratios || ['9:16'];\nconst platforms = config.platforms || [];\n\n// Determine if we should skip platform banner in Creatomate\nconst skipPlatformBanner = platforms.length > 0;\n\nconsole.log(`Splitting into ${ratios.length} ratio(s)`);\nconsole.log(`Skip platform banner: ${skipPlatformBanner}`);\n\nreturn ratios.map(ratio => ({\n  json: {\n    ...config,\n    ratio: ratio,\n    skipPlatformBanner: skipPlatformBanner,\n    _ratios: ratios,\n    _platforms: platforms\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ],
      "id": "split-ratios",
      "name": "Split by Ratios"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FOQ8foX33kSuaZEJ",
          "mode": "list",
          "cachedResultName": "[04] Generate Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": true
        },
        "mode": "each"
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "id": "call-video",
      "name": "Call '[04] Generate Video'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._platforms.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        200
      ],
      "id": "if-needs-banners",
      "name": "If: Needs Platform Banners"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for [08] Add Platform Banners\nconst config = $json;\n\nreturn [{\n  json: {\n    video_url: config.final_video_url,\n    avatar_name: config.avatar_name,\n    platforms: config._platforms,\n    ratio: config.ratio,\n    _original_config: config\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        120
      ],
      "id": "prep-banners",
      "name": "Prepare for Banners"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZDFYAapPvETBWKjx",
          "mode": "list",
          "cachedResultName": "[08] Add Platform Banners"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        120
      ],
      "id": "call-banners",
      "name": "Call '[08] Add Platform Banners'"
    },
    {
      "parameters": {
        "jsCode": "// No banners needed - create platform_videos array with single video\nconst config = $json;\n\nreturn [{\n  json: {\n    ...config,\n    platform_videos: [{\n      platform: 'none',\n      ratio: config.ratio,\n      video_url: config.final_video_url\n    }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        280
      ],
      "id": "no-banners",
      "name": "No Banners - Passthrough"
    },
    {
      "parameters": {
        "jsCode": "// Merge banner results with original config\nconst bannerResult = $json;\nconst originalConfig = bannerResult._original_config || {};\n\nreturn [{\n  json: {\n    ...originalConfig,\n    platform_videos: bannerResult.platform_videos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        120
      ],
      "id": "merge-banner-results",
      "name": "Merge Banner Results"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_videos",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ],
      "id": "aggregate-all",
      "name": "Aggregate All Videos"
    },
    {
      "parameters": {
        "jsCode": "// Flatten all platform_videos into single array\nconst allItems = $json.all_videos || [];\n\n// Get base config from first item (includes job_id, email, etc.)\nconst baseConfig = allItems[0] || {};\n\n// Collect all videos\nconst allVideos = [];\nfor (const item of allItems) {\n  const videos = item.platform_videos || [];\n  allVideos.push(...videos);\n}\n\nconsole.log(`Total videos generated: ${allVideos.length}`);\n\n// Build video links for email\nconst videoLinks = allVideos.map(v => {\n  const label = v.platform !== 'none' \n    ? `${v.ratio} - ${v.platform}` \n    : v.ratio;\n  return `<a href='${v.video_url}'>${label}</a>`;\n}).join('<br/>');\n\n// Return everything including job_id from baseConfig\nreturn [{\n  json: {\n    ...baseConfig,\n    all_videos: allVideos,\n    video_count: allVideos.length,\n    video_links_html: videoLinks,\n    final_video_url: allVideos[0]?.video_url || baseConfig.final_video_url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        200
      ],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"notification@ad-pilot.ai\",\n  \"to\": \"{{ $json.email }}\",\n  \"cc\": \"kellyraeknight78@gmail.com\",\n  \"subject\": \"Your {{ $json.video_count }} Video(s) Ready!\",\n  \"html\": \"<p>Great news! Your video(s) have been generated.</p><br/><p>Template: {{ $json.template_id }}</p><p>Theme: {{ $json.theme || 'N/A' }}</p><br/><p><strong>Videos:</strong></p>{{ $json.video_links_html }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2400,
        200
      ],
      "id": "send-email",
      "name": "Send Video Email",
      "credentials": {
        "httpBearerAuth": {
          "id": "vdxOfyrKMfWKSmAH",
          "name": "Resend"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VQuJs5F_jR9cv-yobmkRoQLhUQmQJTnawFB5I29Hrs0",
          "mode": "list",
          "cachedResultName": "Ad Pilot - Jobs"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "status": "complete",
            "updated_at": "={{ new Date().toISOString() }}",
            "video_url": "={{ $json.final_video_url }}"
          },
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "type": "string"
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2600,
        200
      ],
      "id": "update-job",
      "name": "Update Job Complete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9WK1ZemzeOSj1j4A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Video Generation Orchestration v2\n\nSupports:\n- Multiple ratios per job\n- Platform-specific banners via ffmpeg\n- Organic templates (no banners)",
        "height": 160,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -100
      ],
      "typeVersion": 1,
      "id": "sticky-main",
      "name": "Info"
    },
    {
      "parameters": {
        "content": "## Loop through ratios\nEach ratio gets its own Creatomate render",
        "height": 120,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        80
      ],
      "typeVersion": 1,
      "id": "sticky-ratios",
      "name": "Ratios"
    },
    {
      "parameters": {
        "content": "## Add platform banners\nffmpeg API adds banners per platform",
        "height": 120,
        "width": 350,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        0
      ],
      "typeVersion": 1,
      "id": "sticky-banners",
      "name": "Banners"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter on Whitelisted Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter on Whitelisted Emails": {
      "main": [
        [
          {
            "node": "Call '[02] Generate Script'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[02] Generate Script'": {
      "main": [
        [
          {
            "node": "If: Script Preview Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Script Preview Mode": {
      "main": [
        [
          {
            "node": "Delete Preview Mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Generation Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Preview Mode": {
      "main": [
        [
          {
            "node": "Respond - Script Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond - Generation Started": {
      "main": [
        [
          {
            "node": "Call '[03] Generate Avatar'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[03] Generate Avatar'": {
      "main": [
        [
          {
            "node": "Split by Ratios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Ratios": {
      "main": [
        [
          {
            "node": "Call '[04] Generate Video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[04] Generate Video'": {
      "main": [
        [
          {
            "node": "If: Needs Platform Banners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Needs Platform Banners": {
      "main": [
        [
          {
            "node": "Prepare for Banners",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Banners - Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Banners": {
      "main": [
        [
          {
            "node": "Call '[08] Add Platform Banners'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[08] Add Platform Banners'": {
      "main": [
        [
          {
            "node": "Merge Banner Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Banners - Passthrough": {
      "main": [
        [
          {
            "node": "Aggregate All Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Banner Results": {
      "main": [
        [
          {
            "node": "Aggregate All Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Videos": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Video Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video Email": {
      "main": [
        [
          {
            "node": "Update Job Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "115fda29-bc75-4c9f-a973-fedc02b03c21",
  "activeVersionId": "115fda29-bc75-4c9f-a973-fedc02b03c21",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-13T13:57:29.218Z",
      "createdAt": "2025-12-13T13:57:29.218Z",
      "role": "workflow:owner",
      "workflowId": "cMoPonO0EPhbdXEj",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-07T23:23:21.156Z",
    "createdAt": "2026-01-07T23:23:21.156Z",
    "versionId": "115fda29-bc75-4c9f-a973-fedc02b03c21",
    "workflowId": "cMoPonO0EPhbdXEj",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ad-pilot",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -400,
          200
        ],
        "id": "webhook-node",
        "name": "Webhook",
        "webhookId": "6d1a0385-44cd-476c-8a78-30afdecdb2de"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nlet config;\n\nif (body.test_workflow) {\n  config = {\n    ...body[0],\n    test_workflow: body.test_workflow\n  };\n} else {\n  config = body;\n}\n\n// Email allowlist\nconst allowlist = [\n  'kelly@kellyrae.net',\n  'kellyraeknight78@gmail.com',\n  'esears48@gmail.com',\n  'kelly@ad-pilot.ai',\n  'eric@ad-pilot.ai',\n  'kimark100@aol.com',\n  'garyknight@carmackcars.com',\n  'karleeknight@gmail.com',\n  'karlee515@yahoo.com',\n  'Blakef1984@gmail.com',\n  'bfree98@aol.com',\n  'kacywaldhoff@yahoo.com',\n  'kacywaldhoff@gmail.com',\n  'Mark@ChampaignExperts.com',\n  'tessawaldhoff@gmail.com',\n  'laurenwaldhoff@gmail.com',\n  'shaddelaney@carmackcars.com',\n  'wedin95@aol.com ',\n  'terricox@carmackcars.com',\n  'hannah.blue1302@gmail.com',\n  'notredameone@yahoo.com',\n  'gregh@consolidatedccs.com'\n];\n\nconst email = config.email;\n\nif (!email) {\n  throw new Error('Email is required');\n}\n\nconst isAllowed = allowlist.some(allowed => \n  email.toLowerCase() === allowed.toLowerCase()\n);\n\nif (!isAllowed) {\n  throw new Error('Your email address is not authorized to use this system.');\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email format');\n}\n\n// Normalize ratios and platforms arrays\nconfig.ratios = config.ratios || ['9:16'];\nconfig.platforms = config.platforms || [];\n\nconsole.log(`Authorized: ${email}`);\nconsole.log(`Ratios: ${config.ratios.join(', ')}`);\nconsole.log(`Platforms: ${config.platforms.join(', ') || 'none'}`);\n\nreturn [{ json: config }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -200,
          200
        ],
        "id": "filter-emails",
        "name": "Filter on Whitelisted Emails"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "gM6DTZfNbcSofqQO",
            "mode": "list",
            "cachedResultName": "[02] Generate Script"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          0,
          200
        ],
        "id": "call-script",
        "name": "Call '[02] Generate Script'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{$json.preview_mode}}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          200,
          0
        ],
        "id": "if-preview",
        "name": "If: Script Preview Mode"
      },
      {
        "parameters": {
          "jsCode": "const config = { ...$json };\ndelete config.preview_mode;\nreturn [{ json: config }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -100
        ],
        "id": "delete-preview",
        "name": "Delete Preview Mode"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          600,
          -100
        ],
        "id": "respond-preview",
        "name": "Respond - Script Preview"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"success\": true,\n  \"message\": \"Video generation started. Check your email in a few minutes.\"\n}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          400,
          100
        ],
        "id": "respond-started",
        "name": "Respond - Generation Started"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "h2iTCTTGjddXykMu",
            "mode": "list",
            "cachedResultName": "[03] Generate Avatar"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          600,
          200
        ],
        "id": "call-avatar",
        "name": "Call '[03] Generate Avatar'"
      },
      {
        "parameters": {
          "jsCode": "// Split config into one item per ratio\nconst config = $json;\nconst ratios = config.ratios || ['9:16'];\nconst platforms = config.platforms || [];\n\n// Determine if we should skip platform banner in Creatomate\nconst skipPlatformBanner = platforms.length > 0;\n\nconsole.log(`Splitting into ${ratios.length} ratio(s)`);\nconsole.log(`Skip platform banner: ${skipPlatformBanner}`);\n\nreturn ratios.map(ratio => ({\n  json: {\n    ...config,\n    ratio: ratio,\n    skipPlatformBanner: skipPlatformBanner,\n    _ratios: ratios,\n    _platforms: platforms\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          200
        ],
        "id": "split-ratios",
        "name": "Split by Ratios"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "FOQ8foX33kSuaZEJ",
            "mode": "list",
            "cachedResultName": "[04] Generate Video"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "waitForSubWorkflow": true
          },
          "mode": "each"
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1000,
          200
        ],
        "id": "call-video",
        "name": "Call '[04] Generate Video'",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json._platforms.length }}",
                "rightValue": "0",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1200,
          200
        ],
        "id": "if-needs-banners",
        "name": "If: Needs Platform Banners"
      },
      {
        "parameters": {
          "jsCode": "// Prepare data for [08] Add Platform Banners\nconst config = $json;\n\nreturn [{\n  json: {\n    video_url: config.final_video_url,\n    avatar_name: config.avatar_name,\n    platforms: config._platforms,\n    ratio: config.ratio,\n    _original_config: config\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          120
        ],
        "id": "prep-banners",
        "name": "Prepare for Banners"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZDFYAapPvETBWKjx",
            "mode": "list",
            "cachedResultName": "[08] Add Platform Banners"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1600,
          120
        ],
        "id": "call-banners",
        "name": "Call '[08] Add Platform Banners'"
      },
      {
        "parameters": {
          "jsCode": "// No banners needed - create platform_videos array with single video\nconst config = $json;\n\nreturn [{\n  json: {\n    ...config,\n    platform_videos: [{\n      platform: 'none',\n      ratio: config.ratio,\n      video_url: config.final_video_url\n    }]\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          280
        ],
        "id": "no-banners",
        "name": "No Banners - Passthrough"
      },
      {
        "parameters": {
          "jsCode": "// Merge banner results with original config\nconst bannerResult = $json;\nconst originalConfig = bannerResult._original_config || {};\n\nreturn [{\n  json: {\n    ...originalConfig,\n    platform_videos: bannerResult.platform_videos\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          120
        ],
        "id": "merge-banner-results",
        "name": "Merge Banner Results"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "all_videos",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          2000,
          200
        ],
        "id": "aggregate-all",
        "name": "Aggregate All Videos"
      },
      {
        "parameters": {
          "jsCode": "// Flatten all platform_videos into single array\nconst allItems = $json.all_videos || [];\n\n// Get base config from first item (includes job_id, email, etc.)\nconst baseConfig = allItems[0] || {};\n\n// Collect all videos\nconst allVideos = [];\nfor (const item of allItems) {\n  const videos = item.platform_videos || [];\n  allVideos.push(...videos);\n}\n\nconsole.log(`Total videos generated: ${allVideos.length}`);\n\n// Build video links for email\nconst videoLinks = allVideos.map(v => {\n  const label = v.platform !== 'none' \n    ? `${v.ratio} - ${v.platform}` \n    : v.ratio;\n  return `<a href='${v.video_url}'>${label}</a>`;\n}).join('<br/>');\n\n// Return everything including job_id from baseConfig\nreturn [{\n  json: {\n    ...baseConfig,\n    all_videos: allVideos,\n    video_count: allVideos.length,\n    video_links_html: videoLinks,\n    final_video_url: allVideos[0]?.video_url || baseConfig.final_video_url\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2200,
          200
        ],
        "id": "format-response",
        "name": "Format Response"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"notification@ad-pilot.ai\",\n  \"to\": \"{{ $json.email }}\",\n  \"cc\": \"kellyraeknight78@gmail.com\",\n  \"subject\": \"Your {{ $json.video_count }} Video(s) Ready!\",\n  \"html\": \"<p>Great news! Your video(s) have been generated.</p><br/><p>Template: {{ $json.template_id }}</p><p>Theme: {{ $json.theme || 'N/A' }}</p><br/><p><strong>Videos:</strong></p>{{ $json.video_links_html }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2400,
          200
        ],
        "id": "send-email",
        "name": "Send Video Email",
        "credentials": {
          "httpBearerAuth": {
            "id": "vdxOfyrKMfWKSmAH",
            "name": "Resend"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1VQuJs5F_jR9cv-yobmkRoQLhUQmQJTnawFB5I29Hrs0",
            "mode": "list",
            "cachedResultName": "Ad Pilot - Jobs"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "jobs"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "job_id": "={{ $json.job_id }}",
              "status": "complete",
              "updated_at": "={{ new Date().toISOString() }}",
              "video_url": "={{ $json.final_video_url }}"
            },
            "matchingColumns": [
              "job_id"
            ],
            "schema": [
              {
                "id": "job_id",
                "displayName": "job_id",
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "type": "string"
              },
              {
                "id": "video_url",
                "displayName": "video_url",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2600,
          200
        ],
        "id": "update-job",
        "name": "Update Job Complete",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9WK1ZemzeOSj1j4A",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Video Generation Orchestration v2\n\nSupports:\n- Multiple ratios per job\n- Platform-specific banners via ffmpeg\n- Organic templates (no banners)",
          "height": 160,
          "width": 400,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -400,
          -100
        ],
        "typeVersion": 1,
        "id": "sticky-main",
        "name": "Info"
      },
      {
        "parameters": {
          "content": "## Loop through ratios\nEach ratio gets its own Creatomate render",
          "height": 120,
          "width": 300,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          780,
          80
        ],
        "typeVersion": 1,
        "id": "sticky-ratios",
        "name": "Ratios"
      },
      {
        "parameters": {
          "content": "## Add platform banners\nffmpeg API adds banners per platform",
          "height": 120,
          "width": 350,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1380,
          0
        ],
        "typeVersion": 1,
        "id": "sticky-banners",
        "name": "Banners"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Filter on Whitelisted Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter on Whitelisted Emails": {
        "main": [
          [
            {
              "node": "Call '[02] Generate Script'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '[02] Generate Script'": {
        "main": [
          [
            {
              "node": "If: Script Preview Mode",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If: Script Preview Mode": {
        "main": [
          [
            {
              "node": "Delete Preview Mode",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Generation Started",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Preview Mode": {
        "main": [
          [
            {
              "node": "Respond - Script Preview",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond - Generation Started": {
        "main": [
          [
            {
              "node": "Call '[03] Generate Avatar'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '[03] Generate Avatar'": {
        "main": [
          [
            {
              "node": "Split by Ratios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split by Ratios": {
        "main": [
          [
            {
              "node": "Call '[04] Generate Video'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '[04] Generate Video'": {
        "main": [
          [
            {
              "node": "If: Needs Platform Banners",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If: Needs Platform Banners": {
        "main": [
          [
            {
              "node": "Prepare for Banners",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Banners - Passthrough",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare for Banners": {
        "main": [
          [
            {
              "node": "Call '[08] Add Platform Banners'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '[08] Add Platform Banners'": {
        "main": [
          [
            {
              "node": "Merge Banner Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Banners - Passthrough": {
        "main": [
          [
            {
              "node": "Aggregate All Videos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Banner Results": {
        "main": [
          [
            {
              "node": "Aggregate All Videos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate All Videos": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Send Video Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Video Email": {
        "main": [
          [
            {
              "node": "Update Job Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null
  },
  "tags": []
}