workflows/_03__generate_avatar_h2iTCTTGjddXykMu.json
{
  "updatedAt": "2026-01-07T22:09:30.204Z",
  "createdAt": "2025-12-13T13:57:30.021Z",
  "id": "h2iTCTTGjddXykMu",
  "name": "[03] Generate Avatar",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        1344
      ],
      "id": "6ca0f276-1654-44f8-baf9-b4f94ede4825",
      "name": "Wait",
      "webhookId": "a6450418-423b-411d-872d-223ca0619b51"
    },
    {
      "parameters": {
        "jsCode": "// Single error - format it for the email\nconst error = $input.first().json;\nconst nodeName = error.node?.name || 'Unknown node';\n\n// Handle different error formats from different APIs\nlet errorMsg = 'Unknown error';\n\n// HeyGen error format: { \"error\": { \"code\": \"...\", \"message\": \"...\", \"detail\": \"...\" } }\nif (error.error?.code && error.error?.message) {\n  errorMsg = `[${error.error.code}] ${error.error.message}`;\n  if (error.error.detail) {\n    errorMsg += ` - ${error.error.detail}`;\n  }\n}\n// Cloudinary error format: { \"error\": { \"message\": \"...\" } }\nelse if (error.error?.message) {\n  errorMsg = error.error.message;\n}\nelse if (error.message) {\n  errorMsg = error.message;\n}\n\nreturn [{\n  json: {\n    nodeName: nodeName,\n    errorMessage: errorMsg,\n    timestamp: new Date().toISOString(),\n    rawError: JSON.stringify(error, null, 2)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1520
      ],
      "id": "83a8f36d-0e32-4e47-a8b1-edf9a4cc0cde",
      "name": "Format Errors"
    },
    {
      "parameters": {
        "errorMessage": "Avatar video errored out."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -112,
        1520
      ],
      "id": "45663354-74b7-458a-a21d-75d959756395",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "# [03] Generate Avatar Video - v2\n\nRefactored flow:\n1. Send script directly to HeyGen (no TTS preview)\n2. Use Whisper to get word timestamps from completed video\n3. Send to Replicate for alpha mask",
        "height": 150,
        "width": 700,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        848
      ],
      "typeVersion": 1,
      "id": "2d4ab4c4-5e9b-42a3-b2dc-7eb4c265836b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Error path",
        "height": 224,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        1440
      ],
      "typeVersion": 1,
      "id": "0948db8b-f71b-4d80-bfbd-fb10cbbb5c9f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        1200
      ],
      "id": "71d541bd-13bd-48f5-8587-41e030ed86c4",
      "name": "When Executed by Orchestrate Video Creation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e530ea0-2545-43a0-a589-1b816442e116",
              "leftValue": "={{$json.data?.status}}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        1168
      ],
      "id": "9846f443-1045-48d3-b62b-65605ad87abe",
      "name": "If: Avatar Complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "[BASE64_KEY_REDACTED]"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Ad Pilot Video\",\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"talking_photo\",\n        \"talking_photo_id\": \"{{ $json.avatar_id }}\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"voice_id\": \"{{ $json.voice_id }}\",\n        \"input_text\": \"{{ $json.script.full_script }}\"\n      }\n    }\n  ],\n  \"dimension\": { \"width\": 720, \"height\": 1280 }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        1200
      ],
      "id": "41635a5e-64ee-4720-8a74-bd9e4ae27928",
      "name": "API: HeyGen, Create Avatar",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('API: HeyGen, Create Avatar').first().json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "[BASE64_KEY_REDACTED]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        1184
      ],
      "id": "b479ea68-6a3e-4ea2-8364-ae5cba17c22f",
      "name": "API: Check Avatar Status",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $json;\nconst videoUrl = apiResponse.data.video_url;\nconst duration = Number(apiResponse.data.duration);\nconst config = $('When Executed by Orchestrate Video Creation').first().json;\n\nreturn [{\n  json: {\n    ...config,\n    avatar_video_url: videoUrl,\n    avatar_video_duration: duration\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1152
      ],
      "id": "157b86f3-9999-4b3a-be9e-c299e3e278a6",
      "name": "Parse Avatar Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"errors@ad-pilot.ai\",\n  \"to\": \"kelly@ad-pilot.ai\", \n  \"subject\": \"🚨 Avatar Generation Failed - {{ $json.nodeName }}\",\n  \"html\": \"⚠️ Avatar Creation Workflow Error<br/><br/>Failed Node: {{ $json.nodeName }}<br/>Error: {{ $json.errorMessage.replaceAll('\"', '&quot;').replaceAll('\\n', '<br/>') }}<br/><br/>Time: {{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        1520
      ],
      "id": "28e143cd-3552-49d4-91ed-87b254e5a9f3",
      "name": "Email Errors",
      "credentials": {
        "httpBearerAuth": {
          "id": "vdxOfyrKMfWKSmAH",
          "name": "Resend"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8278a34b-3852-479c-a257-5d9a70385305",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        1344
      ],
      "id": "88cff766-f3a1-4cba-9f5a-1838a9861a9d",
      "name": "If: Failed?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ccc.ad-pilot.ai/api/transcribe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.avatar_video_url }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        1152
      ],
      "id": "whisper-transcribe-node",
      "name": "API: Transcribe Video (Whisper)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const transcription = $json;\nconst config = $('Parse Avatar Response').first().json;\nconst script = config.script;\nconst templateId = config.template_id || '';\n\n// Get Whisper word timestamps\nconst words = transcription.words.map(w => ({\n  text: w.word.replace(/[.,!?;:\\-\"'()]/g, '').toLowerCase(),\n  originalText: w.word,\n  start: w.start,\n  end: w.end\n}));\n\nconsole.log(`📊 Total Whisper words: ${words.length}`);\nconsole.log(`📋 Template: ${templateId}`);\n\n// Helper to normalize text for comparison\nconst normalizeWord = (word) => word.replace(/[.,!?;:\\-\"'()]/g, '').toLowerCase();\n\n// Build section texts based on template type\nlet sections = [];\n\nif (templateId === 'ad-single-item-spotlight-1') {\n  // SPOTLIGHT template: hero is already on screen during hook\n  const combinedHookText = script.hook + ' ' + (script.segments[0] || '');\n  sections = [\n    { name: 'hook', text: combinedHookText },\n    ...script.segments.slice(1).map((text, i) => ({ name: `segment_${i + 1}`, text })),\n    { name: 'cta', text: script.cta }\n  ];\n} else {\n  // Default: standard section building\n  sections = [\n    { name: 'hook', text: script.hook },\n    ...script.segments.map((text, i) => ({ name: `segment_${i}`, text })),\n    { name: 'cta', text: script.cta }\n  ];\n}\n\nconsole.log(`📝 Sections to process: ${sections.map(s => s.name).join(', ')}`);\n\nconst sectionTimings = [];\nlet wordIndex = 0;\n\nfor (const section of sections) {\n  const sectionWords = section.text\n    .split(/\\s+/)\n    .filter(w => w.length > 0)\n    .map(w => normalizeWord(w));\n\n  const wordCount = sectionWords.length;\n\n  console.log(`\\n📍 Section \"${section.name}\": ${wordCount} words`);\n\n  const startWord = words[wordIndex];\n  if (!startWord) {\n    console.warn(`⚠️ No start word for section ${section.name}`);\n    continue;\n  }\n\n  const expectedEndIndex = wordIndex + wordCount - 1;\n  const endWord = words[expectedEndIndex];\n\n  if (!endWord) {\n    console.warn(`⚠️ No end word for section ${section.name}`);\n    const lastWord = words[words.length - 1];\n    if (lastWord) {\n      sectionTimings.push({\n        name: section.name,\n        start: startWord.start,\n        end: lastWord.end,\n        duration: lastWord.end - startWord.start\n      });\n    }\n    break;\n  }\n\n  // Verify match and search for better alignment if needed\n  const lastSectionWord = sectionWords[wordCount - 1];\n  const timestampWord = normalizeWord(endWord.originalText);\n\n  if (lastSectionWord !== timestampWord) {\n    console.log(`   ⚠️ Word mismatch: script=\"${lastSectionWord}\" vs whisper=\"${timestampWord}\"`);\n    \n    let foundIndex = -1;\n    for (let offset = -3; offset <= 3; offset++) {\n      const checkIndex = expectedEndIndex + offset;\n      if (checkIndex >= 0 && checkIndex < words.length) {\n        if (normalizeWord(words[checkIndex].originalText) === lastSectionWord) {\n          foundIndex = checkIndex;\n          console.log(`   ✓ Found match at offset ${offset}`);\n          break;\n        }\n      }\n    }\n\n    if (foundIndex !== -1) {\n      const correctedEndWord = words[foundIndex];\n      sectionTimings.push({\n        name: section.name,\n        start: startWord.start,\n        end: correctedEndWord.end,\n        duration: correctedEndWord.end - startWord.start\n      });\n      wordIndex = foundIndex + 1;\n      console.log(`   ✓ Section timing: ${startWord.start}s - ${correctedEndWord.end}s`);\n      continue;\n    }\n  }\n\n  sectionTimings.push({\n    name: section.name,\n    start: startWord.start,\n    end: endWord.end,\n    duration: endWord.end - startWord.start\n  });\n\n  console.log(`   ✓ Section timing: ${startWord.start}s - ${endWord.end}s`);\n  wordIndex += wordCount;\n}\n\nconsole.log(`\\n📊 Summary:`);\nconsole.log(`   Section timings: ${sectionTimings.map(s => s.name).join(', ')}`);\n\nreturn [{\n  json: {\n    ...config,\n    _section_timings: sectionTimings,\n    whisper_transcription: {\n      text: transcription.text,\n      duration: transcription.duration,\n      language: transcription.language\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1136
      ],
      "id": "a9085321-e6d7-4522-ac65-856ed886b9b0",
      "name": "Calculate Timings from Whisper"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cca8b346-501c-45ab-a0b4-b85747732f3a",
              "leftValue": "={{ $json.template_id }}",
              "rightValue": "ad-multi-item-1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "1abfa12b-6a58-43be-b3c7-7c40f9b28f3b",
              "leftValue": "={{ $json.template_id }}",
              "rightValue": "ad-single-item-spotlight-1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        1136
      ],
      "id": "592a02ca-c6fe-45dd-bc03-34f39640c1c1",
      "name": "If: Needs Section Timings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REPLICATE_KEY_REDACTED]"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"version\": \"73d2128a371922d5d1abf0712a1d974be0e4e2358cc1218e4e34714767232bac\",\n  \"input\": {\n    \"input_video\": \"{{ $json.avatar_video_url }}\",\n    \"output_type\": \"alpha-mask\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        1120
      ],
      "id": "d096c4dd-d626-4bd8-b6ea-f0b6d4675525",
      "name": "API: Replicate, Create RVM",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1456,
        1232
      ],
      "id": "8db05eb0-6fe0-4a4c-a13b-bbb94616d25e",
      "name": "Wait for RVM",
      "webhookId": "c0c5d218-061b-406e-9fd7-ad89eaa268df"
    },
    {
      "parameters": {
        "url": "={{ $('API: Replicate, Create RVM').first().json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer [REPLICATE_KEY_REDACTED]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        1104
      ],
      "id": "28739aec-d927-4e45-820e-f7eebf7ffeb5",
      "name": "API: Replicate, Check RVM Status",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9b8ce19-3c3b-4e8b-9ff6-41ad79951e8a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        1088
      ],
      "id": "e9031cc1-1be5-4114-8a09-b4428f89cf87",
      "name": "If: RVM Complete"
    },
    {
      "parameters": {
        "jsCode": "const rvmResponse = $json;\nconst config = $('Calculate Timings from Whisper').first().json;\n\nconst maskVideoUrl = rvmResponse.output;\n\nif (!maskVideoUrl) {\n  throw new Error('RVM did not return a mask video URL');\n}\n\nconsole.log('✓ RVM mask video:', maskVideoUrl);\n\nreturn [{\n  json: {\n    ...config,\n    avatar_mask_video_url: maskVideoUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1072
      ],
      "id": "70cebe78-a324-4845-a136-b6dca1f93bad",
      "name": "Parse RVM Response"
    },
    {
      "parameters": {
        "content": "## 1. Create Avatar Video\nSend script directly to HeyGen (no TTS preview)",
        "height": 250,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        1104
      ],
      "typeVersion": 1,
      "id": "sticky-avatar-create",
      "name": "Sticky Note Avatar"
    },
    {
      "parameters": {
        "content": "## 2. Get Word Timestamps\nUse Whisper to transcribe completed video",
        "height": 200,
        "width": 450,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        864
      ],
      "typeVersion": 1,
      "id": "sticky-whisper",
      "name": "Sticky Note Whisper"
    },
    {
      "parameters": {
        "content": "## 3. RVM Mask Generation\nSend avatar video to Replicate for alpha mask",
        "height": 200,
        "width": 700,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        848
      ],
      "typeVersion": 1,
      "id": "c99f6229-ac34-4411-9ac3-59bbed81b42d",
      "name": "Sticky Note RVM"
    },
    {
      "parameters": {
        "jsCode": "// Pass through to next step for templates that don't need section timings\nreturn [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1376
      ],
      "id": "passthrough-no-timings",
      "name": "No Timings Needed"
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "API: Check Avatar Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Errors": {
      "main": [
        [
          {
            "node": "Email Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Orchestrate Video Creation": {
      "main": [
        [
          {
            "node": "API: HeyGen, Create Avatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Avatar Complete": {
      "main": [
        [
          {
            "node": "Parse Avatar Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If: Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: HeyGen, Create Avatar": {
      "main": [
        [
          {
            "node": "API: Check Avatar Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Check Avatar Status": {
      "main": [
        [
          {
            "node": "If: Avatar Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Avatar Response": {
      "main": [
        [
          {
            "node": "API: Transcribe Video (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Errors": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Failed?": {
      "main": [
        [
          {
            "node": "Format Errors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Transcribe Video (Whisper)": {
      "main": [
        [
          {
            "node": "Calculate Timings from Whisper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Timings from Whisper": {
      "main": [
        [
          {
            "node": "If: Needs Section Timings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Needs Section Timings": {
      "main": [
        [
          {
            "node": "API: Replicate, Create RVM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Timings Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Timings Needed": {
      "main": [
        [
          {
            "node": "API: Replicate, Create RVM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Replicate, Create RVM": {
      "main": [
        [
          {
            "node": "API: Replicate, Check RVM Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Replicate, Check RVM Status": {
      "main": [
        [
          {
            "node": "If: RVM Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: RVM Complete": {
      "main": [
        [
          {
            "node": "Parse RVM Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for RVM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for RVM": {
      "main": [
        [
          {
            "node": "API: Replicate, Check RVM Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RVM Response": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1f01ab4c-f8ca-463b-be3c-37de78c8d36d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T13:57:30.021Z",
      "createdAt": "2025-12-13T13:57:30.021Z",
      "role": "workflow:owner",
      "workflowId": "h2iTCTTGjddXykMu",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": null,
  "tags": []
}