workflows/_agent__planner_0bgi8ne2AOmS8h6f.json
{
  "updatedAt": "2026-03-26T23:46:24.815Z",
  "createdAt": "2026-02-12T18:24:06.924Z",
  "id": "0bgi8ne2AOmS8h6f",
  "name": "[AGENT] Planner",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ],
      "parameters": {}
    },
    {
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        500
      ],
      "parameters": {
        "path": "planner-agent",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "planner-agent"
    },
    {
      "id": "run-queries",
      "name": "Run All Queries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH\nbrain AS (\n  SELECT bi.insights\n  FROM brain_insights bi\n  JOIN clients c ON c.slug = bi.client_id\n  WHERE c.id = '{{ $('Fetch Plan').first().json.client_id }}'\n  ORDER BY bi.week_start DESC LIMIT 1\n),\nrecent_plans AS (\n  SELECT theme_name, theme_emoji, theme_direction, week_start\n  FROM weekly_plans\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}'\n  ORDER BY week_start DESC LIMIT 4\n),\navatars AS (\n  SELECT a.id, a.style_name, a.motion_preset, p.display_name AS person_name\n  FROM avatars a\n  JOIN client_avatars ca ON ca.avatar_id = a.id\n  LEFT JOIN persons p ON a.person_id = p.id\n  WHERE ca.client_id = '{{ $('Fetch Plan').first().json.client_id }}'\n    AND a.is_active = true AND a.is_deleted = false\n    AND a.approval_status = 'approved' AND a.is_demo = false\n  LIMIT 50\n),\nbackgrounds AS (\n  SELECT id, label, category\n  FROM client_backgrounds\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND active = true\n),\nmusic AS (\n  SELECT cm.id, cm.song_id, s.name AS song_title, s.genre\n  FROM client_music cm\n  LEFT JOIN songs s ON cm.song_id = s.id::text\n  WHERE cm.client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND cm.active = true\n),\ntemplates AS (\n  SELECT DISTINCT t.id, t.name, t.asset_type, t.item_count_min, t.item_count_max, t.bg_categories\n  FROM templates t\n  JOIN client_templates ct ON ct.template_id = t.id\n  WHERE ct.client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND ct.is_active = true AND t.is_active = true\n),\nplatforms AS (\n  SELECT platform, is_enabled\n  FROM client_platforms\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND is_enabled = true\n),\ninventory_summary AS (\n  SELECT\n    COUNT(*) AS total_count,\n    COUNT(*) FILTER (WHERE first_seen_at <= NOW() - INTERVAL '45 days') AS aged_count,\n    COUNT(*) FILTER (WHERE first_seen_at >= NOW() - INTERVAL '7 days') AS new_arrivals,\n    MIN(price) AS min_price,\n    MAX(price) AS max_price,\n    ROUND(AVG(price)::numeric, 0) AS avg_price\n  FROM inventory_items\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND status = 'active'\n),\nfeatured_inventory AS (\n  SELECT id, title, price, EXTRACT(DAY FROM NOW() - first_seen_at)::int AS days_on_lot, COALESCE(hero_cloudinary_url, hero_image_url) AS thumbnail\n  FROM inventory_items\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND status = 'active'\n    AND COALESCE(hero_cloudinary_url, hero_image_url) IS NOT NULL\n  ORDER BY first_seen_at ASC NULLS LAST\n  LIMIT 20\n),\napprovers AS (\n  SELECT p.id AS person_id, p.email, p.first_name, p.notification_preference\n  FROM client_persons cp\n  JOIN persons p ON cp.person_id = p.id\n  WHERE cp.client_id = '{{ $('Fetch Plan').first().json.client_id }}'\n    AND cp.can_approve_plans = true\n    AND cp.is_active = true\n),\nplacements AS (\n  SELECT code, platform, placement, aspect_ratios, supported_asset_types\n  FROM placements\n  WHERE is_active = true\n  ORDER BY sort_order\n),\nad_types AS (\n  SELECT asset_type, is_enabled\n  FROM client_ad_types\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND is_enabled = true\n)\nvideo_recipes AS (\n  SELECT id, slug, name, industry FROM video_recipes WHERE is_active = true\n)\nSELECT\n  (SELECT json_agg(row_to_json(brain)) FROM brain) AS brain,\n  (SELECT json_agg(row_to_json(recent_plans)) FROM recent_plans) AS recent_plans,\n  (SELECT json_agg(row_to_json(avatars)) FROM avatars) AS avatars,\n  (SELECT json_agg(row_to_json(backgrounds)) FROM backgrounds) AS backgrounds,\n  (SELECT json_agg(row_to_json(music)) FROM music) AS music,\n  (SELECT json_agg(row_to_json(templates)) FROM templates) AS templates,\n  (SELECT json_agg(row_to_json(platforms)) FROM platforms) AS platforms,\n  (SELECT row_to_json(inventory_summary) FROM inventory_summary) AS inventory_summary,\n  (SELECT json_agg(row_to_json(featured_inventory)) FROM featured_inventory) AS featured_inventory,\n  (SELECT json_agg(row_to_json(approvers)) FROM approvers) AS approvers,\n  (SELECT json_agg(row_to_json(placements)) FROM placements) AS placements_data,\n  (SELECT json_agg(row_to_json(ad_types)) FROM ad_types) AS ad_types,\n  (SELECT json_agg(row_to_json(video_recipes)) FROM video_recipes) AS video_recipes",
        "options": {
          "alwaysOutputData": true
        }
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "check-brain",
      "name": "Check Brain Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "const params = $('Fetch Plan').first().json;\nconst q = $input.first().json;\n\nconst brain = q.brain;\nif (!brain || brain.length === 0) {\n  return [{ json: {\n    _hasBrain: false,\n    client_id: params.client_id,\n    client_name: params.client_name,\n    message: 'No Brain insights found for ' + params.client_name + '. Run Brain Analysis first.'\n  }}];\n}\n\nreturn [{ json: {\n  _hasBrain: true,\n  ...params,\n  _data: q\n}}];"
      }
    },
    {
      "id": "if-brain",
      "name": "Brain Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "brain-check",
              "leftValue": "={{ $json._hasBrain }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      }
    },
    {
      "id": "assemble-prompt",
      "name": "Assemble Planner Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ],
      "parameters": {
        "jsCode": "const params = $input.first().json;\nconst data = params._data;\nconst brain = data.brain[0]?.insights || data.brain[0];\n\n// Approved theme from the plan\nconst theme_name = params.theme_name || '';\nconst theme_emoji = params.theme_emoji || '';\nconst theme_direction = params.theme_direction || '';\nconst theme_seed = params.theme_seed || '';\n\nconst isGenericFallback = params.approved_by === 'generic_fallback';\n\n// Build context sections\nconst recentThemes = (data.recent_plans || [])\n  .map(p => p.theme_emoji + ' ' + p.theme_name + ' (' + p.week_start + ')')\n  .join('\\n- ') || 'None yet';\n\nconst avatarList = (data.avatars || [])\n  .map(a => a.person_name + ' / ' + a.style_name + ' (' + a.motion_preset + ') [id:' + a.id + ']')\n  .join('\\n- ') || 'No avatars configured';\n\nconst bgList = (data.backgrounds || [])\n  .map(b => b.label + ' [' + (b.category || 'uncategorized') + '] (id:' + b.id + ')')\n  .join('\\n- ') || 'No backgrounds configured';\n\nconst musicList = (data.music || [])\n  .map(m => (m.song_title || m.song_id) + ' [' + (m.genre || 'unknown') + '] (song_id:' + m.song_id + ')')\n  .join('\\n- ') || 'No music configured';\n\n// Include bg_categories in the template list so Claude knows which backgrounds match\nconst templateList = (data.templates || [])\n  .map(t => {\n    let desc = t.name + ' (' + t.asset_type + ', ' + t.item_count_min + '-' + t.item_count_max + ' items';\n    if (t.bg_categories && t.bg_categories.length > 0) {\n      desc += ', bg_categories: ' + JSON.stringify(t.bg_categories);\n    }\n    desc += ') [id:' + t.id + ']';\n    return desc;\n  })\n  .join('\\n- ') || 'No templates configured';\n\nconst platformList = (data.platforms || []).map(p => p.platform).join(', ') || 'None configured';\n\nconst adTypesList = (data.ad_types || [])\n  .map(t => t.asset_type)\n  .join(', ') || 'None configured';\n\nconst inv = data.inventory_summary || {};\nconst invSummary = 'Total: ' + (inv.total_count || 0) +\n  ', Aged (45+ days): ' + (inv.aged_count || 0) +\n  ', New arrivals (7 days): ' + (inv.new_arrivals || 0) +\n  ', Price range: $' + (inv.min_price || 0) + ' - $' + (inv.max_price || 0) +\n  ', Avg: $' + (inv.avg_price || 0);\n\n// Inventory target suggestion based on aged count\nconst agedCount = inv.aged_count || 0;\nconst inventoryTargetHint = agedCount >= 3\n  ? 'SUGGESTION: There are ' + agedCount + ' aged vehicles (45+ days). Consider setting inventory_target to \"Aged Inventory\" to move these units.'\n  : 'SUGGESTION: Few aged vehicles. Consider \"Recent Arrivals\" or \"Budget Friendly\" for inventory_target.';\n\nconst featuredVehicles = (data.featured_inventory || [])\n  .slice(0, 20)\n  .map(v => v.title + ' ($' + v.price + ', ' + (v.days_on_lot || 0) + ' days) [id:' + v.id + ']')\n  .join('\\n- ') || 'No inventory available';\n\n// Build placement list dynamically from DB, filtered to enabled platforms\nconst enabledPlatforms = new Set((data.platforms || []).map(p => p.platform));\nconst allPlacements = (data.placements_data || []);\nconst availablePlacements = allPlacements.filter(p => enabledPlatforms.has(p.platform));\nconst placementListText = availablePlacements.length > 0\n  ? availablePlacements.map(p => {\n      const ratios = (p.aspect_ratios || []).join(', ');\n      const types = (p.supported_asset_types || []).join(', ');\n      return '- ' + p.code + ' (' + p.platform + ' ' + p.placement + '): ' + ratios + ' — ' + types;\n    }).join('\\n')\n  : 'No placements configured';\n\n\nconst themeSection = isGenericFallback\n  ? `## Theme Direction (Generic — Creative Freedom)\nThe client did not approve a specific theme this week. You have creative freedom to generate an appropriate theme.\n${theme_direction ? `The system suggested: \"${theme_direction}\" — you may use this as inspiration or create something better.` : ''}\n${theme_seed ? `Seed idea: ${theme_seed}` : ''}\n\nGenerate a theme that:\n- Is relevant to the current season/time of year\n- Aligns with what's performing well (see Brain insights)\n- Features inventory that needs to move (aging stock, new arrivals)\n- Feels fresh compared to recent themes`\n  : `## Approved Theme\nThe client has already approved this theme:\n- Name: ${theme_name}\n- Emoji: ${theme_emoji}\n- Direction: ${theme_direction}\n- Seed: ${theme_seed}\n\nYou MUST use this exact theme. Do NOT generate a new theme.`;\n\nconst userPrompt = `${themeSection}\n\n## This Week\nWeek of: ${params.week_start} to ${params.week_end}\nClient: ${params.client_name} (${params.slug})\nIndustry: ${params.industry}\n\n## Brain Insights (from last analysis)\n${JSON.stringify(brain, null, 2)}\n\n## Recent Themes (for context)\n- ${recentThemes}\n\n## Available Creative Assets\n\n### Avatars\n- ${avatarList}\n\n### Backgrounds\n- ${bgList}\n\n### Music\n- ${musicList}\n\n### Templates\n- ${templateList}\n\n### Platforms\n${platformList}\n\n### Enabled Ad Types\n${adTypesList}\n\n## Placement Targeting\nThe Brain recommends these placement priorities:\n- Focus: ${(brain.recommendations?.placement_mix?.focus || []).join(', ') || 'Not specified'}\n- Reduce: ${(brain.recommendations?.placement_mix?.reduce || []).join(', ') || 'None'}\n- Exclude: ${(brain.recommendations?.placement_mix?.exclude || []).join(', ') || 'None'}\n- Rationale: ${brain.recommendations?.placement_mix?.notes || 'No placement data yet'}\n\nAvailable placements and their constraints:\n${placementListText}\n\n## Background-Template Matching Rules\nEach template may have a bg_categories list (e.g., [\"exterior\", \"themed\"]). When selecting a background for a video asset, you MUST pick a background whose category is in the template's bg_categories list. If a template has no bg_categories, any background is allowed.\n\n## Inventory\n${invSummary}\n${inventoryTargetHint}\n\n### Top Vehicles (by days on lot)\n- ${featuredVehicles}\n\n## Ad Type Details\n- **video**: Requires a template, avatar, background, music. Used for video ads and organic/educational content.\n- **image**: Catalog-driven \"Always On\" image ad. No template needed — just ad copy (primary_text, headline, description). Runs continuously on Meta feeds.\n- **carousel**: Catalog-driven \"Always On\" carousel ad. No template needed — just ad copy. Shows multiple products from the inventory catalog.\n- **spark**: Boosted organic post. No template needed — selects a top-performing organic post to boost with a budget. Set default budget of $100 for 7 days.\n\n## Budget\nWeekly ad budget: $${params.weekly_budget || \"Not set\"}\nAllocate budget_percentage across paid assets so they sum to 100.\n\n## Instructions\nBuild the full asset plan around the approved theme above. Use the Brain insights to inform your creative direction and inventory strategy. The theme has already been approved — focus on selecting the best assets, placements, and inventory to maximize performance.`;\n\nreturn [{ json: {\n  ...params,\n  _userPrompt: userPrompt,\n  _approvers: data.approvers || [],\n  isGenericFallback: isGenericFallback\n}}];"
      }
    },
    {
      "id": "prep-claude",
      "name": "Prepare Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst isGenericFallback = data.isGenericFallback || false;\n\nlet systemPrompt = \"You are the Planner \\u2014 Ad Pilot's content planning agent for local business advertising.\\n\\nThe theme has already been approved by the client. You MUST use the approved theme name, emoji, seed, and direction exactly as provided. Focus on building the best possible asset plan around that theme.\\n\\nYour job is to create a weekly content plan that includes specific ad assets and organic content recommendations based on the approved theme. You use insights from the Brain (performance analysis agent) to make data-driven decisions.\\n\\n## Your output must be valid JSON matching this exact schema:\\n\\n{\\n  \\\"theme\\\": {\\n    \\\"name\\\": \\\"string \\u2014 USE THE APPROVED THEME NAME EXACTLY\\\",\\n    \\\"emoji\\\": \\\"string \\u2014 USE THE APPROVED EMOJI EXACTLY\\\",\\n    \\\"theme_seed\\\": \\\"string \\u2014 USE THE APPROVED SEED EXACTLY\\\",\\n    \\\"direction\\\": \\\"string \\u2014 USE THE APPROVED DIRECTION EXACTLY\\\",\\n    \\\"ad_message\\\": \\\"string \\u2014 core message for paid ads this week\\\",\\n    \\\"edu_message\\\": \\\"string \\u2014 educational/organic content angle\\\"\\n  },\\n  \\\"inventory_target\\\": \\\"string \\u2014 one of: 'Aged Inventory', 'Recent Arrivals', 'Budget Friendly', 'Featured Products', 'Premium Picks'\\\",\\n  \\\"inventory_description\\\": \\\"string \\u2014 1 sentence explaining why this inventory target was chosen\\\",\\n  \\\"experiment\\\": {\\n    \\\"name\\\": \\\"string \\u2014 short name for this week's creative experiment (e.g., '18-45 Audience Segment')\\\",\\n    \\\"goal\\\": \\\"string \\u2014 what we hope to learn (e.g., 'Increase engagement from the 18-45 demographic.')\\\",\\n    \\\"approach\\\": \\\"string \\u2014 how we'll test it (e.g., 'Testing shorter hooks on vertical platforms.')\\\"\\n  },\\n  \\\"always_on\\\": {\\n    \\\"status\\\": \\\"active | paused \\u2014 whether catalog/DPA ads should stay active this week\\\",\\n    \\\"copy_refresh\\\": \\\"boolean \\u2014 true if catalog ad copy should be refreshed\\\",\\n    \\\"copy_direction\\\": \\\"string or null \\u2014 direction for new copy if copy_refresh is true\\\"\\n  },\\n  \\\"assets\\\": [\\n    {\\n      \\\"asset_type\\\": \\\"paid | organic\\\",\\n      \\\"ad_format\\\": \\\"video | image | carousel | spark\\\",\\n      \\\"template_id\\\": \\\"uuid of selected template (null for image/carousel/spark)\\\",\\n      \\\"template_name\\\": \\\"name of template (or 'Image Ad' / 'Carousel Ad' / 'Spark Ad')\\\",\\n      \\\"title\\\": \\\"string — descriptive strategic title for this asset (NOT the template name)\\\",\\n      \\\"avatar_id\\\": \\\"uuid of selected avatar (null for image/carousel/spark)\\\",\\n      \\\"avatar_name\\\": \\\"display name of avatar (null for image/carousel/spark)\\\",\\n      \\\"background_id\\\": \\\"uuid \\u2014 REQUIRED for video assets, null for image/carousel/spark\\\",\\n      \\\"background_name\\\": \\\"string \\u2014 label of the background (REQUIRED for video assets, null for others)\\\",\\n      \\\"music_id\\\": \\\"song_id string \\u2014 REQUIRED for video assets, null for image/carousel/spark\\\",\\n      \\\"music_name\\\": \\\"string \\u2014 name/title of the song (REQUIRED for video assets, null for others)\\\",\\n      \\\"target_length\\\": \\\"brief | standard | extended (video only)\\\",\\n      \\\"budget_percentage\\\": \\\"number \\u2014 percentage of weekly ad budget for this asset (paid assets only, must sum to 100 across all paid assets)\\\",\\n      \\\"inventory_items\\\": [\\n        { \\\"id\\\": \\\"uuid\\\", \\\"display\\\": \\\"vehicle title\\\" }\\n      ],\\n      \\\"target_placements\\\": [\\\"fb_feed\\\", \\\"ig_reels\\\"],\\n      \\\"ad_copy\\\": {\\n        \\\"primaryText\\\": \\\"string \\u2014 main ad text (for image/carousel only)\\\",\\n        \\\"headline\\\": \\\"string \\u2014 short headline (for image/carousel only)\\\",\\n        \\\"description\\\": \\\"string \\u2014 description line (for image/carousel only)\\\",\\n        \\\"callToAction\\\": \\\"Shop Now | Learn More | Get Offer\\\"\\n      },\\n      \\\"boost_metrics\\\": {\\n        \\\"budget\\\": 100,\\n        \\\"duration\\\": 7,\\n        \\\"targetAudience\\\": \\\"string description (for spark only)\\\"\\n      },\\n      \\\"organic_content_type\\\": \\\"string \\u2014 for organic assets: educational | behind_the_scenes | testimonial | tip | how_to\\\",\\n      \\\"organic_platform\\\": \\\"string \\u2014 for organic assets: tiktok | instagram | facebook\\\",\\n      \\\"organic_day_of_week\\\": \\\"string \\u2014 suggested day to post: Monday | Tuesday | ... | Sunday\\\",\\n      \\\"organic_brief\\\": \\\"string \\u2014 1-2 sentence brief for the organic post\\\",\\n      \\\"rationale\\\": \\\"Why this combination works for this week's goals\\\"\\n    }\\n  ],\\n  \\\"organic_posts\\\": [\\n    {\\n      \\\"type\\\": \\\"educational | behind_the_scenes | testimonial | tip\\\",\\n      \\\"topic\\\": \\\"What this post is about\\\",\\n      \\\"platform\\\": \\\"tiktok | instagram | facebook\\\",\\n      \\\"hook\\\": \\\"Opening line to grab attention\\\"\\n    }\\n  ],\\n  \\\"idea_ping_summary\\\": \\\"string \\u2014 2-3 sentence summary of the plan. Explain what the ads will focus on. Keep it conversational and exciting.\\\"\\n}\\n\\n## Rules:\\n1. Use the APPROVED THEME exactly as provided \\u2014 do NOT generate a new theme name, emoji, seed, or direction.\\n2. Use Brain insights to inform decisions (e.g., if Multi-Item templates perform best, prioritize them).\\n3. Feature aged inventory (45+ days) when available \\u2014 these need exposure.\\n4. Create EXACTLY 1 paid video asset per enabled template type. Do NOT create duplicates \\u2014 one Multi Item, one Spotlight, etc.\\n5. Include EXACTLY 1 organic/educational video asset if an organic template exists.\\n6. Multi-item templates MUST have 3-5 inventory_items with valid vehicle IDs from the \\\"Top Vehicles\\\" list. Spotlight templates MUST have exactly 1 inventory_item. Do NOT leave inventory_items empty for templates that require items.\\n7. For each non-video ad type that is enabled (image, carousel, spark), create EXACTLY 1 asset:\\n   - **image** (ad_format: \\\"image\\\"): Set template_id, avatar_id, music_id, music_name to null. template_name = \\\"Image Ad\\\". Provide ad_copy with primaryText, headline, description, callToAction. target_placements should be feed placements only (fb_feed, ig_feed).\\n   - **carousel** (ad_format: \\\"carousel\\\"): Set template_id, avatar_id, music_id, music_name to null. template_name = \\\"Carousel Ad\\\". Provide ad_copy with primaryText, headline, description, callToAction. target_placements should be feed placements only (fb_feed, ig_feed).\\n   - **spark** (ad_format: \\\"spark\\\"): Set template_id, avatar_id, music_id, music_name to null. template_name = \\\"Spark Ad (Boosted Post)\\\". Provide boost_metrics with budget (default 100), duration (default 7), and targetAudience. No ad_copy needed.\\n8. For video assets, set ad_format to \\\"video\\\". For organic/educational, also set ad_format to \\\"video\\\".\\n9. Pick avatars and backgrounds that match the theme vibe (for video assets only).\\n10. The idea_ping_summary should summarize the plan \\u2014 friendly, brief, no jargon.\\n11. Suggest 1-2 organic post ideas that complement the paid ads theme.\\n12. Use ONLY the asset IDs provided in the context \\u2014 do not invent IDs.\\n13. Assign target_placements to each asset based on the Brain's placement_mix recommendations. Focus placements should appear on most assets. Reduce placements on fewer. Excluded placements should not appear at all. Only assign placements that support the asset's type (e.g., don't put carousel on a reels placement). Use the exact placement codes from the \\\"Available placements\\\" list in the context.\\n14. Ad copy for image/carousel should be themed to match the week's creative direction. Keep primaryText under 125 chars, headline under 40 chars.\\n15. Video assets MUST have a non-null music_id (a valid song_id from the Music list) AND music_name (the song title).\\n16. Video assets MUST have a non-null background_id (a valid id from the Backgrounds list) AND background_name (the background label). The background's category MUST be in the template's bg_categories list. If the template has no bg_categories restriction, any background is allowed.\\n17. You MUST include inventory_target (one of the allowed values) and inventory_description (1 sentence).\\n18. You MUST include the experiment object with name, goal, and approach fields.\\n19. budget_percentage MUST be set for every paid asset (asset_type = \\\"paid\\\"). The values across all paid assets MUST sum to exactly 100. Allocate budget proportionally \\u2014 video ads typically get the largest share, followed by image/carousel, then spark/boost.\\n20. For organic video assets, set organic_content_type, organic_platform, organic_day_of_week, and organic_brief. The organic_brief should describe what the post should cover.\\n21. Include the always_on object. Set status to \\\"active\\\" unless Brain data suggests pausing catalog ads. Set copy_refresh to true if it has been 2+ weeks since catalog copy was last updated (assume it needs a refresh if no data).\\n\\n22. For each asset, generate a descriptive title that captures the strategic intent, NOT the template type.\\nGood titles explain WHY this ad was planned:\\n- 'Put That Refund to Work \\u2014 4 Budget Vehicles' (theme-driven)\\n- '3 SUVs That Need New Homes This Week' (inventory/aging stock)\\n- 'Spring Savings on Featured Minivans' (seasonal)\\n- 'Credit Score 101: What Lenders Actually Look At' (educational)\\n- 'Customer Spotlight: The Johnson Family' (community/organic)\\n\\nBad titles are just template names like Multi Item, Single Item Spotlight, or Educational.\\nThe title should feel like a mini-headline that a client would understand and get excited about.\\n\\nReturn ONLY the JSON object, no markdown fences, no explanation.\";\n\n// If generic fallback, relax theme rules in system prompt\nif (isGenericFallback) {\n  systemPrompt = systemPrompt.replace(\n    'The theme has already been approved by the client. You MUST use the approved theme name, emoji, seed, and direction exactly as provided. Focus on building the best possible asset plan around that theme.',\n    'No specific theme was approved this week. You have creative freedom to generate an appropriate, creative theme based on Brain insights and seasonal relevance.'\n  );\n  systemPrompt = systemPrompt.replace(\n    'Use the APPROVED THEME exactly as provided \\u2014 do NOT generate a new theme name, emoji, seed, or direction.',\n    'Generate an appropriate, creative theme based on Brain insights and seasonal relevance. Pick a theme name, emoji, seed, and direction that will resonate with the target audience.'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"name\": \"string \\u2014 USE THE APPROVED THEME NAME EXACTLY\"',\n    '\"name\": \"string \\u2014 generate a creative, relevant theme name\"'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"emoji\": \"string \\u2014 USE THE APPROVED EMOJI EXACTLY\"',\n    '\"emoji\": \"string \\u2014 pick a fitting emoji for the theme\"'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"theme_seed\": \"string \\u2014 USE THE APPROVED SEED EXACTLY\"',\n    '\"theme_seed\": \"string \\u2014 the core concept behind the theme\"'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"direction\": \"string \\u2014 USE THE APPROVED DIRECTION EXACTLY\"',\n    '\"direction\": \"string \\u2014 describe how the theme should feel and look\"'\n  );\n}\n\nreturn [{ json: {\n  ...data,\n  _claudeBody: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 4096,\n    temperature: 0.5,\n    system: systemPrompt,\n    messages: [\n      { role: 'user', content: data._userPrompt }\n    ]\n  }\n}}];"
      }
    },
    {
      "id": "call-claude",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._claudeBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "Cias5aAJewPKMMCa",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "validate-json",
      "name": "Validate Plan JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "jsCode": "const promptData = $('Prepare Claude Request').first().json;\nconst response = $input.first().json;\n\nlet plan = null;\nlet parseError = '';\n\ntry {\n  let text = '';\n  if (response.content && response.content[0]) {\n    text = response.content[0].text || '';\n  } else if (response.error) {\n    throw new Error('API error: ' + JSON.stringify(response.error));\n  }\n\n  // Clean markdown fences\n  text = text.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  plan = JSON.parse(text);\n\n  // Validate required fields\n  if (!plan.theme || !plan.theme.name) throw new Error('Missing theme.name');\n  if (!plan.theme.emoji) throw new Error('Missing theme.emoji');\n  if (!plan.theme.direction) throw new Error('Missing theme.direction');\n  if (!plan.assets || !Array.isArray(plan.assets)) throw new Error('Missing assets array');\n  if (plan.assets.length === 0) throw new Error('Empty assets array');\n  if (!plan.idea_ping_summary) throw new Error('Missing idea_ping_summary');\n\n  // New validations for expanded fields\n  if (!plan.inventory_target) throw new Error('Missing inventory_target');\n  if (!plan.inventory_description) throw new Error('Missing inventory_description');\n  if (!plan.experiment || !plan.experiment.name) throw new Error('Missing experiment.name');\n  if (!plan.experiment.goal) throw new Error('Missing experiment.goal');\n  if (!plan.experiment.approach) throw new Error('Missing experiment.approach');\n  if (!plan.theme.theme_seed) throw new Error('Missing theme.theme_seed');\n\n  // Validate video assets have music_id and background_id\n  for (let i = 0; i < plan.assets.length; i++) {\n    const asset = plan.assets[i];\n    if (asset.ad_format === 'video') {\n      if (!asset.music_id) throw new Error('Video asset ' + i + ' missing music_id');\n      if (!asset.background_id) throw new Error('Video asset ' + i + ' missing background_id');\n      if (!asset.music_name) throw new Error('Video asset ' + i + ' missing music_name');\n      if (!asset.background_name) throw new Error('Video asset ' + i + ' missing background_name');\n    }\n    // Default title to template_name if Claude didn't generate one\n    if (!asset.title) {\n      asset.title = asset.template_name || ('Asset ' + (i + 1));\n    }\n  }\n\n  // Validate budget_percentage on paid assets sums to ~100 (±2% tolerance)\n  const paidAssets = plan.assets.filter(a => a.asset_type === 'paid');\n  if (paidAssets.length > 0) {\n    const budgetSum = paidAssets.reduce((sum, a) => sum + (parseFloat(a.budget_percentage) || 0), 0);\n    if (Math.abs(budgetSum - 100) > 2) {\n      // Normalize: adjust proportionally so they sum to exactly 100\n      const factor = 100 / budgetSum;\n      for (const a of paidAssets) {\n        a.budget_percentage = Math.round((parseFloat(a.budget_percentage) || 0) * factor * 100) / 100;\n      }\n      // Fix rounding: adjust last asset\n      const newSum = paidAssets.slice(0, -1).reduce((s, a) => s + a.budget_percentage, 0);\n      paidAssets[paidAssets.length - 1].budget_percentage = Math.round((100 - newSum) * 100) / 100;\n    }\n  }\n\n  // Default always_on if missing\n  if (!plan.always_on) {\n    plan.always_on = { status: 'active', copy_refresh: false, copy_direction: null };\n  }\n\n} catch (err) {\n  parseError = err.message;\n}\n\nconst isValid = plan !== null && parseError === '';\n\nreturn [{ json: {\n  client_id: promptData.client_id,\n  client_name: promptData.client_name,\n  slug: promptData.slug,\n  week_start: promptData.week_start,\n  week_end: promptData.week_end,\n  weekly_budget: promptData.weekly_budget,\n  _approvers: promptData._approvers,\n  _isValid: isValid,\n  _plan: plan,\n  _parseError: parseError,\n  _force: promptData._force\n}}];"
      }
    },
    {
      "id": "if-valid",
      "name": "Plan Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json._isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      }
    },
    {
      "id": "write-plan",
      "name": "Write Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM assets WHERE plan_id = '{{ $('Fetch Plan').first().json.plan_id }}'::uuid;\n\nUPDATE weekly_plans SET\n  status = 'draft',\n  theme_name = '{{ ($json._plan.theme.name || \"\").replace(/'/g, \"''\") }}',\n  theme_emoji = '{{ ($json._plan.theme.emoji || \"\").replace(/'/g, \"''\") }}',\n  theme_seed = '{{ ($json._plan.theme.theme_seed || \"\").replace(/'/g, \"''\") }}',\n  theme_direction = '{{ ($json._plan.theme.direction || \"\").replace(/'/g, \"''\") }}',\n  theme_ad_message = '{{ $json._plan.theme.ad_message.replace(/'/g, \"''\") }}',\n  theme_edu_message = '{{ $json._plan.theme.edu_message.replace(/'/g, \"''\") }}',\n  inventory_description = '{{ ($json._plan.inventory_description || \"\").replace(/'/g, \"''\") }}',\n  experiment_name = '{{ ($json._plan.experiment.name || \"\").replace(/'/g, \"''\") }}',\n  experiment_goal = '{{ ($json._plan.experiment.goal || \"\").replace(/'/g, \"''\") }}',\n  experiment_approach = '{{ ($json._plan.experiment.approach || \"\").replace(/'/g, \"''\") }}',\n  total_paid_ads = {{ $json._plan.assets.filter(a => a.asset_type === 'paid').length }},\n  total_organic = {{ $json._plan.assets.filter(a => a.asset_type === 'organic').length }},\n  always_on_status = '{{ ($json._plan.always_on && $json._plan.always_on.status) || \"active\" }}',\n  always_on_copy_refresh = {{ $json._plan.always_on && $json._plan.always_on.copy_refresh ? 'true' : 'false' }},\n  always_on_copy_direction = {{ $json._plan.always_on && $json._plan.always_on.copy_direction ? \"'\" + ($json._plan.always_on.copy_direction || \"\").replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  updated_at = NOW()\nWHERE id = '{{ $('Fetch Plan').first().json.plan_id }}'::uuid\nRETURNING id, client_id, week_start",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "write-assets",
      "name": "Write Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ],
      "parameters": {
        "jsCode": "// Build INSERT data for each asset, including computed planned_outputs\nconst planRow = $input.first().json;\nconst planData = $('Validate Plan JSON').first().json;\nconst assets = planData._plan.assets || [];\nconst planId = planRow.id;\n\n// Get placements and ad_types from the Run All Queries CTE\nconst queryData = $('Run All Queries').first().json;\nconst allPlacements = queryData.placements_data || [];\nconst enabledAdTypes = (queryData.ad_types || []).map(t => t.asset_type);\n// Get enabled platforms from the query data\nconst enabledPlatforms = (queryData.platforms || []).map(p => p.platform);\n\n// Filter placements to enabled platforms\nconst availablePlacements = allPlacements.filter(p => enabledPlatforms.includes(p.platform));\n\n// Build planned_outputs for a given asset type (matches generate route logic)\nfunction buildPlannedOutputs(assetType) {\n  const supported = availablePlacements.filter(\n    p => p.supported_asset_types.includes(assetType)\n  );\n  const byRatio = {};\n  for (const p of supported) {\n    for (const ratio of p.aspect_ratios) {\n      if (!byRatio[ratio]) byRatio[ratio] = [];\n      byRatio[ratio].push(p.code);\n    }\n  }\n  const outputs = [];\n  for (const [ratio, codes] of Object.entries(byRatio)) {\n    outputs.push({ aspect_ratio: ratio, platforms: codes, credits: 1 });\n  }\n  // Sort: 9:16 first, then 4:5, then 16:9\n  const order = ['9:16', '4:5', '16:9'];\n  outputs.sort((a, b) => {\n    const ai = order.indexOf(a.aspect_ratio);\n    const bi = order.indexOf(b.aspect_ratio);\n    return (ai === -1 ? 999 : ai) - (bi === -1 ? 999 : bi);\n  });\n  return outputs;\n}\n\n// Determine ad_format from template info\nfunction getAdFormat(asset) {\n  const name = (asset.template_name || '').toLowerCase();\n  if (name.includes('image')) return 'image';\n  if (name.includes('carousel')) return 'carousel';\n  if (name.includes('spark') || name.includes('boost')) return 'spark';\n  return 'video';\n}\n\n// Escape single quotes for SQL interpolation\nfunction escSql(str) {\n  return (str || '').replace(/'/g, \"''\");\n}\n\n\n// Map template codes to video recipe slugs (Phase 2)\nconst TEMPLATE_TO_RECIPE = {\n  'MULTI-ITEM-1': 'auto-multi-item',\n  'SINGLE-ITEM-SPOTLIGHT-1': 'auto-spotlight',\n  'EDUCATIONAL-1': 'edu-avatar-only'\n};\n\n// Lookup video_recipe_id from DB (fetched in Run All Queries)\nconst videoRecipes = queryData.video_recipes || [];\nfunction getVideoRecipeId(templateId) {\n  if (!templateId) return null;\n  const slug = TEMPLATE_TO_RECIPE[templateId.toUpperCase()];\n  if (!slug) return null;\n  const recipe = videoRecipes.find(r => r.slug === slug);\n  return recipe ? recipe.id : null;\n}\n\nreturn assets.map((asset, i) => {\n  const adFormat = asset.ad_format || getAdFormat(asset);\n  const isOrganic = asset.asset_type === 'organic';\n  const isPaid = asset.asset_type === 'paid';\n  const isVideo = adFormat === 'video';\n  let plannedOutputs = buildPlannedOutputs(adFormat);\n  // Organic/educational: typically 9:16 only\n  if (isOrganic) {\n    plannedOutputs = plannedOutputs.filter(o => o.aspect_ratio === '9:16');\n  }\n\n  const row = {\n    plan_id: planId,\n    asset_type: asset.asset_type || 'paid',\n    template_id: isVideo ? (asset.template_id || null) : null,\n    template_name: escSql(asset.template_name || ''),\n    title: escSql(asset.title || ''),\n    avatars: escSql(JSON.stringify(isVideo && asset.avatar_id ? [{ key: 'Avatar-1', avatar_id: asset.avatar_id, name: asset.avatar_name }] : [])),\n    music_id: isVideo ? (asset.music_id || null) : null,\n    music_name: isVideo ? escSql(asset.music_name || '') : null,\n    background_id: isVideo ? (asset.background_id || null) : null,\n    background_name: isVideo ? escSql(asset.background_name || '') : null,\n    target_length: isVideo ? (asset.target_length || 'brief') : 'brief',\n    inventory_items: escSql(JSON.stringify(asset.inventory_items || [])),\n    planned_outputs: JSON.stringify(plannedOutputs),\n    included: true,\n    sort_order: i,\n    target_placements: escSql(JSON.stringify(asset.target_placements || [])),\n    ad_copy: (adFormat === 'image' || adFormat === 'carousel') && asset.ad_copy\n      ? escSql(JSON.stringify(asset.ad_copy))\n      : null,\n    boost_content_id: adFormat === 'spark' ? (asset.boost_content_id || null) : null,\n    boost_metrics: adFormat === 'spark' && asset.boost_metrics\n      ? escSql(JSON.stringify(asset.boost_metrics))\n      : null,\n    // NEW: budget percentage for paid assets\n    budget_percentage: isPaid ? (asset.budget_percentage || null) : null,\n    // NEW: organic metadata\n    organic_content_type: isOrganic ? (asset.organic_content_type || null) : null,\n    organic_platform: isOrganic ? (asset.organic_platform || null) : null,\n    organic_day_of_week: isOrganic ? (asset.organic_day_of_week || null) : null,\n    organic_brief: isOrganic ? escSql(asset.organic_brief || '') : null,\n    video_recipe_id: isVideo ? getVideoRecipeId(asset.template_id) : null,\n    _planData: planData,\n    _planId: planId\n  };\n\n  return { json: row };\n});"
      }
    },
    {
      "id": "insert-assets",
      "name": "Insert Assets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO assets (\n  id, plan_id, asset_type, template_id, template_name, title,\n  avatars, music_id, music_name, background_id, background_name,\n  target_length, inventory_items, planned_outputs,\n  included, sort_order, target_placements,\n  ad_copy, boost_content_id, boost_metrics,\n  budget_percentage,\n  organic_content_type, organic_platform, organic_day_of_week, organic_brief,\n  video_recipe_id,\n  created_at, updated_at\n) VALUES (\n  gen_random_uuid(),\n  '{{ $json.plan_id }}'::uuid,\n  '{{ $json.asset_type }}',\n  {{ $json.template_id ? \"'\" + $json.template_id + \"'::uuid\" : 'NULL' }},\n  '{{ ($json.template_name || \"\").replace(/'/g, \"''\") }}',\n  {{ $json.title ? \"'\" + $json.title + \"'\" : 'NULL' }},\n  '{{ $json.avatars }}'::jsonb,\n  {{ $json.music_id ? \"'\" + $json.music_id + \"'\" : 'NULL' }},\n  {{ $json.music_name ? \"'\" + $json.music_name + \"'\" : 'NULL' }},\n  {{ $json.background_id ? \"'\" + $json.background_id + \"'\" : 'NULL' }},\n  {{ $json.background_name ? \"'\" + $json.background_name + \"'\" : 'NULL' }},\n  '{{ $json.target_length }}',\n  '{{ $json.inventory_items }}'::jsonb,\n  '{{ $json.planned_outputs }}'::jsonb,\n  {{ $json.included }},\n  {{ $json.sort_order }},\n  '{{ $json.target_placements }}'::jsonb,\n  {{ $json.ad_copy ? \"'\" + $json.ad_copy + \"'::jsonb\" : 'NULL' }},\n  {{ $json.boost_content_id ? \"'\" + $json.boost_content_id + \"'\" : 'NULL' }},\n  {{ $json.boost_metrics ? \"'\" + $json.boost_metrics + \"'::jsonb\" : 'NULL' }},\n  {{ $json.budget_percentage != null ? $json.budget_percentage : 'NULL' }},\n  {{ $json.organic_content_type ? \"'\" + $json.organic_content_type + \"'\" : 'NULL' }},\n  {{ $json.organic_platform ? \"'\" + $json.organic_platform + \"'\" : 'NULL' }},\n  {{ $json.organic_day_of_week ? \"'\" + $json.organic_day_of_week + \"'\" : 'NULL' }},\n  {{ $json.organic_brief ? \"'\" + $json.organic_brief + \"'\" : 'NULL' }},\n  {{ $json.video_recipe_id ? \"'\" + $json.video_recipe_id + \"'::uuid\" : 'NULL' }},\n  NOW(), NOW()\n)\nRETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "prep-admin-email",
      "name": "Prepare Admin Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        300
      ],
      "parameters": {
        "jsCode": "const planData = $('Validate Plan JSON').first().json;\nconst fetchData = $('Fetch Plan').first().json;\nconst assets = planData._plan.assets || [];\n\nconst htmlBody = '<h2>' + fetchData.theme_emoji + ' ' + fetchData.theme_name + '</h2>' +\n  '<p><strong>Client:</strong> ' + fetchData.client_name + '</p>' +\n  '<p><strong>Week:</strong> ' + fetchData.week_start + '</p>' +\n  '<p><strong>Direction:</strong> ' + fetchData.theme_direction + '</p>' +\n  '<p><strong>Assets:</strong> ' + assets.length + ' (' + assets.filter(a => a.asset_type === 'paid').length + ' paid, ' + assets.filter(a => a.asset_type === 'organic').length + ' organic)</p>' +\n  '<hr>' +\n  '<p>Full plan generated. Awaiting client confirmation on Manage Plan page.</p>';\n\nreturn [{ json: {\n  _emailBody: {\n    from: 'Ad Pilot <notifications@ad-pilot.ai>',\n    to: ['kelly@ad-pilot.ai'],\n    subject: '[Planner] ' + fetchData.theme_emoji + ' Plan built for ' + fetchData.client_name + ' (week of ' + fetchData.week_start + ')',\n    html: htmlBody\n  }\n}}];"
      }
    },
    {
      "id": "admin-email",
      "name": "Email Kelly (Admin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "oConQlSBx8Yjco2M",
          "name": "Resend"
        }
      }
    },
    {
      "id": "prep-error-email",
      "name": "Prepare Error Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        600
      ],
      "parameters": {
        "jsCode": "const data = $('Validate Plan JSON').first().json;\n\nreturn [{ json: {\n  _emailBody: {\n    from: 'Ad Pilot <notifications@ad-pilot.ai>',\n    to: ['kelly@ad-pilot.ai'],\n    subject: '[Planner ERROR] Failed to generate plan for ' + data.client_name,\n    html: '<h2>Planner Parse Error</h2>' +\n      '<p><strong>Client:</strong> ' + data.client_name + '</p>' +\n      '<p><strong>Week:</strong> ' + data.week_start + '</p>' +\n      '<p><strong>Error:</strong> ' + data._parseError + '</p>' +\n      '<hr><p>The Planner agent returned invalid JSON. Please check the n8n execution log.</p>'\n  }\n}}];"
      }
    },
    {
      "id": "error-email",
      "name": "Error Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "oConQlSBx8Yjco2M",
          "name": "Resend"
        }
      }
    },
    {
      "id": "no-brain-email",
      "name": "No Brain Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        600
      ],
      "parameters": {
        "jsCode": "const data = $('Check Brain Exists').first().json;\nreturn [{ json: {\n  _emailBody: {\n    from: 'Ad Pilot <notifications@ad-pilot.ai>',\n    to: ['kelly@ad-pilot.ai'],\n    subject: '[Planner SKIP] No Brain data for ' + (data.client_name || data.client_id),\n    html: '<p>' + data.message + '</p>'\n  }\n}}];"
      }
    },
    {
      "id": "no-brain-send",
      "name": "Send Skip Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "oConQlSBx8Yjco2M",
          "name": "Resend"
        }
      }
    },
    {
      "id": "fetch-plan",
      "name": "Fetch Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wp.id AS plan_id, wp.client_id::text, wp.theme_name, wp.theme_emoji, \n       wp.theme_direction, wp.theme_seed, wp.inventory_target, wp.inventory_description,\n       wp.idea_ping_summary, wp.status, wp.week_start::text, wp.week_end::text,\n       wp.weekly_budget, wp.approved_by,\n       c.slug, c.name AS client_name, c.industry\nFROM weekly_plans wp\nJOIN clients c ON wp.client_id = c.id\nWHERE wp.id = '{{ $json.body.plan_id }}'::uuid",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "guard-status",
      "name": "Guard Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "jsCode": "const plan = $input.first().json;\nif (plan.status !== 'idea_approved') {\n  return [{ json: { _skip: true, message: 'Plan status is ' + plan.status + ', expected idea_approved' }}];\n}\nreturn [{ json: { _skip: false, ...plan }}];"
      }
    },
    {
      "id": "if-status-ok",
      "name": "Status OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Plan": {
      "main": [
        [
          {
            "node": "Guard Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Status": {
      "main": [
        [
          {
            "node": "Status OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status OK?": {
      "main": [
        [
          {
            "node": "Run All Queries",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run All Queries": {
      "main": [
        [
          {
            "node": "Check Brain Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Brain Exists": {
      "main": [
        [
          {
            "node": "Brain Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain Exists?": {
      "main": [
        [
          {
            "node": "Assemble Planner Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Brain Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Brain Email": {
      "main": [
        [
          {
            "node": "Send Skip Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Planner Prompt": {
      "main": [
        [
          {
            "node": "Prepare Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Request": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Validate Plan JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Plan JSON": {
      "main": [
        [
          {
            "node": "Plan Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Valid?": {
      "main": [
        [
          {
            "node": "Write Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Plan": {
      "main": [
        [
          {
            "node": "Write Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Assets": {
      "main": [
        [
          {
            "node": "Insert Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Assets": {
      "main": [
        [
          {
            "node": "Prepare Admin Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Admin Email": {
      "main": [
        [
          {
            "node": "Email Kelly (Admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Email": {
      "main": [
        [
          {
            "node": "Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d3d5098e-c960-44b3-9aba-d8419327e7f4",
  "activeVersionId": "d3d5098e-c960-44b3-9aba-d8419327e7f4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-12T18:24:06.924Z",
      "createdAt": "2026-02-12T18:24:06.924Z",
      "role": "workflow:owner",
      "workflowId": "0bgi8ne2AOmS8h6f",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-26T23:46:24.822Z",
    "createdAt": "2026-03-26T23:46:24.822Z",
    "versionId": "d3d5098e-c960-44b3-9aba-d8419327e7f4",
    "workflowId": "0bgi8ne2AOmS8h6f",
    "nodes": [
      {
        "id": "trigger-manual",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -200,
          100
        ],
        "parameters": {}
      },
      {
        "id": "trigger-webhook",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -200,
          500
        ],
        "parameters": {
          "path": "planner-agent",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        },
        "webhookId": "planner-agent"
      },
      {
        "id": "run-queries",
        "name": "Run All Queries",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          800,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH\nbrain AS (\n  SELECT bi.insights\n  FROM brain_insights bi\n  JOIN clients c ON c.slug = bi.client_id\n  WHERE c.id = '{{ $('Fetch Plan').first().json.client_id }}'\n  ORDER BY bi.week_start DESC LIMIT 1\n),\nrecent_plans AS (\n  SELECT theme_name, theme_emoji, theme_direction, week_start\n  FROM weekly_plans\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}'\n  ORDER BY week_start DESC LIMIT 4\n),\navatars AS (\n  SELECT a.id, a.style_name, a.motion_preset, p.display_name AS person_name\n  FROM avatars a\n  JOIN client_avatars ca ON ca.avatar_id = a.id\n  LEFT JOIN persons p ON a.person_id = p.id\n  WHERE ca.client_id = '{{ $('Fetch Plan').first().json.client_id }}'\n    AND a.is_active = true AND a.is_deleted = false\n    AND a.approval_status = 'approved' AND a.is_demo = false\n  LIMIT 50\n),\nbackgrounds AS (\n  SELECT id, label, category\n  FROM client_backgrounds\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND active = true\n),\nmusic AS (\n  SELECT cm.id, cm.song_id, s.name AS song_title, s.genre\n  FROM client_music cm\n  LEFT JOIN songs s ON cm.song_id = s.id::text\n  WHERE cm.client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND cm.active = true\n),\ntemplates AS (\n  SELECT DISTINCT t.id, t.name, t.asset_type, t.item_count_min, t.item_count_max, t.bg_categories\n  FROM templates t\n  JOIN client_templates ct ON ct.template_id = t.id\n  WHERE ct.client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND ct.is_active = true AND t.is_active = true\n),\nplatforms AS (\n  SELECT platform, is_enabled\n  FROM client_platforms\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND is_enabled = true\n),\ninventory_summary AS (\n  SELECT\n    COUNT(*) AS total_count,\n    COUNT(*) FILTER (WHERE first_seen_at <= NOW() - INTERVAL '45 days') AS aged_count,\n    COUNT(*) FILTER (WHERE first_seen_at >= NOW() - INTERVAL '7 days') AS new_arrivals,\n    MIN(price) AS min_price,\n    MAX(price) AS max_price,\n    ROUND(AVG(price)::numeric, 0) AS avg_price\n  FROM inventory_items\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND status = 'active'\n),\nfeatured_inventory AS (\n  SELECT id, title, price, EXTRACT(DAY FROM NOW() - first_seen_at)::int AS days_on_lot, COALESCE(hero_cloudinary_url, hero_image_url) AS thumbnail\n  FROM inventory_items\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND status = 'active'\n    AND COALESCE(hero_cloudinary_url, hero_image_url) IS NOT NULL\n  ORDER BY first_seen_at ASC NULLS LAST\n  LIMIT 20\n),\napprovers AS (\n  SELECT p.id AS person_id, p.email, p.first_name, p.notification_preference\n  FROM client_persons cp\n  JOIN persons p ON cp.person_id = p.id\n  WHERE cp.client_id = '{{ $('Fetch Plan').first().json.client_id }}'\n    AND cp.can_approve_plans = true\n    AND cp.is_active = true\n),\nplacements AS (\n  SELECT code, platform, placement, aspect_ratios, supported_asset_types\n  FROM placements\n  WHERE is_active = true\n  ORDER BY sort_order\n),\nad_types AS (\n  SELECT asset_type, is_enabled\n  FROM client_ad_types\n  WHERE client_id = '{{ $('Fetch Plan').first().json.client_id }}' AND is_enabled = true\n)\nvideo_recipes AS (\n  SELECT id, slug, name, industry FROM video_recipes WHERE is_active = true\n)\nSELECT\n  (SELECT json_agg(row_to_json(brain)) FROM brain) AS brain,\n  (SELECT json_agg(row_to_json(recent_plans)) FROM recent_plans) AS recent_plans,\n  (SELECT json_agg(row_to_json(avatars)) FROM avatars) AS avatars,\n  (SELECT json_agg(row_to_json(backgrounds)) FROM backgrounds) AS backgrounds,\n  (SELECT json_agg(row_to_json(music)) FROM music) AS music,\n  (SELECT json_agg(row_to_json(templates)) FROM templates) AS templates,\n  (SELECT json_agg(row_to_json(platforms)) FROM platforms) AS platforms,\n  (SELECT row_to_json(inventory_summary) FROM inventory_summary) AS inventory_summary,\n  (SELECT json_agg(row_to_json(featured_inventory)) FROM featured_inventory) AS featured_inventory,\n  (SELECT json_agg(row_to_json(approvers)) FROM approvers) AS approvers,\n  (SELECT json_agg(row_to_json(placements)) FROM placements) AS placements_data,\n  (SELECT json_agg(row_to_json(ad_types)) FROM ad_types) AS ad_types,\n  (SELECT json_agg(row_to_json(video_recipes)) FROM video_recipes) AS video_recipes",
          "options": {
            "alwaysOutputData": true
          }
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "check-brain",
        "name": "Check Brain Exists",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          300
        ],
        "parameters": {
          "jsCode": "const params = $('Fetch Plan').first().json;\nconst q = $input.first().json;\n\nconst brain = q.brain;\nif (!brain || brain.length === 0) {\n  return [{ json: {\n    _hasBrain: false,\n    client_id: params.client_id,\n    client_name: params.client_name,\n    message: 'No Brain insights found for ' + params.client_name + '. Run Brain Analysis first.'\n  }}];\n}\n\nreturn [{ json: {\n  _hasBrain: true,\n  ...params,\n  _data: q\n}}];"
        }
      },
      {
        "id": "if-brain",
        "name": "Brain Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "brain-check",
                "leftValue": "={{ $json._hasBrain }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          }
        }
      },
      {
        "id": "assemble-prompt",
        "name": "Assemble Planner Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          300
        ],
        "parameters": {
          "jsCode": "const params = $input.first().json;\nconst data = params._data;\nconst brain = data.brain[0]?.insights || data.brain[0];\n\n// Approved theme from the plan\nconst theme_name = params.theme_name || '';\nconst theme_emoji = params.theme_emoji || '';\nconst theme_direction = params.theme_direction || '';\nconst theme_seed = params.theme_seed || '';\n\nconst isGenericFallback = params.approved_by === 'generic_fallback';\n\n// Build context sections\nconst recentThemes = (data.recent_plans || [])\n  .map(p => p.theme_emoji + ' ' + p.theme_name + ' (' + p.week_start + ')')\n  .join('\\n- ') || 'None yet';\n\nconst avatarList = (data.avatars || [])\n  .map(a => a.person_name + ' / ' + a.style_name + ' (' + a.motion_preset + ') [id:' + a.id + ']')\n  .join('\\n- ') || 'No avatars configured';\n\nconst bgList = (data.backgrounds || [])\n  .map(b => b.label + ' [' + (b.category || 'uncategorized') + '] (id:' + b.id + ')')\n  .join('\\n- ') || 'No backgrounds configured';\n\nconst musicList = (data.music || [])\n  .map(m => (m.song_title || m.song_id) + ' [' + (m.genre || 'unknown') + '] (song_id:' + m.song_id + ')')\n  .join('\\n- ') || 'No music configured';\n\n// Include bg_categories in the template list so Claude knows which backgrounds match\nconst templateList = (data.templates || [])\n  .map(t => {\n    let desc = t.name + ' (' + t.asset_type + ', ' + t.item_count_min + '-' + t.item_count_max + ' items';\n    if (t.bg_categories && t.bg_categories.length > 0) {\n      desc += ', bg_categories: ' + JSON.stringify(t.bg_categories);\n    }\n    desc += ') [id:' + t.id + ']';\n    return desc;\n  })\n  .join('\\n- ') || 'No templates configured';\n\nconst platformList = (data.platforms || []).map(p => p.platform).join(', ') || 'None configured';\n\nconst adTypesList = (data.ad_types || [])\n  .map(t => t.asset_type)\n  .join(', ') || 'None configured';\n\nconst inv = data.inventory_summary || {};\nconst invSummary = 'Total: ' + (inv.total_count || 0) +\n  ', Aged (45+ days): ' + (inv.aged_count || 0) +\n  ', New arrivals (7 days): ' + (inv.new_arrivals || 0) +\n  ', Price range: $' + (inv.min_price || 0) + ' - $' + (inv.max_price || 0) +\n  ', Avg: $' + (inv.avg_price || 0);\n\n// Inventory target suggestion based on aged count\nconst agedCount = inv.aged_count || 0;\nconst inventoryTargetHint = agedCount >= 3\n  ? 'SUGGESTION: There are ' + agedCount + ' aged vehicles (45+ days). Consider setting inventory_target to \"Aged Inventory\" to move these units.'\n  : 'SUGGESTION: Few aged vehicles. Consider \"Recent Arrivals\" or \"Budget Friendly\" for inventory_target.';\n\nconst featuredVehicles = (data.featured_inventory || [])\n  .slice(0, 20)\n  .map(v => v.title + ' ($' + v.price + ', ' + (v.days_on_lot || 0) + ' days) [id:' + v.id + ']')\n  .join('\\n- ') || 'No inventory available';\n\n// Build placement list dynamically from DB, filtered to enabled platforms\nconst enabledPlatforms = new Set((data.platforms || []).map(p => p.platform));\nconst allPlacements = (data.placements_data || []);\nconst availablePlacements = allPlacements.filter(p => enabledPlatforms.has(p.platform));\nconst placementListText = availablePlacements.length > 0\n  ? availablePlacements.map(p => {\n      const ratios = (p.aspect_ratios || []).join(', ');\n      const types = (p.supported_asset_types || []).join(', ');\n      return '- ' + p.code + ' (' + p.platform + ' ' + p.placement + '): ' + ratios + ' — ' + types;\n    }).join('\\n')\n  : 'No placements configured';\n\n\nconst themeSection = isGenericFallback\n  ? `## Theme Direction (Generic — Creative Freedom)\nThe client did not approve a specific theme this week. You have creative freedom to generate an appropriate theme.\n${theme_direction ? `The system suggested: \"${theme_direction}\" — you may use this as inspiration or create something better.` : ''}\n${theme_seed ? `Seed idea: ${theme_seed}` : ''}\n\nGenerate a theme that:\n- Is relevant to the current season/time of year\n- Aligns with what's performing well (see Brain insights)\n- Features inventory that needs to move (aging stock, new arrivals)\n- Feels fresh compared to recent themes`\n  : `## Approved Theme\nThe client has already approved this theme:\n- Name: ${theme_name}\n- Emoji: ${theme_emoji}\n- Direction: ${theme_direction}\n- Seed: ${theme_seed}\n\nYou MUST use this exact theme. Do NOT generate a new theme.`;\n\nconst userPrompt = `${themeSection}\n\n## This Week\nWeek of: ${params.week_start} to ${params.week_end}\nClient: ${params.client_name} (${params.slug})\nIndustry: ${params.industry}\n\n## Brain Insights (from last analysis)\n${JSON.stringify(brain, null, 2)}\n\n## Recent Themes (for context)\n- ${recentThemes}\n\n## Available Creative Assets\n\n### Avatars\n- ${avatarList}\n\n### Backgrounds\n- ${bgList}\n\n### Music\n- ${musicList}\n\n### Templates\n- ${templateList}\n\n### Platforms\n${platformList}\n\n### Enabled Ad Types\n${adTypesList}\n\n## Placement Targeting\nThe Brain recommends these placement priorities:\n- Focus: ${(brain.recommendations?.placement_mix?.focus || []).join(', ') || 'Not specified'}\n- Reduce: ${(brain.recommendations?.placement_mix?.reduce || []).join(', ') || 'None'}\n- Exclude: ${(brain.recommendations?.placement_mix?.exclude || []).join(', ') || 'None'}\n- Rationale: ${brain.recommendations?.placement_mix?.notes || 'No placement data yet'}\n\nAvailable placements and their constraints:\n${placementListText}\n\n## Background-Template Matching Rules\nEach template may have a bg_categories list (e.g., [\"exterior\", \"themed\"]). When selecting a background for a video asset, you MUST pick a background whose category is in the template's bg_categories list. If a template has no bg_categories, any background is allowed.\n\n## Inventory\n${invSummary}\n${inventoryTargetHint}\n\n### Top Vehicles (by days on lot)\n- ${featuredVehicles}\n\n## Ad Type Details\n- **video**: Requires a template, avatar, background, music. Used for video ads and organic/educational content.\n- **image**: Catalog-driven \"Always On\" image ad. No template needed — just ad copy (primary_text, headline, description). Runs continuously on Meta feeds.\n- **carousel**: Catalog-driven \"Always On\" carousel ad. No template needed — just ad copy. Shows multiple products from the inventory catalog.\n- **spark**: Boosted organic post. No template needed — selects a top-performing organic post to boost with a budget. Set default budget of $100 for 7 days.\n\n## Budget\nWeekly ad budget: $${params.weekly_budget || \"Not set\"}\nAllocate budget_percentage across paid assets so they sum to 100.\n\n## Instructions\nBuild the full asset plan around the approved theme above. Use the Brain insights to inform your creative direction and inventory strategy. The theme has already been approved — focus on selecting the best assets, placements, and inventory to maximize performance.`;\n\nreturn [{ json: {\n  ...params,\n  _userPrompt: userPrompt,\n  _approvers: data.approvers || [],\n  isGenericFallback: isGenericFallback\n}}];"
        }
      },
      {
        "id": "prep-claude",
        "name": "Prepare Claude Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          300
        ],
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst isGenericFallback = data.isGenericFallback || false;\n\nlet systemPrompt = \"You are the Planner \\u2014 Ad Pilot's content planning agent for local business advertising.\\n\\nThe theme has already been approved by the client. You MUST use the approved theme name, emoji, seed, and direction exactly as provided. Focus on building the best possible asset plan around that theme.\\n\\nYour job is to create a weekly content plan that includes specific ad assets and organic content recommendations based on the approved theme. You use insights from the Brain (performance analysis agent) to make data-driven decisions.\\n\\n## Your output must be valid JSON matching this exact schema:\\n\\n{\\n  \\\"theme\\\": {\\n    \\\"name\\\": \\\"string \\u2014 USE THE APPROVED THEME NAME EXACTLY\\\",\\n    \\\"emoji\\\": \\\"string \\u2014 USE THE APPROVED EMOJI EXACTLY\\\",\\n    \\\"theme_seed\\\": \\\"string \\u2014 USE THE APPROVED SEED EXACTLY\\\",\\n    \\\"direction\\\": \\\"string \\u2014 USE THE APPROVED DIRECTION EXACTLY\\\",\\n    \\\"ad_message\\\": \\\"string \\u2014 core message for paid ads this week\\\",\\n    \\\"edu_message\\\": \\\"string \\u2014 educational/organic content angle\\\"\\n  },\\n  \\\"inventory_target\\\": \\\"string \\u2014 one of: 'Aged Inventory', 'Recent Arrivals', 'Budget Friendly', 'Featured Products', 'Premium Picks'\\\",\\n  \\\"inventory_description\\\": \\\"string \\u2014 1 sentence explaining why this inventory target was chosen\\\",\\n  \\\"experiment\\\": {\\n    \\\"name\\\": \\\"string \\u2014 short name for this week's creative experiment (e.g., '18-45 Audience Segment')\\\",\\n    \\\"goal\\\": \\\"string \\u2014 what we hope to learn (e.g., 'Increase engagement from the 18-45 demographic.')\\\",\\n    \\\"approach\\\": \\\"string \\u2014 how we'll test it (e.g., 'Testing shorter hooks on vertical platforms.')\\\"\\n  },\\n  \\\"always_on\\\": {\\n    \\\"status\\\": \\\"active | paused \\u2014 whether catalog/DPA ads should stay active this week\\\",\\n    \\\"copy_refresh\\\": \\\"boolean \\u2014 true if catalog ad copy should be refreshed\\\",\\n    \\\"copy_direction\\\": \\\"string or null \\u2014 direction for new copy if copy_refresh is true\\\"\\n  },\\n  \\\"assets\\\": [\\n    {\\n      \\\"asset_type\\\": \\\"paid | organic\\\",\\n      \\\"ad_format\\\": \\\"video | image | carousel | spark\\\",\\n      \\\"template_id\\\": \\\"uuid of selected template (null for image/carousel/spark)\\\",\\n      \\\"template_name\\\": \\\"name of template (or 'Image Ad' / 'Carousel Ad' / 'Spark Ad')\\\",\\n      \\\"title\\\": \\\"string — descriptive strategic title for this asset (NOT the template name)\\\",\\n      \\\"avatar_id\\\": \\\"uuid of selected avatar (null for image/carousel/spark)\\\",\\n      \\\"avatar_name\\\": \\\"display name of avatar (null for image/carousel/spark)\\\",\\n      \\\"background_id\\\": \\\"uuid \\u2014 REQUIRED for video assets, null for image/carousel/spark\\\",\\n      \\\"background_name\\\": \\\"string \\u2014 label of the background (REQUIRED for video assets, null for others)\\\",\\n      \\\"music_id\\\": \\\"song_id string \\u2014 REQUIRED for video assets, null for image/carousel/spark\\\",\\n      \\\"music_name\\\": \\\"string \\u2014 name/title of the song (REQUIRED for video assets, null for others)\\\",\\n      \\\"target_length\\\": \\\"brief | standard | extended (video only)\\\",\\n      \\\"budget_percentage\\\": \\\"number \\u2014 percentage of weekly ad budget for this asset (paid assets only, must sum to 100 across all paid assets)\\\",\\n      \\\"inventory_items\\\": [\\n        { \\\"id\\\": \\\"uuid\\\", \\\"display\\\": \\\"vehicle title\\\" }\\n      ],\\n      \\\"target_placements\\\": [\\\"fb_feed\\\", \\\"ig_reels\\\"],\\n      \\\"ad_copy\\\": {\\n        \\\"primaryText\\\": \\\"string \\u2014 main ad text (for image/carousel only)\\\",\\n        \\\"headline\\\": \\\"string \\u2014 short headline (for image/carousel only)\\\",\\n        \\\"description\\\": \\\"string \\u2014 description line (for image/carousel only)\\\",\\n        \\\"callToAction\\\": \\\"Shop Now | Learn More | Get Offer\\\"\\n      },\\n      \\\"boost_metrics\\\": {\\n        \\\"budget\\\": 100,\\n        \\\"duration\\\": 7,\\n        \\\"targetAudience\\\": \\\"string description (for spark only)\\\"\\n      },\\n      \\\"organic_content_type\\\": \\\"string \\u2014 for organic assets: educational | behind_the_scenes | testimonial | tip | how_to\\\",\\n      \\\"organic_platform\\\": \\\"string \\u2014 for organic assets: tiktok | instagram | facebook\\\",\\n      \\\"organic_day_of_week\\\": \\\"string \\u2014 suggested day to post: Monday | Tuesday | ... | Sunday\\\",\\n      \\\"organic_brief\\\": \\\"string \\u2014 1-2 sentence brief for the organic post\\\",\\n      \\\"rationale\\\": \\\"Why this combination works for this week's goals\\\"\\n    }\\n  ],\\n  \\\"organic_posts\\\": [\\n    {\\n      \\\"type\\\": \\\"educational | behind_the_scenes | testimonial | tip\\\",\\n      \\\"topic\\\": \\\"What this post is about\\\",\\n      \\\"platform\\\": \\\"tiktok | instagram | facebook\\\",\\n      \\\"hook\\\": \\\"Opening line to grab attention\\\"\\n    }\\n  ],\\n  \\\"idea_ping_summary\\\": \\\"string \\u2014 2-3 sentence summary of the plan. Explain what the ads will focus on. Keep it conversational and exciting.\\\"\\n}\\n\\n## Rules:\\n1. Use the APPROVED THEME exactly as provided \\u2014 do NOT generate a new theme name, emoji, seed, or direction.\\n2. Use Brain insights to inform decisions (e.g., if Multi-Item templates perform best, prioritize them).\\n3. Feature aged inventory (45+ days) when available \\u2014 these need exposure.\\n4. Create EXACTLY 1 paid video asset per enabled template type. Do NOT create duplicates \\u2014 one Multi Item, one Spotlight, etc.\\n5. Include EXACTLY 1 organic/educational video asset if an organic template exists.\\n6. Multi-item templates MUST have 3-5 inventory_items with valid vehicle IDs from the \\\"Top Vehicles\\\" list. Spotlight templates MUST have exactly 1 inventory_item. Do NOT leave inventory_items empty for templates that require items.\\n7. For each non-video ad type that is enabled (image, carousel, spark), create EXACTLY 1 asset:\\n   - **image** (ad_format: \\\"image\\\"): Set template_id, avatar_id, music_id, music_name to null. template_name = \\\"Image Ad\\\". Provide ad_copy with primaryText, headline, description, callToAction. target_placements should be feed placements only (fb_feed, ig_feed).\\n   - **carousel** (ad_format: \\\"carousel\\\"): Set template_id, avatar_id, music_id, music_name to null. template_name = \\\"Carousel Ad\\\". Provide ad_copy with primaryText, headline, description, callToAction. target_placements should be feed placements only (fb_feed, ig_feed).\\n   - **spark** (ad_format: \\\"spark\\\"): Set template_id, avatar_id, music_id, music_name to null. template_name = \\\"Spark Ad (Boosted Post)\\\". Provide boost_metrics with budget (default 100), duration (default 7), and targetAudience. No ad_copy needed.\\n8. For video assets, set ad_format to \\\"video\\\". For organic/educational, also set ad_format to \\\"video\\\".\\n9. Pick avatars and backgrounds that match the theme vibe (for video assets only).\\n10. The idea_ping_summary should summarize the plan \\u2014 friendly, brief, no jargon.\\n11. Suggest 1-2 organic post ideas that complement the paid ads theme.\\n12. Use ONLY the asset IDs provided in the context \\u2014 do not invent IDs.\\n13. Assign target_placements to each asset based on the Brain's placement_mix recommendations. Focus placements should appear on most assets. Reduce placements on fewer. Excluded placements should not appear at all. Only assign placements that support the asset's type (e.g., don't put carousel on a reels placement). Use the exact placement codes from the \\\"Available placements\\\" list in the context.\\n14. Ad copy for image/carousel should be themed to match the week's creative direction. Keep primaryText under 125 chars, headline under 40 chars.\\n15. Video assets MUST have a non-null music_id (a valid song_id from the Music list) AND music_name (the song title).\\n16. Video assets MUST have a non-null background_id (a valid id from the Backgrounds list) AND background_name (the background label). The background's category MUST be in the template's bg_categories list. If the template has no bg_categories restriction, any background is allowed.\\n17. You MUST include inventory_target (one of the allowed values) and inventory_description (1 sentence).\\n18. You MUST include the experiment object with name, goal, and approach fields.\\n19. budget_percentage MUST be set for every paid asset (asset_type = \\\"paid\\\"). The values across all paid assets MUST sum to exactly 100. Allocate budget proportionally \\u2014 video ads typically get the largest share, followed by image/carousel, then spark/boost.\\n20. For organic video assets, set organic_content_type, organic_platform, organic_day_of_week, and organic_brief. The organic_brief should describe what the post should cover.\\n21. Include the always_on object. Set status to \\\"active\\\" unless Brain data suggests pausing catalog ads. Set copy_refresh to true if it has been 2+ weeks since catalog copy was last updated (assume it needs a refresh if no data).\\n\\n22. For each asset, generate a descriptive title that captures the strategic intent, NOT the template type.\\nGood titles explain WHY this ad was planned:\\n- 'Put That Refund to Work \\u2014 4 Budget Vehicles' (theme-driven)\\n- '3 SUVs That Need New Homes This Week' (inventory/aging stock)\\n- 'Spring Savings on Featured Minivans' (seasonal)\\n- 'Credit Score 101: What Lenders Actually Look At' (educational)\\n- 'Customer Spotlight: The Johnson Family' (community/organic)\\n\\nBad titles are just template names like Multi Item, Single Item Spotlight, or Educational.\\nThe title should feel like a mini-headline that a client would understand and get excited about.\\n\\nReturn ONLY the JSON object, no markdown fences, no explanation.\";\n\n// If generic fallback, relax theme rules in system prompt\nif (isGenericFallback) {\n  systemPrompt = systemPrompt.replace(\n    'The theme has already been approved by the client. You MUST use the approved theme name, emoji, seed, and direction exactly as provided. Focus on building the best possible asset plan around that theme.',\n    'No specific theme was approved this week. You have creative freedom to generate an appropriate, creative theme based on Brain insights and seasonal relevance.'\n  );\n  systemPrompt = systemPrompt.replace(\n    'Use the APPROVED THEME exactly as provided \\u2014 do NOT generate a new theme name, emoji, seed, or direction.',\n    'Generate an appropriate, creative theme based on Brain insights and seasonal relevance. Pick a theme name, emoji, seed, and direction that will resonate with the target audience.'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"name\": \"string \\u2014 USE THE APPROVED THEME NAME EXACTLY\"',\n    '\"name\": \"string \\u2014 generate a creative, relevant theme name\"'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"emoji\": \"string \\u2014 USE THE APPROVED EMOJI EXACTLY\"',\n    '\"emoji\": \"string \\u2014 pick a fitting emoji for the theme\"'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"theme_seed\": \"string \\u2014 USE THE APPROVED SEED EXACTLY\"',\n    '\"theme_seed\": \"string \\u2014 the core concept behind the theme\"'\n  );\n  systemPrompt = systemPrompt.replace(\n    '\"direction\": \"string \\u2014 USE THE APPROVED DIRECTION EXACTLY\"',\n    '\"direction\": \"string \\u2014 describe how the theme should feel and look\"'\n  );\n}\n\nreturn [{ json: {\n  ...data,\n  _claudeBody: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 4096,\n    temperature: 0.5,\n    system: systemPrompt,\n    messages: [\n      { role: 'user', content: data._userPrompt }\n    ]\n  }\n}}];"
        }
      },
      {
        "id": "call-claude",
        "name": "Call Claude",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1800,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json._claudeBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "credentials": {
          "anthropicApi": {
            "id": "Cias5aAJewPKMMCa",
            "name": "Anthropic account"
          }
        }
      },
      {
        "id": "validate-json",
        "name": "Validate Plan JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          300
        ],
        "parameters": {
          "jsCode": "const promptData = $('Prepare Claude Request').first().json;\nconst response = $input.first().json;\n\nlet plan = null;\nlet parseError = '';\n\ntry {\n  let text = '';\n  if (response.content && response.content[0]) {\n    text = response.content[0].text || '';\n  } else if (response.error) {\n    throw new Error('API error: ' + JSON.stringify(response.error));\n  }\n\n  // Clean markdown fences\n  text = text.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  plan = JSON.parse(text);\n\n  // Validate required fields\n  if (!plan.theme || !plan.theme.name) throw new Error('Missing theme.name');\n  if (!plan.theme.emoji) throw new Error('Missing theme.emoji');\n  if (!plan.theme.direction) throw new Error('Missing theme.direction');\n  if (!plan.assets || !Array.isArray(plan.assets)) throw new Error('Missing assets array');\n  if (plan.assets.length === 0) throw new Error('Empty assets array');\n  if (!plan.idea_ping_summary) throw new Error('Missing idea_ping_summary');\n\n  // New validations for expanded fields\n  if (!plan.inventory_target) throw new Error('Missing inventory_target');\n  if (!plan.inventory_description) throw new Error('Missing inventory_description');\n  if (!plan.experiment || !plan.experiment.name) throw new Error('Missing experiment.name');\n  if (!plan.experiment.goal) throw new Error('Missing experiment.goal');\n  if (!plan.experiment.approach) throw new Error('Missing experiment.approach');\n  if (!plan.theme.theme_seed) throw new Error('Missing theme.theme_seed');\n\n  // Validate video assets have music_id and background_id\n  for (let i = 0; i < plan.assets.length; i++) {\n    const asset = plan.assets[i];\n    if (asset.ad_format === 'video') {\n      if (!asset.music_id) throw new Error('Video asset ' + i + ' missing music_id');\n      if (!asset.background_id) throw new Error('Video asset ' + i + ' missing background_id');\n      if (!asset.music_name) throw new Error('Video asset ' + i + ' missing music_name');\n      if (!asset.background_name) throw new Error('Video asset ' + i + ' missing background_name');\n    }\n    // Default title to template_name if Claude didn't generate one\n    if (!asset.title) {\n      asset.title = asset.template_name || ('Asset ' + (i + 1));\n    }\n  }\n\n  // Validate budget_percentage on paid assets sums to ~100 (±2% tolerance)\n  const paidAssets = plan.assets.filter(a => a.asset_type === 'paid');\n  if (paidAssets.length > 0) {\n    const budgetSum = paidAssets.reduce((sum, a) => sum + (parseFloat(a.budget_percentage) || 0), 0);\n    if (Math.abs(budgetSum - 100) > 2) {\n      // Normalize: adjust proportionally so they sum to exactly 100\n      const factor = 100 / budgetSum;\n      for (const a of paidAssets) {\n        a.budget_percentage = Math.round((parseFloat(a.budget_percentage) || 0) * factor * 100) / 100;\n      }\n      // Fix rounding: adjust last asset\n      const newSum = paidAssets.slice(0, -1).reduce((s, a) => s + a.budget_percentage, 0);\n      paidAssets[paidAssets.length - 1].budget_percentage = Math.round((100 - newSum) * 100) / 100;\n    }\n  }\n\n  // Default always_on if missing\n  if (!plan.always_on) {\n    plan.always_on = { status: 'active', copy_refresh: false, copy_direction: null };\n  }\n\n} catch (err) {\n  parseError = err.message;\n}\n\nconst isValid = plan !== null && parseError === '';\n\nreturn [{ json: {\n  client_id: promptData.client_id,\n  client_name: promptData.client_name,\n  slug: promptData.slug,\n  week_start: promptData.week_start,\n  week_end: promptData.week_end,\n  weekly_budget: promptData.weekly_budget,\n  _approvers: promptData._approvers,\n  _isValid: isValid,\n  _plan: plan,\n  _parseError: parseError,\n  _force: promptData._force\n}}];"
        }
      },
      {
        "id": "if-valid",
        "name": "Plan Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2200,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "valid-check",
                "leftValue": "={{ $json._isValid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          }
        }
      },
      {
        "id": "write-plan",
        "name": "Write Plan",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2400,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM assets WHERE plan_id = '{{ $('Fetch Plan').first().json.plan_id }}'::uuid;\n\nUPDATE weekly_plans SET\n  status = 'draft',\n  theme_name = '{{ ($json._plan.theme.name || \"\").replace(/'/g, \"''\") }}',\n  theme_emoji = '{{ ($json._plan.theme.emoji || \"\").replace(/'/g, \"''\") }}',\n  theme_seed = '{{ ($json._plan.theme.theme_seed || \"\").replace(/'/g, \"''\") }}',\n  theme_direction = '{{ ($json._plan.theme.direction || \"\").replace(/'/g, \"''\") }}',\n  theme_ad_message = '{{ $json._plan.theme.ad_message.replace(/'/g, \"''\") }}',\n  theme_edu_message = '{{ $json._plan.theme.edu_message.replace(/'/g, \"''\") }}',\n  inventory_description = '{{ ($json._plan.inventory_description || \"\").replace(/'/g, \"''\") }}',\n  experiment_name = '{{ ($json._plan.experiment.name || \"\").replace(/'/g, \"''\") }}',\n  experiment_goal = '{{ ($json._plan.experiment.goal || \"\").replace(/'/g, \"''\") }}',\n  experiment_approach = '{{ ($json._plan.experiment.approach || \"\").replace(/'/g, \"''\") }}',\n  total_paid_ads = {{ $json._plan.assets.filter(a => a.asset_type === 'paid').length }},\n  total_organic = {{ $json._plan.assets.filter(a => a.asset_type === 'organic').length }},\n  always_on_status = '{{ ($json._plan.always_on && $json._plan.always_on.status) || \"active\" }}',\n  always_on_copy_refresh = {{ $json._plan.always_on && $json._plan.always_on.copy_refresh ? 'true' : 'false' }},\n  always_on_copy_direction = {{ $json._plan.always_on && $json._plan.always_on.copy_direction ? \"'\" + ($json._plan.always_on.copy_direction || \"\").replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  updated_at = NOW()\nWHERE id = '{{ $('Fetch Plan').first().json.plan_id }}'::uuid\nRETURNING id, client_id, week_start",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "write-assets",
        "name": "Write Assets",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2600,
          300
        ],
        "parameters": {
          "jsCode": "// Build INSERT data for each asset, including computed planned_outputs\nconst planRow = $input.first().json;\nconst planData = $('Validate Plan JSON').first().json;\nconst assets = planData._plan.assets || [];\nconst planId = planRow.id;\n\n// Get placements and ad_types from the Run All Queries CTE\nconst queryData = $('Run All Queries').first().json;\nconst allPlacements = queryData.placements_data || [];\nconst enabledAdTypes = (queryData.ad_types || []).map(t => t.asset_type);\n// Get enabled platforms from the query data\nconst enabledPlatforms = (queryData.platforms || []).map(p => p.platform);\n\n// Filter placements to enabled platforms\nconst availablePlacements = allPlacements.filter(p => enabledPlatforms.includes(p.platform));\n\n// Build planned_outputs for a given asset type (matches generate route logic)\nfunction buildPlannedOutputs(assetType) {\n  const supported = availablePlacements.filter(\n    p => p.supported_asset_types.includes(assetType)\n  );\n  const byRatio = {};\n  for (const p of supported) {\n    for (const ratio of p.aspect_ratios) {\n      if (!byRatio[ratio]) byRatio[ratio] = [];\n      byRatio[ratio].push(p.code);\n    }\n  }\n  const outputs = [];\n  for (const [ratio, codes] of Object.entries(byRatio)) {\n    outputs.push({ aspect_ratio: ratio, platforms: codes, credits: 1 });\n  }\n  // Sort: 9:16 first, then 4:5, then 16:9\n  const order = ['9:16', '4:5', '16:9'];\n  outputs.sort((a, b) => {\n    const ai = order.indexOf(a.aspect_ratio);\n    const bi = order.indexOf(b.aspect_ratio);\n    return (ai === -1 ? 999 : ai) - (bi === -1 ? 999 : bi);\n  });\n  return outputs;\n}\n\n// Determine ad_format from template info\nfunction getAdFormat(asset) {\n  const name = (asset.template_name || '').toLowerCase();\n  if (name.includes('image')) return 'image';\n  if (name.includes('carousel')) return 'carousel';\n  if (name.includes('spark') || name.includes('boost')) return 'spark';\n  return 'video';\n}\n\n// Escape single quotes for SQL interpolation\nfunction escSql(str) {\n  return (str || '').replace(/'/g, \"''\");\n}\n\n\n// Map template codes to video recipe slugs (Phase 2)\nconst TEMPLATE_TO_RECIPE = {\n  'MULTI-ITEM-1': 'auto-multi-item',\n  'SINGLE-ITEM-SPOTLIGHT-1': 'auto-spotlight',\n  'EDUCATIONAL-1': 'edu-avatar-only'\n};\n\n// Lookup video_recipe_id from DB (fetched in Run All Queries)\nconst videoRecipes = queryData.video_recipes || [];\nfunction getVideoRecipeId(templateId) {\n  if (!templateId) return null;\n  const slug = TEMPLATE_TO_RECIPE[templateId.toUpperCase()];\n  if (!slug) return null;\n  const recipe = videoRecipes.find(r => r.slug === slug);\n  return recipe ? recipe.id : null;\n}\n\nreturn assets.map((asset, i) => {\n  const adFormat = asset.ad_format || getAdFormat(asset);\n  const isOrganic = asset.asset_type === 'organic';\n  const isPaid = asset.asset_type === 'paid';\n  const isVideo = adFormat === 'video';\n  let plannedOutputs = buildPlannedOutputs(adFormat);\n  // Organic/educational: typically 9:16 only\n  if (isOrganic) {\n    plannedOutputs = plannedOutputs.filter(o => o.aspect_ratio === '9:16');\n  }\n\n  const row = {\n    plan_id: planId,\n    asset_type: asset.asset_type || 'paid',\n    template_id: isVideo ? (asset.template_id || null) : null,\n    template_name: escSql(asset.template_name || ''),\n    title: escSql(asset.title || ''),\n    avatars: escSql(JSON.stringify(isVideo && asset.avatar_id ? [{ key: 'Avatar-1', avatar_id: asset.avatar_id, name: asset.avatar_name }] : [])),\n    music_id: isVideo ? (asset.music_id || null) : null,\n    music_name: isVideo ? escSql(asset.music_name || '') : null,\n    background_id: isVideo ? (asset.background_id || null) : null,\n    background_name: isVideo ? escSql(asset.background_name || '') : null,\n    target_length: isVideo ? (asset.target_length || 'brief') : 'brief',\n    inventory_items: escSql(JSON.stringify(asset.inventory_items || [])),\n    planned_outputs: JSON.stringify(plannedOutputs),\n    included: true,\n    sort_order: i,\n    target_placements: escSql(JSON.stringify(asset.target_placements || [])),\n    ad_copy: (adFormat === 'image' || adFormat === 'carousel') && asset.ad_copy\n      ? escSql(JSON.stringify(asset.ad_copy))\n      : null,\n    boost_content_id: adFormat === 'spark' ? (asset.boost_content_id || null) : null,\n    boost_metrics: adFormat === 'spark' && asset.boost_metrics\n      ? escSql(JSON.stringify(asset.boost_metrics))\n      : null,\n    // NEW: budget percentage for paid assets\n    budget_percentage: isPaid ? (asset.budget_percentage || null) : null,\n    // NEW: organic metadata\n    organic_content_type: isOrganic ? (asset.organic_content_type || null) : null,\n    organic_platform: isOrganic ? (asset.organic_platform || null) : null,\n    organic_day_of_week: isOrganic ? (asset.organic_day_of_week || null) : null,\n    organic_brief: isOrganic ? escSql(asset.organic_brief || '') : null,\n    video_recipe_id: isVideo ? getVideoRecipeId(asset.template_id) : null,\n    _planData: planData,\n    _planId: planId\n  };\n\n  return { json: row };\n});"
        }
      },
      {
        "id": "insert-assets",
        "name": "Insert Assets",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2800,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO assets (\n  id, plan_id, asset_type, template_id, template_name, title,\n  avatars, music_id, music_name, background_id, background_name,\n  target_length, inventory_items, planned_outputs,\n  included, sort_order, target_placements,\n  ad_copy, boost_content_id, boost_metrics,\n  budget_percentage,\n  organic_content_type, organic_platform, organic_day_of_week, organic_brief,\n  video_recipe_id,\n  created_at, updated_at\n) VALUES (\n  gen_random_uuid(),\n  '{{ $json.plan_id }}'::uuid,\n  '{{ $json.asset_type }}',\n  {{ $json.template_id ? \"'\" + $json.template_id + \"'::uuid\" : 'NULL' }},\n  '{{ ($json.template_name || \"\").replace(/'/g, \"''\") }}',\n  {{ $json.title ? \"'\" + $json.title + \"'\" : 'NULL' }},\n  '{{ $json.avatars }}'::jsonb,\n  {{ $json.music_id ? \"'\" + $json.music_id + \"'\" : 'NULL' }},\n  {{ $json.music_name ? \"'\" + $json.music_name + \"'\" : 'NULL' }},\n  {{ $json.background_id ? \"'\" + $json.background_id + \"'\" : 'NULL' }},\n  {{ $json.background_name ? \"'\" + $json.background_name + \"'\" : 'NULL' }},\n  '{{ $json.target_length }}',\n  '{{ $json.inventory_items }}'::jsonb,\n  '{{ $json.planned_outputs }}'::jsonb,\n  {{ $json.included }},\n  {{ $json.sort_order }},\n  '{{ $json.target_placements }}'::jsonb,\n  {{ $json.ad_copy ? \"'\" + $json.ad_copy + \"'::jsonb\" : 'NULL' }},\n  {{ $json.boost_content_id ? \"'\" + $json.boost_content_id + \"'\" : 'NULL' }},\n  {{ $json.boost_metrics ? \"'\" + $json.boost_metrics + \"'::jsonb\" : 'NULL' }},\n  {{ $json.budget_percentage != null ? $json.budget_percentage : 'NULL' }},\n  {{ $json.organic_content_type ? \"'\" + $json.organic_content_type + \"'\" : 'NULL' }},\n  {{ $json.organic_platform ? \"'\" + $json.organic_platform + \"'\" : 'NULL' }},\n  {{ $json.organic_day_of_week ? \"'\" + $json.organic_day_of_week + \"'\" : 'NULL' }},\n  {{ $json.organic_brief ? \"'\" + $json.organic_brief + \"'\" : 'NULL' }},\n  {{ $json.video_recipe_id ? \"'\" + $json.video_recipe_id + \"'::uuid\" : 'NULL' }},\n  NOW(), NOW()\n)\nRETURNING id",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "prep-admin-email",
        "name": "Prepare Admin Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3000,
          300
        ],
        "parameters": {
          "jsCode": "const planData = $('Validate Plan JSON').first().json;\nconst fetchData = $('Fetch Plan').first().json;\nconst assets = planData._plan.assets || [];\n\nconst htmlBody = '<h2>' + fetchData.theme_emoji + ' ' + fetchData.theme_name + '</h2>' +\n  '<p><strong>Client:</strong> ' + fetchData.client_name + '</p>' +\n  '<p><strong>Week:</strong> ' + fetchData.week_start + '</p>' +\n  '<p><strong>Direction:</strong> ' + fetchData.theme_direction + '</p>' +\n  '<p><strong>Assets:</strong> ' + assets.length + ' (' + assets.filter(a => a.asset_type === 'paid').length + ' paid, ' + assets.filter(a => a.asset_type === 'organic').length + ' organic)</p>' +\n  '<hr>' +\n  '<p>Full plan generated. Awaiting client confirmation on Manage Plan page.</p>';\n\nreturn [{ json: {\n  _emailBody: {\n    from: 'Ad Pilot <notifications@ad-pilot.ai>',\n    to: ['kelly@ad-pilot.ai'],\n    subject: '[Planner] ' + fetchData.theme_emoji + ' Plan built for ' + fetchData.client_name + ' (week of ' + fetchData.week_start + ')',\n    html: htmlBody\n  }\n}}];"
        }
      },
      {
        "id": "admin-email",
        "name": "Email Kelly (Admin)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3200,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "credentials": {
          "httpBearerAuth": {
            "id": "oConQlSBx8Yjco2M",
            "name": "Resend"
          }
        }
      },
      {
        "id": "prep-error-email",
        "name": "Prepare Error Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          600
        ],
        "parameters": {
          "jsCode": "const data = $('Validate Plan JSON').first().json;\n\nreturn [{ json: {\n  _emailBody: {\n    from: 'Ad Pilot <notifications@ad-pilot.ai>',\n    to: ['kelly@ad-pilot.ai'],\n    subject: '[Planner ERROR] Failed to generate plan for ' + data.client_name,\n    html: '<h2>Planner Parse Error</h2>' +\n      '<p><strong>Client:</strong> ' + data.client_name + '</p>' +\n      '<p><strong>Week:</strong> ' + data.week_start + '</p>' +\n      '<p><strong>Error:</strong> ' + data._parseError + '</p>' +\n      '<hr><p>The Planner agent returned invalid JSON. Please check the n8n execution log.</p>'\n  }\n}}];"
        }
      },
      {
        "id": "error-email",
        "name": "Error Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2600,
          600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "credentials": {
          "httpBearerAuth": {
            "id": "oConQlSBx8Yjco2M",
            "name": "Resend"
          }
        }
      },
      {
        "id": "no-brain-email",
        "name": "No Brain Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          600
        ],
        "parameters": {
          "jsCode": "const data = $('Check Brain Exists').first().json;\nreturn [{ json: {\n  _emailBody: {\n    from: 'Ad Pilot <notifications@ad-pilot.ai>',\n    to: ['kelly@ad-pilot.ai'],\n    subject: '[Planner SKIP] No Brain data for ' + (data.client_name || data.client_id),\n    html: '<p>' + data.message + '</p>'\n  }\n}}];"
        }
      },
      {
        "id": "no-brain-send",
        "name": "Send Skip Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "credentials": {
          "httpBearerAuth": {
            "id": "oConQlSBx8Yjco2M",
            "name": "Resend"
          }
        }
      },
      {
        "id": "fetch-plan",
        "name": "Fetch Plan",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          200,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT wp.id AS plan_id, wp.client_id::text, wp.theme_name, wp.theme_emoji, \n       wp.theme_direction, wp.theme_seed, wp.inventory_target, wp.inventory_description,\n       wp.idea_ping_summary, wp.status, wp.week_start::text, wp.week_end::text,\n       wp.weekly_budget, wp.approved_by,\n       c.slug, c.name AS client_name, c.industry\nFROM weekly_plans wp\nJOIN clients c ON wp.client_id = c.id\nWHERE wp.id = '{{ $json.body.plan_id }}'::uuid",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "guard-status",
        "name": "Guard Status",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          300
        ],
        "parameters": {
          "jsCode": "const plan = $input.first().json;\nif (plan.status !== 'idea_approved') {\n  return [{ json: { _skip: true, message: 'Plan status is ' + plan.status + ', expected idea_approved' }}];\n}\nreturn [{ json: { _skip: false, ...plan }}];"
        }
      },
      {
        "id": "if-status-ok",
        "name": "Status OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          600,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "status-check",
                "leftValue": "={{ $json._skip }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "false"
                }
              }
            ]
          }
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Fetch Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Fetch Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Plan": {
        "main": [
          [
            {
              "node": "Guard Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guard Status": {
        "main": [
          [
            {
              "node": "Status OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Status OK?": {
        "main": [
          [
            {
              "node": "Run All Queries",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Run All Queries": {
        "main": [
          [
            {
              "node": "Check Brain Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Brain Exists": {
        "main": [
          [
            {
              "node": "Brain Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brain Exists?": {
        "main": [
          [
            {
              "node": "Assemble Planner Prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Brain Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Brain Email": {
        "main": [
          [
            {
              "node": "Send Skip Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assemble Planner Prompt": {
        "main": [
          [
            {
              "node": "Prepare Claude Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Claude Request": {
        "main": [
          [
            {
              "node": "Call Claude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Claude": {
        "main": [
          [
            {
              "node": "Validate Plan JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Plan JSON": {
        "main": [
          [
            {
              "node": "Plan Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Plan Valid?": {
        "main": [
          [
            {
              "node": "Write Plan",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Error Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Plan": {
        "main": [
          [
            {
              "node": "Write Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Assets": {
        "main": [
          [
            {
              "node": "Insert Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Assets": {
        "main": [
          [
            {
              "node": "Prepare Admin Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Admin Email": {
        "main": [
          [
            {
              "node": "Email Kelly (Admin)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Error Email": {
        "main": [
          [
            {
              "node": "Error Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}