workflows/_agent__prep_Tng3ki5oXDnYbb0j.json
{
  "updatedAt": "2026-04-12T13:25:16.506Z",
  "createdAt": "2026-02-17T04:14:48.194Z",
  "id": "Tng3ki5oXDnYbb0j",
  "name": "[AGENT] Prep",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "path": "prep",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "prep"
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ]
    },
    {
      "id": "set-test-plan",
      "name": "Set Test Plan ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        100
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "plan_id",
              "name": "body.plan_id",
              "type": "string",
              "value": "PASTE_PLAN_ID_HERE"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "fetch-assets",
      "name": "Fetch Plan + Assets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wp.id AS plan_id, wp.status, wp.theme_name, wp.theme_seed,\n  a.id AS asset_id,\n  CASE\n    WHEN a.template_name IN ('Multi Item', 'Single Item Spotlight', 'Educational') THEN 'video'\n    WHEN a.template_name = 'Image Ad' THEN 'image'\n    WHEN a.template_name = 'Carousel Ad' THEN 'carousel'\n    ELSE 'other'\n  END AS asset_type,\n  CASE\n    WHEN a.template_name = 'Multi Item' THEN 'multi_item'\n    WHEN a.template_name = 'Single Item Spotlight' THEN 'spotlight'\n    WHEN a.template_name = 'Educational' THEN 'educational'\n    WHEN a.template_name = 'Image Ad' THEN 'image_ad'\n    WHEN a.template_name = 'Carousel Ad' THEN 'carousel_ad'\n    ELSE lower(replace(a.template_name, ' ', '_'))\n  END AS template_type,\n  a.target_placements AS placements,\n  a.planned_outputs,\n  a.title AS asset_theme,\n  a.inventory_items AS items,\n  a.script_text,\n  c.name AS client_name, c.id AS client_id, c.slug AS client_slug,\n  COALESCE((SELECT json_object_agg(cp.pronunciation, cp.word) FROM client_pronunciations cp WHERE cp.client_id = c.id), '{}'::json) AS pronunciation_reverse_map\nFROM weekly_plans wp\nJOIN assets a ON a.plan_id = wp.id AND a.included = true\nJOIN clients c ON c.id = wp.client_id\nWHERE wp.id = '{{ $json.body.plan_id }}'::uuid",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "update-approved",
      "name": "Update Status Approved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE weekly_plans\nSET status = 'approved', updated_at = NOW()\nWHERE id = '{{ $('Webhook').first().json.body.plan_id }}'::uuid\n  AND status IN ('confirmed', 'draft')",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "save-scripts",
      "name": "Save Scripts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3900,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.scriptUpdateSql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "finalize",
      "name": "Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4250,
        300
      ],
      "parameters": {
        "jsCode": "const data = $('Aggregate Results').first().json;\nconst success = data.success;\nconst planId = data.plan_id;\nconst clientName = data.client_name || 'Unknown';\nconst skipped = data.skipped || false;\nconst status = success ? 'scripts_ready' : 'prep_failed';\nconst statusSql = skipped ? 'SELECT 1' : \"UPDATE weekly_plans SET status = '\" + status + \"', updated_at = NOW() WHERE id = '\" + planId + \"'::uuid\";\nlet subject, html;\nif (skipped) {\n  subject = '[Prep] Skipped for ' + clientName;\n  html = '<p>Prep skipped for ' + clientName + '.</p>' + (data.reason ? '<p>Reason: ' + data.reason + '</p>' : '');\n} else if (success) {\n  subject = '[Prep Complete] Scripts & copy ready for ' + clientName;\n  html = '<h2>Scripts & Copy Ready</h2><p><strong>Client:</strong> ' + clientName + '</p><ul><li>Processed: ' + data.results.processed + ' video assets</li><li>Scripts: ' + data.results.scripts + ' generated</li><li>Copy: ' + data.results.copy + ' generated</li></ul><p>Status: <strong>' + status + '</strong></p>';\n} else {\n  subject = '[Prep Failed] Content generation failed for ' + clientName;\n  html = '<h2>Prep Pipeline Failed</h2><p><strong>Client:</strong> ' + clientName + '</p><ul>' + (data.errors || []).map(e => '<li>' + e + '</li>').join('') + '</ul><p>Status: <strong>' + status + '</strong></p>';\n}\nreturn [{ json: {\n  ...data, final_status: status, statusSql,\n  _emailBody: { from: 'Ad Pilot <notifications@ad-pilot.ai>', to: ['kelly@ad-pilot.ai'], subject, html },\n  _response: { success, plan_id: planId, status, results: data.results, errors: data.errors || [] },\n}}];"
      }
    },
    {
      "id": "update-final-status",
      "name": "Update Final Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.statusSql }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "send-email",
      "name": "Email Kelly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4500,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "oConQlSBx8Yjco2M",
          "name": "Resend"
        }
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4750,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json._response) }}"
      }
    },
    {
      "parameters": {
        "jsCode": "// Clear any stale static data from previous runs\nconst staticData = $getWorkflowStaticData('global');\ndelete staticData._results;\n\n// Prep Assets — split into individual items with routing metadata\nconst items = $('Fetch Plan + Assets').all();\nconst webhookInput = $('Webhook').first().json.body;\nconst planId = webhookInput.plan_id;\n\nif (items.length === 0) {\n  return [{ json: {\n    _skip: true, plan_id: planId, client_name: 'Unknown',\n    _results: { processed: 0, scripts: 0, copy: 0 },\n    _errors: [], scriptUpdateSql: 'SELECT 1'\n  }}];\n}\n\nconst assets = items.map(item => item.json);\nconst clientName = assets[0].client_name || '';\nconst clientId = assets[0].client_id;\nconst clientSlug = assets[0].client_slug || '';\nconst themeName = assets[0].theme_name || assets[0].asset_theme || '';\nconst planStatus = assets[0].status;\n\n// If already processed, skip\nif (planStatus === 'scripts_ready' || planStatus === 'prep_failed') {\n  return [{ json: {\n    _skip: true, plan_id: planId, client_name: clientName,\n    _results: { processed: 0, scripts: 0, copy: 0 },\n    _errors: [], scriptUpdateSql: 'SELECT 1',\n    _skipReason: 'Already ' + planStatus\n  }}];\n}\n\n// Build per-asset items\nconst output = [];\nfor (const asset of assets) {\n  let processEndpoint = '';\n  if (asset.asset_type === 'video') {\n    switch (asset.template_type) {\n      case 'multi_item': processEndpoint = '/webhook/process-multi-item-asset'; break;\n      case 'spotlight': processEndpoint = '/webhook/process-spotlight-asset'; break;\n      case 'educational': processEndpoint = '/webhook/process-educational-asset'; break;\n      default: processEndpoint = '';\n    }\n  }\n\n  // Parse placements — prefer target_placements, fall back to planned_outputs\n  let platforms;\n  try {\n    platforms = typeof asset.placements === 'string' ? JSON.parse(asset.placements) : (asset.placements || []);\n  } catch (e) { platforms = []; }\n  if (!Array.isArray(platforms)) platforms = [];\n\n  // If target_placements is empty, derive from planned_outputs\n  if (platforms.length === 0 && asset.planned_outputs) {\n    const outputs = typeof asset.planned_outputs === 'string'\n      ? JSON.parse(asset.planned_outputs)\n      : asset.planned_outputs;\n    const allCodes = (outputs || []).flatMap(o => o.platforms || []);\n    // Normalize to parent platforms for copy generation\n    const parentSet = new Set();\n    for (const code of allCodes) {\n      if (/^(fb_|meta_|facebook|ig_)/i.test(code)) parentSet.add('meta');\n      else if (/^(tiktok|tt_)/i.test(code)) parentSet.add('tiktok');\n      else if (/^(yt_|youtube)/i.test(code)) parentSet.add('youtube');\n    }\n    platforms = [...parentSet];\n  }\n\n  // Fallback if still empty\n  if (platforms.length === 0) platforms = ['meta'];\n\n  // For non-video, filter to meta platforms\n  if (asset.asset_type !== 'video') {\n    platforms = platforms.filter(p => /meta|facebook|instagram/i.test(p));\n    if (platforms.length === 0) platforms = ['meta'];\n  }\n\n  output.push({ json: {\n    asset_id: asset.asset_id,\n    asset_type: asset.asset_type,\n    template_type: asset.template_type,\n    is_video: asset.asset_type === 'video',\n    process_endpoint: processEndpoint,\n    platforms: platforms,\n    theme_name: themeName,\n    client_id: clientId,\n    client_slug: clientSlug,\n    client_name: clientName,\n    plan_id: planId,\n    script_text: asset.script_text || '',\n    _skip: false,\n    pronunciation_reverse_map: asset.pronunciation_reverse_map || {}\n  }});\n}\nreturn output;"
      },
      "name": "Prep Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "id": "prep-assets-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Check Skip",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        300
      ],
      "id": "check-skip-001"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Over Assets",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1500,
        500
      ],
      "id": "loop-assets-001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "video-check",
              "leftValue": "={{ $json.is_video }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Is Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1750,
        500
      ],
      "id": "is-video-001"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "spotlight-check",
                    "leftValue": "={{ $json.template_type }}",
                    "rightValue": "spotlight",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Spotlight"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "multi-check",
                    "leftValue": "={{ $json.template_type }}",
                    "rightValue": "multi_item",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Multi-Item"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "edu-check",
                    "leftValue": "={{ $json.template_type }}",
                    "rightValue": "educational",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Educational"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Route by Template",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2000,
        400
      ],
      "id": "route-template-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/process-spotlight-asset",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Process Spotlight",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        200
      ],
      "id": "process-spotlight-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/process-multi-item-asset",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Process Multi-Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        400
      ],
      "id": "process-multi-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/process-educational-asset",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Process Educational",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        600
      ],
      "id": "process-edu-001"
    },
    {
      "parameters": {
        "jsCode": "// Carry asset context forward after process webhook\n// HTTP Request response is in $json, but we need asset_id from input\n// Since pairedItem breaks after HTTP Request, we use $('Loop Over Assets') \n// to get the current batch item\nconst loopItem = $('Loop Over Assets').first().json;\nconst processResult = $json;\n\nreturn [{ json: {\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  template_type: loopItem.template_type,\n  is_video: loopItem.is_video,\n  platforms: loopItem.platforms,\n  theme_name: loopItem.theme_name,\n  client_id: loopItem.client_id,\n  client_slug: loopItem.client_slug,\n  client_name: loopItem.client_name,\n  plan_id: loopItem.plan_id,\n  _process_success: processResult.success !== false,\n  _process_error: processResult.success === false ? (processResult.message || 'Process failed') : '',\n  pronunciation_reverse_map: loopItem.pronunciation_reverse_map || {}\n}}];"
      },
      "name": "Carry Context After Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        400
      ],
      "id": "carry-process-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/generate-script-from-asset",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2850,
        400
      ],
      "id": "gen-script-001"
    },
    {
      "parameters": {
        "jsCode": "// Parse script result and build platform copy payload\nconst loopItem = $('Loop Over Assets').first().json;\nconst scriptResult = $json;\n\n// Extract structured script parts (phonetic versions for TTS)\nconst script = scriptResult.script || {};\nconst hook = script.hook || '';\nconst segments = script.segments || [];\nconst cta = script.cta || '';\n\n// Reverse pronunciation map: phonetic -> original word\n// Used to convert phonetic script back to clean display text\nconst reverseMap = loopItem.pronunciation_reverse_map || {};\nfunction dePhonetic(text) {\n  let clean = text;\n  for (const [phonetic, original] of Object.entries(reverseMap)) {\n    // Replace all occurrences (case-insensitive)\n    clean = clean.replace(new RegExp(phonetic.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&'), 'gi'), original);\n  }\n  return clean;\n}\n\n// Extract display versions (proper spellings for UI)\n// If Claude provided display_ fields, use them; otherwise reverse-map the phonetic\nconst displayHook = script.display_hook || dePhonetic(hook);\nconst displaySegments = script.display_segments || segments.map(s => dePhonetic(s));\nconst displayCta = script.display_cta || dePhonetic(cta);\n\n// Build labeled script_text for UI parsing (HOOK:/BODY:/CTA: format)\n// Uses DISPLAY version (proper spellings, not phonetic)\nconst labeledScript = 'HOOK: ' + displayHook + '\\nBODY: ' + displaySegments.join('\\n') + '\\nCTA: ' + displayCta;\n\n// Build phonetic labeled script for TTS\nconst phoneticScript = 'HOOK: ' + hook + '\\nBODY: ' + segments.join('\\n') + '\\nCTA: ' + cta;\n\n// Build flat display version for the copy payload\nconst displayFullScript = script.display_full_script ||\n  [displayHook, ...displaySegments, displayCta].filter(Boolean).join(' ');\n\nconst templateCode = scriptResult.template_code || loopItem.template_type || '';\nconst vehicles = scriptResult.vehicles || [];\n\nreturn [{ json: {\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  template_type: loopItem.template_type,\n  is_video: true,\n  platforms: loopItem.platforms,\n  theme_name: loopItem.theme_name,\n  client_id: loopItem.client_id,\n  plan_id: loopItem.plan_id,\n  client_name: loopItem.client_name,\n  _labeled_script: labeledScript,\n  _phonetic_script: phoneticScript,\n  _script_text: displayFullScript,\n  _script_success: displayFullScript.length > 0,\n  _copy_payload: {\n    client_id: loopItem.client_id,\n    platforms: loopItem.platforms,\n    content_type: loopItem.template_type === 'educational' ? 'organic' : 'ad',\n    format: 'video',\n    template_type: templateCode,\n    theme: loopItem.theme_name,\n    vehicles: vehicles,\n    script: displayFullScript,\n    plan_asset_id: loopItem.asset_id,\n    store_copy: false\n  }\n}}];"
      },
      "name": "Build Copy Payload (Video)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        400
      ],
      "id": "build-copy-video-001"
    },
    {
      "parameters": {
        "jsCode": "// Build platform copy payload for non-video assets (image, carousel)\nconst loopItem = $('Loop Over Assets').first().json;\n\nreturn [{ json: {\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  template_type: loopItem.template_type,\n  is_video: false,\n  platforms: loopItem.platforms,\n  theme_name: loopItem.theme_name,\n  client_id: loopItem.client_id,\n  plan_id: loopItem.plan_id,\n  client_name: loopItem.client_name,\n  _script_text: '',\n  _script_success: true,\n  _copy_payload: {\n    client_id: loopItem.client_id,\n    platforms: loopItem.platforms,\n    content_type: 'ad',\n    format: loopItem.asset_type,\n    template_type: loopItem.template_type || '',\n    theme: loopItem.theme_name,\n    vehicles: [],\n    script: '',\n    plan_asset_id: loopItem.asset_id,\n    store_copy: false\n  }\n}}];"
      },
      "name": "Build Copy Payload (Non-Video)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        800
      ],
      "id": "build-copy-nonvideo-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/generate-platform-copy",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._copy_payload) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "name": "Generate Platform Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        600
      ],
      "id": "gen-copy-001"
    },
    {
      "parameters": {
        "jsCode": "// Collect per-asset result and accumulate in static data\nconst loopItem = $('Loop Over Assets').first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData._results) {\n  staticData._results = [];\n}\n\n// Get script text ONLY for video assets\nlet labeledScript = '';\nlet flatScript = '';\nlet phoneticScript = '';\nif (loopItem.is_video) {\n  try {\n    const videoPayload = $('Build Copy Payload (Video)').first().json;\n    labeledScript = videoPayload._labeled_script || '';\n    flatScript = videoPayload._script_text || '';\n    phoneticScript = videoPayload._phonetic_script || '';\n  } catch (e) {}\n}\n\n// Get copy response from Generate Platform Copy\nlet copySuccess = false;\nlet platformCopy = null;\ntry {\n  const copyResp = $('Generate Platform Copy').first().json;\n  copySuccess = copyResp.success !== false && Array.isArray(copyResp.generated_copy);\n  \n  if (copyResp.generated_copy) {\n    platformCopy = {};\n    for (const item of copyResp.generated_copy) {\n      if (item.platform === 'meta' && item.copy) {\n        platformCopy.meta = {\n          primaryText: item.copy.primary_text || '',\n          headline: item.copy.headline || '',\n          description: item.copy.description || ''\n        };\n      } else if (item.platform === 'tiktok' && item.copy) {\n        platformCopy.tiktok = {\n          caption: item.copy.caption || '',\n          hashtags: Array.isArray(item.copy.hashtags) ? item.copy.hashtags.join(' ') : (item.copy.hashtags || '')\n        };\n      } else if (item.platform === 'youtube' && item.copy) {\n        platformCopy.youtube = {\n          title: item.copy.title || '',\n          description: item.copy.description || ''\n        };\n      }\n    }\n  }\n} catch (e) {\n  copySuccess = false;\n}\n\nstaticData._results.push({\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  is_video: loopItem.is_video,\n  plan_id: loopItem.plan_id,\n  client_name: loopItem.client_name,\n  _labeled_script: labeledScript,\n  _phonetic_script: phoneticScript,\n  _script_text: flatScript,\n  _copy_success: copySuccess,\n  _platform_copy: platformCopy\n});\n\nreturn [{ json: { _collected: true, _count: staticData._results.length } }];"
      },
      "name": "Collect Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3650,
        600
      ],
      "id": "collect-result-001"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all accumulated results from static data\nconst staticData = $getWorkflowStaticData('global');\nconst allResults = staticData._results || [];\nconst firstPrep = $('Prep Assets').first().json;\nconst planId = firstPrep.plan_id;\nconst clientName = firstPrep.client_name;\nconst errors = [];\nconst results = { processed: 0, scripts: 0, copy: 0 };\nconst scriptUpdates = [];\nconst copyUpdates = [];\n\nfor (const r of allResults) {\n  if (r.is_video) results.processed++;\n  if (r._labeled_script) {\n    scriptUpdates.push({\n      id: r.asset_id,\n      text: r._labeled_script,\n      phonetic: r._phonetic_script || ''\n    });\n    results.scripts++;\n  }\n  if (r._copy_success && r._platform_copy) {\n    copyUpdates.push({\n      id: r.asset_id,\n      copy: r._platform_copy\n    });\n    results.copy++;\n  }\n}\n\n// Build SQL for saving scripts — both display and phonetic versions\nlet scriptUpdateSql = 'SELECT 1';\nif (scriptUpdates.length > 0) {\n  scriptUpdateSql = scriptUpdates.map(u =>\n    \"UPDATE assets SET script_text = $adpilot$\" + u.text + \"$adpilot$, phonetic_script = $adpilot$\" + u.phonetic + \"$adpilot$, updated_at = NOW() WHERE id = '\" + u.id + \"'::uuid\"\n  ).join(';\\n') + ';';\n}\n\n// Build SQL for saving platform_copy JSONB to assets table\nlet copyUpdateSql = 'SELECT 1';\nif (copyUpdates.length > 0) {\n  copyUpdateSql = copyUpdates.map(u =>\n    \"UPDATE assets SET platform_copy = '\" + JSON.stringify(u.copy).replace(/'/g, \"''\") + \"'::jsonb, updated_at = NOW() WHERE id = '\" + u.id + \"'::uuid\"\n  ).join(';\\n') + ';';\n}\n\nconst success = errors.length === 0 || results.copy > 0;\n\n// Clean up static data\ndelete staticData._results;\n\nreturn [{ json: {\n  success, plan_id: planId, client_name: clientName,\n  results, errors, total_assets: allResults.length,\n  video_count: allResults.filter(r => r.is_video).length,\n  scriptUpdateSql,\n  copyUpdateSql\n}}];"
      },
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "id": "aggregate-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $('Aggregate Results').first().json.copyUpdateSql }}",
        "options": {}
      },
      "name": "Save Copy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      },
      "id": "save-copy-001"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Plan + Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Plan ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Plan ID": {
      "main": [
        [
          {
            "node": "Fetch Plan + Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Plan + Assets": {
      "main": [
        [
          {
            "node": "Update Status Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Approved": {
      "main": [
        [
          {
            "node": "Prep Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Assets": {
      "main": [
        [
          {
            "node": "Check Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Skip": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Assets": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video?": {
      "main": [
        [
          {
            "node": "Route by Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Copy Payload (Non-Video)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Template": {
      "main": [
        [
          {
            "node": "Process Spotlight",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Multi-Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Educational",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carry Context After Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Spotlight": {
      "main": [
        [
          {
            "node": "Carry Context After Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Multi-Item": {
      "main": [
        [
          {
            "node": "Carry Context After Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Educational": {
      "main": [
        [
          {
            "node": "Carry Context After Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Context After Process": {
      "main": [
        [
          {
            "node": "Generate Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script": {
      "main": [
        [
          {
            "node": "Build Copy Payload (Video)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Copy Payload (Video)": {
      "main": [
        [
          {
            "node": "Generate Platform Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Copy Payload (Non-Video)": {
      "main": [
        [
          {
            "node": "Generate Platform Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Platform Copy": {
      "main": [
        [
          {
            "node": "Collect Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Result": {
      "main": [
        [
          {
            "node": "Loop Over Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Save Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Scripts": {
      "main": [
        [
          {
            "node": "Save Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize": {
      "main": [
        [
          {
            "node": "Update Final Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Kelly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Status": {
      "main": [
        []
      ]
    },
    "Email Kelly": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Copy": {
      "main": [
        [
          {
            "node": "Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": {
    "global": {}
  },
  "meta": null,
  "pinData": null,
  "versionId": "df11111d-c266-4b62-a048-a4078d4ad223",
  "activeVersionId": "df11111d-c266-4b62-a048-a4078d4ad223",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-17T04:14:48.194Z",
      "createdAt": "2026-02-17T04:14:48.194Z",
      "role": "workflow:owner",
      "workflowId": "Tng3ki5oXDnYbb0j",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-12T13:25:16.511Z",
    "createdAt": "2026-04-12T13:25:16.511Z",
    "versionId": "df11111d-c266-4b62-a048-a4078d4ad223",
    "workflowId": "Tng3ki5oXDnYbb0j",
    "nodes": [
      {
        "id": "webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "path": "prep",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "prep"
      },
      {
        "id": "manual-trigger",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          100
        ]
      },
      {
        "id": "set-test-plan",
        "name": "Set Test Plan ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          250,
          100
        ],
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "plan_id",
                "name": "body.plan_id",
                "type": "string",
                "value": "PASTE_PLAN_ID_HERE"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "fetch-assets",
        "name": "Fetch Plan + Assets",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          500,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT wp.id AS plan_id, wp.status, wp.theme_name, wp.theme_seed,\n  a.id AS asset_id,\n  CASE\n    WHEN a.template_name IN ('Multi Item', 'Single Item Spotlight', 'Educational') THEN 'video'\n    WHEN a.template_name = 'Image Ad' THEN 'image'\n    WHEN a.template_name = 'Carousel Ad' THEN 'carousel'\n    ELSE 'other'\n  END AS asset_type,\n  CASE\n    WHEN a.template_name = 'Multi Item' THEN 'multi_item'\n    WHEN a.template_name = 'Single Item Spotlight' THEN 'spotlight'\n    WHEN a.template_name = 'Educational' THEN 'educational'\n    WHEN a.template_name = 'Image Ad' THEN 'image_ad'\n    WHEN a.template_name = 'Carousel Ad' THEN 'carousel_ad'\n    ELSE lower(replace(a.template_name, ' ', '_'))\n  END AS template_type,\n  a.target_placements AS placements,\n  a.planned_outputs,\n  a.title AS asset_theme,\n  a.inventory_items AS items,\n  a.script_text,\n  c.name AS client_name, c.id AS client_id, c.slug AS client_slug,\n  COALESCE((SELECT json_object_agg(cp.pronunciation, cp.word) FROM client_pronunciations cp WHERE cp.client_id = c.id), '{}'::json) AS pronunciation_reverse_map\nFROM weekly_plans wp\nJOIN assets a ON a.plan_id = wp.id AND a.included = true\nJOIN clients c ON c.id = wp.client_id\nWHERE wp.id = '{{ $json.body.plan_id }}'::uuid",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "update-approved",
        "name": "Update Status Approved",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          750,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE weekly_plans\nSET status = 'approved', updated_at = NOW()\nWHERE id = '{{ $('Webhook').first().json.body.plan_id }}'::uuid\n  AND status IN ('confirmed', 'draft')",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "save-scripts",
        "name": "Save Scripts",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3900,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $json.scriptUpdateSql }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "id": "finalize",
        "name": "Finalize",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4250,
          300
        ],
        "parameters": {
          "jsCode": "const data = $('Aggregate Results').first().json;\nconst success = data.success;\nconst planId = data.plan_id;\nconst clientName = data.client_name || 'Unknown';\nconst skipped = data.skipped || false;\nconst status = success ? 'scripts_ready' : 'prep_failed';\nconst statusSql = skipped ? 'SELECT 1' : \"UPDATE weekly_plans SET status = '\" + status + \"', updated_at = NOW() WHERE id = '\" + planId + \"'::uuid\";\nlet subject, html;\nif (skipped) {\n  subject = '[Prep] Skipped for ' + clientName;\n  html = '<p>Prep skipped for ' + clientName + '.</p>' + (data.reason ? '<p>Reason: ' + data.reason + '</p>' : '');\n} else if (success) {\n  subject = '[Prep Complete] Scripts & copy ready for ' + clientName;\n  html = '<h2>Scripts & Copy Ready</h2><p><strong>Client:</strong> ' + clientName + '</p><ul><li>Processed: ' + data.results.processed + ' video assets</li><li>Scripts: ' + data.results.scripts + ' generated</li><li>Copy: ' + data.results.copy + ' generated</li></ul><p>Status: <strong>' + status + '</strong></p>';\n} else {\n  subject = '[Prep Failed] Content generation failed for ' + clientName;\n  html = '<h2>Prep Pipeline Failed</h2><p><strong>Client:</strong> ' + clientName + '</p><ul>' + (data.errors || []).map(e => '<li>' + e + '</li>').join('') + '</ul><p>Status: <strong>' + status + '</strong></p>';\n}\nreturn [{ json: {\n  ...data, final_status: status, statusSql,\n  _emailBody: { from: 'Ad Pilot <notifications@ad-pilot.ai>', to: ['kelly@ad-pilot.ai'], subject, html },\n  _response: { success, plan_id: planId, status, results: data.results, errors: data.errors || [] },\n}}];"
        }
      },
      {
        "id": "update-final-status",
        "name": "Update Final Status",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4500,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $json.statusSql }}",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "send-email",
        "name": "Email Kelly",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4500,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "credentials": {
          "httpBearerAuth": {
            "id": "oConQlSBx8Yjco2M",
            "name": "Resend"
          }
        }
      },
      {
        "id": "respond",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          4750,
          500
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json._response) }}"
        }
      },
      {
        "parameters": {
          "jsCode": "// Clear any stale static data from previous runs\nconst staticData = $getWorkflowStaticData('global');\ndelete staticData._results;\n\n// Prep Assets — split into individual items with routing metadata\nconst items = $('Fetch Plan + Assets').all();\nconst webhookInput = $('Webhook').first().json.body;\nconst planId = webhookInput.plan_id;\n\nif (items.length === 0) {\n  return [{ json: {\n    _skip: true, plan_id: planId, client_name: 'Unknown',\n    _results: { processed: 0, scripts: 0, copy: 0 },\n    _errors: [], scriptUpdateSql: 'SELECT 1'\n  }}];\n}\n\nconst assets = items.map(item => item.json);\nconst clientName = assets[0].client_name || '';\nconst clientId = assets[0].client_id;\nconst clientSlug = assets[0].client_slug || '';\nconst themeName = assets[0].theme_name || assets[0].asset_theme || '';\nconst planStatus = assets[0].status;\n\n// If already processed, skip\nif (planStatus === 'scripts_ready' || planStatus === 'prep_failed') {\n  return [{ json: {\n    _skip: true, plan_id: planId, client_name: clientName,\n    _results: { processed: 0, scripts: 0, copy: 0 },\n    _errors: [], scriptUpdateSql: 'SELECT 1',\n    _skipReason: 'Already ' + planStatus\n  }}];\n}\n\n// Build per-asset items\nconst output = [];\nfor (const asset of assets) {\n  let processEndpoint = '';\n  if (asset.asset_type === 'video') {\n    switch (asset.template_type) {\n      case 'multi_item': processEndpoint = '/webhook/process-multi-item-asset'; break;\n      case 'spotlight': processEndpoint = '/webhook/process-spotlight-asset'; break;\n      case 'educational': processEndpoint = '/webhook/process-educational-asset'; break;\n      default: processEndpoint = '';\n    }\n  }\n\n  // Parse placements — prefer target_placements, fall back to planned_outputs\n  let platforms;\n  try {\n    platforms = typeof asset.placements === 'string' ? JSON.parse(asset.placements) : (asset.placements || []);\n  } catch (e) { platforms = []; }\n  if (!Array.isArray(platforms)) platforms = [];\n\n  // If target_placements is empty, derive from planned_outputs\n  if (platforms.length === 0 && asset.planned_outputs) {\n    const outputs = typeof asset.planned_outputs === 'string'\n      ? JSON.parse(asset.planned_outputs)\n      : asset.planned_outputs;\n    const allCodes = (outputs || []).flatMap(o => o.platforms || []);\n    // Normalize to parent platforms for copy generation\n    const parentSet = new Set();\n    for (const code of allCodes) {\n      if (/^(fb_|meta_|facebook|ig_)/i.test(code)) parentSet.add('meta');\n      else if (/^(tiktok|tt_)/i.test(code)) parentSet.add('tiktok');\n      else if (/^(yt_|youtube)/i.test(code)) parentSet.add('youtube');\n    }\n    platforms = [...parentSet];\n  }\n\n  // Fallback if still empty\n  if (platforms.length === 0) platforms = ['meta'];\n\n  // For non-video, filter to meta platforms\n  if (asset.asset_type !== 'video') {\n    platforms = platforms.filter(p => /meta|facebook|instagram/i.test(p));\n    if (platforms.length === 0) platforms = ['meta'];\n  }\n\n  output.push({ json: {\n    asset_id: asset.asset_id,\n    asset_type: asset.asset_type,\n    template_type: asset.template_type,\n    is_video: asset.asset_type === 'video',\n    process_endpoint: processEndpoint,\n    platforms: platforms,\n    theme_name: themeName,\n    client_id: clientId,\n    client_slug: clientSlug,\n    client_name: clientName,\n    plan_id: planId,\n    script_text: asset.script_text || '',\n    _skip: false,\n    pronunciation_reverse_map: asset.pronunciation_reverse_map || {}\n  }});\n}\nreturn output;"
        },
        "name": "Prep Assets",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          300
        ],
        "id": "prep-assets-001"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "skip-check",
                "leftValue": "={{ $json._skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Check Skip",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1250,
          300
        ],
        "id": "check-skip-001"
      },
      {
        "parameters": {
          "batchSize": 1,
          "options": {}
        },
        "name": "Loop Over Assets",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1500,
          500
        ],
        "id": "loop-assets-001"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "video-check",
                "leftValue": "={{ $json.is_video }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Is Video?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1750,
          500
        ],
        "id": "is-video-001"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "spotlight-check",
                      "leftValue": "={{ $json.template_type }}",
                      "rightValue": "spotlight",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Spotlight"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "multi-check",
                      "leftValue": "={{ $json.template_type }}",
                      "rightValue": "multi_item",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Multi-Item"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "edu-check",
                      "leftValue": "={{ $json.template_type }}",
                      "rightValue": "educational",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Educational"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "name": "Route by Template",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2000,
          400
        ],
        "id": "route-template-001"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/process-spotlight-asset",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
          "options": {
            "timeout": 120000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "name": "Process Spotlight",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2300,
          200
        ],
        "id": "process-spotlight-001"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/process-multi-item-asset",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
          "options": {
            "timeout": 120000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "name": "Process Multi-Item",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2300,
          400
        ],
        "id": "process-multi-001"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/process-educational-asset",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
          "options": {
            "timeout": 120000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "name": "Process Educational",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2300,
          600
        ],
        "id": "process-edu-001"
      },
      {
        "parameters": {
          "jsCode": "// Carry asset context forward after process webhook\n// HTTP Request response is in $json, but we need asset_id from input\n// Since pairedItem breaks after HTTP Request, we use $('Loop Over Assets') \n// to get the current batch item\nconst loopItem = $('Loop Over Assets').first().json;\nconst processResult = $json;\n\nreturn [{ json: {\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  template_type: loopItem.template_type,\n  is_video: loopItem.is_video,\n  platforms: loopItem.platforms,\n  theme_name: loopItem.theme_name,\n  client_id: loopItem.client_id,\n  client_slug: loopItem.client_slug,\n  client_name: loopItem.client_name,\n  plan_id: loopItem.plan_id,\n  _process_success: processResult.success !== false,\n  _process_error: processResult.success === false ? (processResult.message || 'Process failed') : '',\n  pronunciation_reverse_map: loopItem.pronunciation_reverse_map || {}\n}}];"
        },
        "name": "Carry Context After Process",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2600,
          400
        ],
        "id": "carry-process-001"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/generate-script-from-asset",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ \"asset_id\": $json.asset_id }) }}",
          "options": {
            "timeout": 120000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "name": "Generate Script",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2850,
          400
        ],
        "id": "gen-script-001"
      },
      {
        "parameters": {
          "jsCode": "// Parse script result and build platform copy payload\nconst loopItem = $('Loop Over Assets').first().json;\nconst scriptResult = $json;\n\n// Extract structured script parts (phonetic versions for TTS)\nconst script = scriptResult.script || {};\nconst hook = script.hook || '';\nconst segments = script.segments || [];\nconst cta = script.cta || '';\n\n// Reverse pronunciation map: phonetic -> original word\n// Used to convert phonetic script back to clean display text\nconst reverseMap = loopItem.pronunciation_reverse_map || {};\nfunction dePhonetic(text) {\n  let clean = text;\n  for (const [phonetic, original] of Object.entries(reverseMap)) {\n    // Replace all occurrences (case-insensitive)\n    clean = clean.replace(new RegExp(phonetic.replace(/[-\\/\\\\^$*+?.()|[\\]{}]/g, '\\\\$&'), 'gi'), original);\n  }\n  return clean;\n}\n\n// Extract display versions (proper spellings for UI)\n// If Claude provided display_ fields, use them; otherwise reverse-map the phonetic\nconst displayHook = script.display_hook || dePhonetic(hook);\nconst displaySegments = script.display_segments || segments.map(s => dePhonetic(s));\nconst displayCta = script.display_cta || dePhonetic(cta);\n\n// Build labeled script_text for UI parsing (HOOK:/BODY:/CTA: format)\n// Uses DISPLAY version (proper spellings, not phonetic)\nconst labeledScript = 'HOOK: ' + displayHook + '\\nBODY: ' + displaySegments.join('\\n') + '\\nCTA: ' + displayCta;\n\n// Build phonetic labeled script for TTS\nconst phoneticScript = 'HOOK: ' + hook + '\\nBODY: ' + segments.join('\\n') + '\\nCTA: ' + cta;\n\n// Build flat display version for the copy payload\nconst displayFullScript = script.display_full_script ||\n  [displayHook, ...displaySegments, displayCta].filter(Boolean).join(' ');\n\nconst templateCode = scriptResult.template_code || loopItem.template_type || '';\nconst vehicles = scriptResult.vehicles || [];\n\nreturn [{ json: {\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  template_type: loopItem.template_type,\n  is_video: true,\n  platforms: loopItem.platforms,\n  theme_name: loopItem.theme_name,\n  client_id: loopItem.client_id,\n  plan_id: loopItem.plan_id,\n  client_name: loopItem.client_name,\n  _labeled_script: labeledScript,\n  _phonetic_script: phoneticScript,\n  _script_text: displayFullScript,\n  _script_success: displayFullScript.length > 0,\n  _copy_payload: {\n    client_id: loopItem.client_id,\n    platforms: loopItem.platforms,\n    content_type: loopItem.template_type === 'educational' ? 'organic' : 'ad',\n    format: 'video',\n    template_type: templateCode,\n    theme: loopItem.theme_name,\n    vehicles: vehicles,\n    script: displayFullScript,\n    plan_asset_id: loopItem.asset_id,\n    store_copy: false\n  }\n}}];"
        },
        "name": "Build Copy Payload (Video)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3100,
          400
        ],
        "id": "build-copy-video-001"
      },
      {
        "parameters": {
          "jsCode": "// Build platform copy payload for non-video assets (image, carousel)\nconst loopItem = $('Loop Over Assets').first().json;\n\nreturn [{ json: {\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  template_type: loopItem.template_type,\n  is_video: false,\n  platforms: loopItem.platforms,\n  theme_name: loopItem.theme_name,\n  client_id: loopItem.client_id,\n  plan_id: loopItem.plan_id,\n  client_name: loopItem.client_name,\n  _script_text: '',\n  _script_success: true,\n  _copy_payload: {\n    client_id: loopItem.client_id,\n    platforms: loopItem.platforms,\n    content_type: 'ad',\n    format: loopItem.asset_type,\n    template_type: loopItem.template_type || '',\n    theme: loopItem.theme_name,\n    vehicles: [],\n    script: '',\n    plan_asset_id: loopItem.asset_id,\n    store_copy: false\n  }\n}}];"
        },
        "name": "Build Copy Payload (Non-Video)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2250,
          800
        ],
        "id": "build-copy-nonvideo-001"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/generate-platform-copy",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json._copy_payload) }}",
          "options": {
            "timeout": 60000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "name": "Generate Platform Copy",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3400,
          600
        ],
        "id": "gen-copy-001"
      },
      {
        "parameters": {
          "jsCode": "// Collect per-asset result and accumulate in static data\nconst loopItem = $('Loop Over Assets').first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData._results) {\n  staticData._results = [];\n}\n\n// Get script text ONLY for video assets\nlet labeledScript = '';\nlet flatScript = '';\nlet phoneticScript = '';\nif (loopItem.is_video) {\n  try {\n    const videoPayload = $('Build Copy Payload (Video)').first().json;\n    labeledScript = videoPayload._labeled_script || '';\n    flatScript = videoPayload._script_text || '';\n    phoneticScript = videoPayload._phonetic_script || '';\n  } catch (e) {}\n}\n\n// Get copy response from Generate Platform Copy\nlet copySuccess = false;\nlet platformCopy = null;\ntry {\n  const copyResp = $('Generate Platform Copy').first().json;\n  copySuccess = copyResp.success !== false && Array.isArray(copyResp.generated_copy);\n  \n  if (copyResp.generated_copy) {\n    platformCopy = {};\n    for (const item of copyResp.generated_copy) {\n      if (item.platform === 'meta' && item.copy) {\n        platformCopy.meta = {\n          primaryText: item.copy.primary_text || '',\n          headline: item.copy.headline || '',\n          description: item.copy.description || ''\n        };\n      } else if (item.platform === 'tiktok' && item.copy) {\n        platformCopy.tiktok = {\n          caption: item.copy.caption || '',\n          hashtags: Array.isArray(item.copy.hashtags) ? item.copy.hashtags.join(' ') : (item.copy.hashtags || '')\n        };\n      } else if (item.platform === 'youtube' && item.copy) {\n        platformCopy.youtube = {\n          title: item.copy.title || '',\n          description: item.copy.description || ''\n        };\n      }\n    }\n  }\n} catch (e) {\n  copySuccess = false;\n}\n\nstaticData._results.push({\n  asset_id: loopItem.asset_id,\n  asset_type: loopItem.asset_type,\n  is_video: loopItem.is_video,\n  plan_id: loopItem.plan_id,\n  client_name: loopItem.client_name,\n  _labeled_script: labeledScript,\n  _phonetic_script: phoneticScript,\n  _script_text: flatScript,\n  _copy_success: copySuccess,\n  _platform_copy: platformCopy\n});\n\nreturn [{ json: { _collected: true, _count: staticData._results.length } }];"
        },
        "name": "Collect Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3650,
          600
        ],
        "id": "collect-result-001"
      },
      {
        "parameters": {
          "jsCode": "// Aggregate all accumulated results from static data\nconst staticData = $getWorkflowStaticData('global');\nconst allResults = staticData._results || [];\nconst firstPrep = $('Prep Assets').first().json;\nconst planId = firstPrep.plan_id;\nconst clientName = firstPrep.client_name;\nconst errors = [];\nconst results = { processed: 0, scripts: 0, copy: 0 };\nconst scriptUpdates = [];\nconst copyUpdates = [];\n\nfor (const r of allResults) {\n  if (r.is_video) results.processed++;\n  if (r._labeled_script) {\n    scriptUpdates.push({\n      id: r.asset_id,\n      text: r._labeled_script,\n      phonetic: r._phonetic_script || ''\n    });\n    results.scripts++;\n  }\n  if (r._copy_success && r._platform_copy) {\n    copyUpdates.push({\n      id: r.asset_id,\n      copy: r._platform_copy\n    });\n    results.copy++;\n  }\n}\n\n// Build SQL for saving scripts — both display and phonetic versions\nlet scriptUpdateSql = 'SELECT 1';\nif (scriptUpdates.length > 0) {\n  scriptUpdateSql = scriptUpdates.map(u =>\n    \"UPDATE assets SET script_text = $adpilot$\" + u.text + \"$adpilot$, phonetic_script = $adpilot$\" + u.phonetic + \"$adpilot$, updated_at = NOW() WHERE id = '\" + u.id + \"'::uuid\"\n  ).join(';\\n') + ';';\n}\n\n// Build SQL for saving platform_copy JSONB to assets table\nlet copyUpdateSql = 'SELECT 1';\nif (copyUpdates.length > 0) {\n  copyUpdateSql = copyUpdates.map(u =>\n    \"UPDATE assets SET platform_copy = '\" + JSON.stringify(u.copy).replace(/'/g, \"''\") + \"'::jsonb, updated_at = NOW() WHERE id = '\" + u.id + \"'::uuid\"\n  ).join(';\\n') + ';';\n}\n\nconst success = errors.length === 0 || results.copy > 0;\n\n// Clean up static data\ndelete staticData._results;\n\nreturn [{ json: {\n  success, plan_id: planId, client_name: clientName,\n  results, errors, total_assets: allResults.length,\n  video_count: allResults.filter(r => r.is_video).length,\n  scriptUpdateSql,\n  copyUpdateSql\n}}];"
        },
        "name": "Aggregate Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          200
        ],
        "id": "aggregate-001"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "{{ $('Aggregate Results').first().json.copyUpdateSql }}",
          "options": {}
        },
        "name": "Save Copy",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4000,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        },
        "id": "save-copy-001"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Plan + Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Set Test Plan ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Test Plan ID": {
        "main": [
          [
            {
              "node": "Fetch Plan + Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Plan + Assets": {
        "main": [
          [
            {
              "node": "Update Status Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status Approved": {
        "main": [
          [
            {
              "node": "Prep Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Assets": {
        "main": [
          [
            {
              "node": "Check Skip",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Skip": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Assets": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Video?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Video?": {
        "main": [
          [
            {
              "node": "Route by Template",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Copy Payload (Non-Video)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Template": {
        "main": [
          [
            {
              "node": "Process Spotlight",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Process Multi-Item",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Process Educational",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Carry Context After Process",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Spotlight": {
        "main": [
          [
            {
              "node": "Carry Context After Process",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Multi-Item": {
        "main": [
          [
            {
              "node": "Carry Context After Process",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Educational": {
        "main": [
          [
            {
              "node": "Carry Context After Process",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Carry Context After Process": {
        "main": [
          [
            {
              "node": "Generate Script",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Script": {
        "main": [
          [
            {
              "node": "Build Copy Payload (Video)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Copy Payload (Video)": {
        "main": [
          [
            {
              "node": "Generate Platform Copy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Copy Payload (Non-Video)": {
        "main": [
          [
            {
              "node": "Generate Platform Copy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Platform Copy": {
        "main": [
          [
            {
              "node": "Collect Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Result": {
        "main": [
          [
            {
              "node": "Loop Over Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Results": {
        "main": [
          [
            {
              "node": "Save Scripts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Scripts": {
        "main": [
          [
            {
              "node": "Save Copy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize": {
        "main": [
          [
            {
              "node": "Update Final Status",
              "type": "main",
              "index": 0
            },
            {
              "node": "Email Kelly",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Final Status": {
        "main": [
          []
        ]
      },
      "Email Kelly": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Copy": {
        "main": [
          [
            {
              "node": "Finalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}