workflows/_batch__generate_plan_videos_XUmbIpT6vJpWwvge.json
{
  "updatedAt": "2026-02-22T03:25:10.016Z",
  "createdAt": "2026-02-18T04:00:47.533Z",
  "id": "XUmbIpT6vJpWwvge",
  "name": "[BATCH] Generate Plan Videos",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "generate-videos",
      "parameters": {
        "path": "generate-videos",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        500
      ],
      "parameters": {}
    },
    {
      "id": "get-plan-assets",
      "name": "Get Plan Assets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id AS asset_id,\n  a.asset_type,\n  a.template_name,\n  (a.avatars->0->>'avatar_id') AS avatar_id,\n  a.background_id,\n  a.planned_outputs AS placements,\n  a.script_text,\n  a.phonetic_script,\n  a.music_id,\n  wp.client_id,\n  wp.theme_name,\n  wp.status AS plan_status,\n  c.name AS client_name,\n  c.slug AS client_slug,\n  s.cloudinary_url AS music_url,\n  COALESCE(\n    (SELECT json_agg(json_build_object(\n      'vin', ii.external_id,\n      'title', ii.title,\n      'image_url', ii.hero_image_url,\n      'price', ii.price\n    ))\n    FROM jsonb_array_elements(a.inventory_items) AS elem\n    JOIN inventory_items ii ON ii.id = (elem->>'id')::uuid\n    ), '[]'::json\n  ) AS vehicles\nFROM assets a\nJOIN weekly_plans wp ON a.plan_id = wp.id\nJOIN clients c ON wp.client_id = c.id\nLEFT JOIN songs s ON a.music_id::text = s.id::text\nWHERE a.plan_id = '{{ $json.body.plan_id }}'::uuid\n  AND a.included = true\n  AND a.template_name IN ('Multi Item', 'Single Item Spotlight', 'Educational')",
        "options": {
          "queryBatching": "independently"
        }
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "has-video-assets",
      "name": "Has Video Assets?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-0",
              "leftValue": "={{ $json.asset_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "build-job-payload",
      "name": "Build Job Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Parse planned_outputs to determine ratios and platforms\n  let ratios = ['9:16']; // default\n  let platforms = ['meta'];\n\n  if (d.placements) {\n    const p = typeof d.placements === 'string' ? JSON.parse(d.placements) : d.placements;\n    const ratioSet = new Set();\n    const platSet = new Set();\n\n    if (Array.isArray(p)) {\n      for (const output of p) {\n        if (output.aspect_ratio) ratioSet.add(output.aspect_ratio);\n        if (Array.isArray(output.platforms)) {\n          for (const plat of output.platforms) platSet.add(plat);\n        }\n      }\n    }\n\n    if (ratioSet.size > 0) ratios = [...ratioSet];\n    if (platSet.size > 0) platforms = [...platSet];\n  }\n\n  // Determine template_id from template_name\n  let template_id = 'multi-item'; // default\n  const tn = (d.template_name || '').toLowerCase();\n  if (tn.includes('spotlight')) template_id = 'spotlight';\n  else if (tn.includes('edu') || tn.includes('education')) template_id = 'educational';\n  else if (tn.includes('multi')) template_id = 'multi-item';\n\n  // Parse vehicles (full data from lateral join)\n  let vehicles = [];\n  if (d.vehicles) {\n    vehicles = typeof d.vehicles === 'string' ? JSON.parse(d.vehicles) : d.vehicles;\n  }\n\n  results.push({\n    json: {\n      client_id: d.client_id,\n      client: d.client_slug,\n      client_name: d.client_name,\n      asset_id: d.asset_id,\n      template_id: template_id,\n      avatar_id: d.avatar_id || null,\n      background_id: d.background_id || null,\n      ratios: ratios,\n      platforms: platforms,\n      email: 'system@ad-pilot.ai',\n      source: 'weekly_cycle',\n      script_text: d.phonetic_script || d.script_text || null,\n      display_script: d.script_text || null,\n      skip_to_render: true,\n      vehicles: vehicles,\n      music_id: d.music_id || null,\n      music_url: d.music_url || null\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "trigger-job-gateway",
      "name": "Trigger Job Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/ad-pilot/start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allData = items[0]?.json?.data || [];\nconst jobs = allData.map(d => ({ asset_id: d.asset_id, job_id: d.job_id, status: d.status }));\n\nreturn [{\n  json: {\n    success: true,\n    message: `Triggered video generation for ${jobs.length} assets`,\n    jobs: jobs,\n    triggered_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1700,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    },
    {
      "id": "no-assets-response",
      "name": "No Assets Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ],
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseBody": "={{ { success: false, message: 'No video assets found for this plan' } }}"
      }
    },
    {
      "parameters": {
        "jsCode": "// Pass through Postgres results, strip debug\nconst items = $input.all();\nreturn items.map(item => ({ json: item.json }));"
      },
      "id": "normalize-results-001",
      "name": "Normalize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Plan Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Plan Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plan Assets": {
      "main": [
        [
          {
            "node": "Normalize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Job Payload": {
      "main": [
        [
          {
            "node": "Trigger Job Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Job Gateway": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Results": {
      "main": [
        [
          {
            "node": "Build Job Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a3f1a2e0-1b73-475c-bcc2-7104fa945ef2",
  "activeVersionId": "a3f1a2e0-1b73-475c-bcc2-7104fa945ef2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-18T04:00:47.533Z",
      "createdAt": "2026-02-18T04:00:47.533Z",
      "role": "workflow:owner",
      "workflowId": "XUmbIpT6vJpWwvge",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-22T03:25:10.021Z",
    "createdAt": "2026-02-22T03:25:10.021Z",
    "versionId": "a3f1a2e0-1b73-475c-bcc2-7104fa945ef2",
    "workflowId": "XUmbIpT6vJpWwvge",
    "nodes": [
      {
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "generate-videos",
        "parameters": {
          "path": "generate-videos",
          "httpMethod": "POST",
          "responseMode": "responseNode"
        }
      },
      {
        "id": "manual-trigger",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          250,
          500
        ],
        "parameters": {}
      },
      {
        "id": "get-plan-assets",
        "name": "Get Plan Assets",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          500,
          300
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  a.id AS asset_id,\n  a.asset_type,\n  a.template_name,\n  (a.avatars->0->>'avatar_id') AS avatar_id,\n  a.background_id,\n  a.planned_outputs AS placements,\n  a.script_text,\n  a.phonetic_script,\n  a.music_id,\n  wp.client_id,\n  wp.theme_name,\n  wp.status AS plan_status,\n  c.name AS client_name,\n  c.slug AS client_slug,\n  s.cloudinary_url AS music_url,\n  COALESCE(\n    (SELECT json_agg(json_build_object(\n      'vin', ii.external_id,\n      'title', ii.title,\n      'image_url', ii.hero_image_url,\n      'price', ii.price\n    ))\n    FROM jsonb_array_elements(a.inventory_items) AS elem\n    JOIN inventory_items ii ON ii.id = (elem->>'id')::uuid\n    ), '[]'::json\n  ) AS vehicles\nFROM assets a\nJOIN weekly_plans wp ON a.plan_id = wp.id\nJOIN clients c ON wp.client_id = c.id\nLEFT JOIN songs s ON a.music_id::text = s.id::text\nWHERE a.plan_id = '{{ $json.body.plan_id }}'::uuid\n  AND a.included = true\n  AND a.template_name IN ('Multi Item', 'Single Item Spotlight', 'Educational')",
          "options": {
            "queryBatching": "independently"
          }
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "has-video-assets",
        "name": "Has Video Assets?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          700,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "condition-0",
                "leftValue": "={{ $json.asset_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "isNotEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "build-job-payload",
        "name": "Build Job Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Parse planned_outputs to determine ratios and platforms\n  let ratios = ['9:16']; // default\n  let platforms = ['meta'];\n\n  if (d.placements) {\n    const p = typeof d.placements === 'string' ? JSON.parse(d.placements) : d.placements;\n    const ratioSet = new Set();\n    const platSet = new Set();\n\n    if (Array.isArray(p)) {\n      for (const output of p) {\n        if (output.aspect_ratio) ratioSet.add(output.aspect_ratio);\n        if (Array.isArray(output.platforms)) {\n          for (const plat of output.platforms) platSet.add(plat);\n        }\n      }\n    }\n\n    if (ratioSet.size > 0) ratios = [...ratioSet];\n    if (platSet.size > 0) platforms = [...platSet];\n  }\n\n  // Determine template_id from template_name\n  let template_id = 'multi-item'; // default\n  const tn = (d.template_name || '').toLowerCase();\n  if (tn.includes('spotlight')) template_id = 'spotlight';\n  else if (tn.includes('edu') || tn.includes('education')) template_id = 'educational';\n  else if (tn.includes('multi')) template_id = 'multi-item';\n\n  // Parse vehicles (full data from lateral join)\n  let vehicles = [];\n  if (d.vehicles) {\n    vehicles = typeof d.vehicles === 'string' ? JSON.parse(d.vehicles) : d.vehicles;\n  }\n\n  results.push({\n    json: {\n      client_id: d.client_id,\n      client: d.client_slug,\n      client_name: d.client_name,\n      asset_id: d.asset_id,\n      template_id: template_id,\n      avatar_id: d.avatar_id || null,\n      background_id: d.background_id || null,\n      ratios: ratios,\n      platforms: platforms,\n      email: 'system@ad-pilot.ai',\n      source: 'weekly_cycle',\n      script_text: d.phonetic_script || d.script_text || null,\n      display_script: d.script_text || null,\n      skip_to_render: true,\n      vehicles: vehicles,\n      music_id: d.music_id || null,\n      music_url: d.music_url || null\n    }\n  });\n}\n\nreturn results;"
        }
      },
      {
        "id": "trigger-job-gateway",
        "name": "Trigger Job Gateway",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/ad-pilot/start",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        }
      },
      {
        "id": "aggregate-results",
        "name": "Aggregate Results",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1300,
          300
        ],
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        }
      },
      {
        "id": "format-response",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          300
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst allData = items[0]?.json?.data || [];\nconst jobs = allData.map(d => ({ asset_id: d.asset_id, job_id: d.job_id, status: d.status }));\n\nreturn [{\n  json: {\n    success: true,\n    message: `Triggered video generation for ${jobs.length} assets`,\n    jobs: jobs,\n    triggered_at: new Date().toISOString()\n  }\n}];"
        }
      },
      {
        "id": "respond",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1700,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      },
      {
        "id": "no-assets-response",
        "name": "No Assets Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          900,
          500
        ],
        "parameters": {
          "respondWith": "allIncomingItems",
          "responseBody": "={{ { success: false, message: 'No video assets found for this plan' } }}"
        }
      },
      {
        "parameters": {
          "jsCode": "// Pass through Postgres results, strip debug\nconst items = $input.all();\nreturn items.map(item => ({ json: item.json }));"
        },
        "id": "normalize-results-001",
        "name": "Normalize Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Get Plan Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Get Plan Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Plan Assets": {
        "main": [
          [
            {
              "node": "Normalize Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Job Payload": {
        "main": [
          [
            {
              "node": "Trigger Job Gateway",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Job Gateway": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Results": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Results": {
        "main": [
          [
            {
              "node": "Build Job Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}