workflows/_fallback__auto_confirm_LnCOycG3LN0jkMuR.json
{
  "updatedAt": "2026-03-24T14:59:21.936Z",
  "createdAt": "2026-02-12T19:13:41.196Z",
  "id": "LnCOycG3LN0jkMuR",
  "name": "[FALLBACK] Auto-Confirm",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-cron",
      "name": "Wednesday 6pm CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 3"
            }
          ]
        }
      }
    },
    {
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ]
    },
    {
      "id": "find-draft-plans",
      "name": "Find Draft Plans",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  wp.id AS plan_id,\n  wp.client_id,\n  wp.theme_name,\n  wp.theme_emoji,\n  wp.week_start,\n  c.name AS client_name\nFROM weekly_plans wp\nJOIN clients c ON c.id = wp.client_id\nWHERE wp.status = 'draft'\n  AND wp.week_start >= date_trunc('week', CURRENT_DATE)\n  AND wp.week_start < date_trunc('week', CURRENT_DATE) + interval '7 days'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3XsWrPuEddwVYbGS",
          "name": "Railway Postgres"
        }
      }
    },
    {
      "id": "check-results",
      "name": "Has Draft Plans?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        550,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-count",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "auto-confirm",
      "name": "Auto-Confirm Plans",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Auto-confirm the plan\nUPDATE weekly_plans\nSET status = 'confirmed',\n    approved_at = NOW(),\n    approved_by = 'auto_fallback',\n    updated_at = NOW()\nWHERE id = '{{ $json.plan_id }}'::uuid\n  AND status = 'draft';\n\n-- Mark idea ping as auto-approved\nUPDATE idea_ping_responses\nSET theme_approved = true,\n    response_channel = 'auto_fallback',\n    responded_at = NOW()\nWHERE plan_id = '{{ $json.plan_id }}'::uuid\n  AND responded_at IS NULL;\n\nSELECT '{{ $json.client_name }}' AS client_name, '{{ $json.theme_emoji }}' AS theme_emoji, '{{ $json.theme_name }}' AS theme_name, '{{ $json.plan_id }}' AS plan_id;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3XsWrPuEddwVYbGS",
          "name": "Railway Postgres"
        }
      }
    },
    {
      "id": "build-email",
      "name": "Build Notify Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "jsCode": "// Build email to notify Kelly about auto-confirmed plans\nconst items = $input.all();\nconst plans = items.map(item => {\n  const d = item.json;\n  return (d.theme_emoji || '') + ' ' + (d.theme_name || 'Unnamed') + ' — ' + (d.client_name || 'Unknown client');\n}).join('\\n- ');\n\nconst count = items.length;\nconst subject = '[Auto-Fallback] ' + count + ' plan' + (count > 1 ? 's' : '') + ' auto-confirmed';\n\nconst html = '<h2>Auto-Fallback Triggered</h2>' +\n  '<p>' + count + ' weekly plan' + (count > 1 ? 's were' : ' was') + ' auto-confirmed because no client response was received by Wednesday 6pm CT.</p>' +\n  '<ul>' + items.map(item => {\n    const d = item.json;\n    return '<li>' + (d.theme_emoji || '') + ' ' + (d.theme_name || '') + ' — ' + (d.client_name || '') + '</li>';\n  }).join('') + '</ul>' +\n  '<p>These plans will proceed to the production queue.</p>';\n\nreturn [{ json: {\n  _emailBody: {\n    from: 'Ad Pilot <notifications@ad-pilot.ai>',\n    to: ['kelly@ad-pilot.ai'],\n    subject: subject,\n    html: html\n  }\n}}];"
      }
    },
    {
      "id": "send-email",
      "name": "Email Kelly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._emailBody) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "vdxOfyrKMfWKSmAH",
          "name": "Resend"
        }
      }
    },
    {
      "id": "trigger-prep",
      "name": "Trigger Prep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1550,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-production.up.railway.app/webhook/prep",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ plan_id: $('Auto-Confirm Plans').first().json.plan_id }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 600000
        }
      }
    }
  ],
  "connections": {
    "Wednesday 6pm CT": {
      "main": [
        [
          {
            "node": "Find Draft Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Find Draft Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Draft Plans": {
      "main": [
        [
          {
            "node": "Has Draft Plans?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Draft Plans?": {
      "main": [
        [
          {
            "node": "Auto-Confirm Plans",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Auto-Confirm Plans": {
      "main": [
        [
          {
            "node": "Build Notify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notify Email": {
      "main": [
        [
          {
            "node": "Email Kelly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Kelly": {
      "main": [
        [
          {
            "node": "Trigger Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "America/Chicago"
  },
  "staticData": {
    "node:Wednesday 6pm CT": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "dbc27875-4df6-40c0-9813-f2ba0300415e",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-12T19:13:41.196Z",
      "createdAt": "2026-02-12T19:13:41.196Z",
      "role": "workflow:owner",
      "workflowId": "LnCOycG3LN0jkMuR",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": null,
  "tags": []
}