workflows/_old__script_generation_YZwWO3x8kdBjQvqX.json
{
  "updatedAt": "2025-11-24T13:44:43.000Z",
  "createdAt": "2025-10-20T22:00:13.244Z",
  "id": "YZwWO3x8kdBjQvqX",
  "name": "(OLD) Script generation",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconsole.log('Received input:', input);\n\n// Just pass everything through, don't filter anything\nreturn {\n  json: input\n};"
      },
      "id": "69b57358-5803-4540-813f-0671054a30e3",
      "name": "Parse & Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BIBXJdxM5hkOal3_Ssze3E3-EdXbBMTWhkPhSujLDQc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Template Library",
          "mode": "name"
        },
        "options": {}
      },
      "id": "3612ee83-ee4b-4f77-82df-40499a988e0c",
      "name": "Fetch Template Specs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -240,
        -544
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MmkEFg1TuHDH32HZ",
          "name": "Google Sheets account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// The merge already filtered to the matching template\nconst template = $input.first().json;\n\nconsole.log('Processing template:', template.Template_ID);\n\nconst processedTemplate = {\n  template_id: template.Template_ID,\n  template_name: template.Template_Name,\n  duration_seconds: parseInt(template.Duration_Seconds),\n  aspect_ratio: template.Aspect_Ratio,\n  num_car_slots: parseInt(template.Num_Car_Slots),\n  platform_primary: template.Platform_Primary,\n  style_theme: template.Style_Theme,\n  avatar_primary: template.Avatar_Primary,\n  voiceover_style: template.Voiceover_Style,\n  status: template.Status,\n  notes: template.Notes,\n  scenes: [\n    { scene: 1, duration: 3, description: \"Hook - attention grabber\" },\n    { scene: 2, duration: Math.floor(parseInt(template.Duration_Seconds) * 0.6), description: `Feature ${template.Num_Car_Slots} cars with specs` },\n    { scene: 3, duration: 3, description: \"CTA with dealership info\" }\n  ],\n  _input: template\n};\n\nconsole.log('Processed template:', processedTemplate.template_name);\n\nreturn {\n  json: processedTemplate\n};"
      },
      "id": "7aca142d-35cd-4304-9993-7a92bdd560ca",
      "name": "Process Template Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -544
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kgSVMgpWVSFeAAz4M2LpNmIbuhaJKds9gnbsvLdP-t4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 467345130,
          "mode": "list",
          "cachedResultName": "Spotlight_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kgSVMgpWVSFeAAz4M2LpNmIbuhaJKds9gnbsvLdP-t4/edit#gid=467345130"
        },
        "options": {}
      },
      "id": "c81862f6-637b-4368-a694-ca1c030f3d8a",
      "name": "Fetch Car Inventory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        176,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MmkEFg1TuHDH32HZ",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "bd8fe24e-248e-4199-96e9-7b20f23496c9",
      "name": "Merge Template & Vehicles",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        432,
        -544
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": "={{2000}}"
            },
            {
              "name": "system",
              "value": "={{$json.data[0].shared_system_prompt || \"\"}}"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": $json.data[0].user_prompt}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e223819e-ca2a-406d-af16-87c2cfec5525",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4672,
        -272
      ],
      "credentials": {
        "anthropicApi": {
          "id": "zeHBwJZlhd7vKOA9",
          "name": "Anthropic account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst baseConfig = $('Aggregate Temp configs').first().json.data[0];\n\n// CRITICAL: Get selected_photos from Build Script Prompt TEMP_002 (already in correct array format!)\n// const getPreviousData = (() => {\n//   try {\n//     // Get from Build Script Prompt TEMP_002 - it already transformed to array format\n//     const scriptPromptData = $('Build Script Prompt TEMP_002').first()?.json;\n//     if (scriptPromptData?.selected_photos) {\n//       console.log('\ud83d\udcf8 Found selected_photos from Build Script Prompt TEMP_002 (correct array format)');\n//       return {\n//         selected_photos: scriptPromptData.selected_photos,\n//         rationale: scriptPromptData.rationale,\n//         photos_selected: scriptPromptData.photos_selected,\n//         total_photos_analyzed: scriptPromptData.total_photos_analyzed\n//       };\n//     }\n    \n//     // Template 1 or fallback\n//     console.log('\u2139\ufe0f No selected_photos found (may be Template 1)');\n//     return {};\n//   } catch (e) {\n//     console.log('\u26a0\ufe0f Error getting previous data:', e.message);\n//     return {};\n//   }\n// })();\n\nconsole.log('\ud83d\udcdd Parsing Claude script response');\n\n// Extract and parse the script\nconst responseText = claudeResponse.content[0].text;\nconst cleanText = responseText\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nlet parsedResponse;\ntry {\n  parsedResponse = JSON.parse(cleanText);\n} catch (error) {\n  throw new Error(`Failed to parse script response: ${error.message}`);\n}\n\nconst script = parsedResponse;\n\n// Validate required fields\nif (!script.hook || !script.segments || !script.cta) {\n  throw new Error('Script missing required section(s): hook, segments, or cta');\n}\n\nconsole.log(`\u2705 Script parsed: ${script.segments.length} segments`);\n\n// Clean up baseConfig - remove equipment and all_images\nconst cleanBaseConfig = {\n  ...baseConfig,\n  equipment: undefined,  // Remove equipment string\n  vehicles: baseConfig.vehicles?.map(vehicle => {\n    const { all_images, equipment, ...cleanVehicle } = vehicle;\n    return cleanVehicle;\n  })\n};\n\n// CRITICAL: Merge base config + selected_photos array + script\nconst finalOutput = {\n  ...cleanBaseConfig,      // Base vehicle data (cleaned)\n  //...getPreviousData,      // Adds selected_photos as ARRAY (Template 2)\n  script: script,\n  \n  // Remove prompts and processing data - we have the script now\n  shared_system_prompt: undefined,\n  system_prompt: undefined,\n  user_prompt: undefined,\n  claude_prompt: undefined,\n  script_user_prompt: undefined,\n  \n  // Remove vision processing artifacts\n  categorizer_vision_content: undefined,\n  feature_identifier_content: undefined,\n  categorizer_raw_response: undefined,\n  feature_identifier_raw: undefined,\n  verified_features: undefined,\n  equipment_categories: undefined,\n  allowed_photo_categories: undefined,\n  equipment_context_by_category: undefined,\n  all_image_urls: undefined,\n  max_photo_index: undefined,\n  total_photos: undefined,\n  \n  _claude_notes: parsedResponse._claude_notes || ''\n};\n\nconsole.log('\ud83e\uddf9 Cleaned up output - removed equipment, all_images, and processing artifacts');\n\nreturn [{\n  json: finalOutput\n}];"
      },
      "id": "6e474ae9-2705-4238-a7f6-fc7cf90599a4",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nlet requestedVins = [];\nlet allVehicles = [];\nlet originalInput = null;\n\nfor (const item of allInputs) {\n  // Check if this is webhook data (has body.vins OR direct vins)\n  if (item.json.body?.vins || item.json.vins) {\n    requestedVins = item.json.body?.vins || item.json.vins;\n    originalInput = item.json.body || item.json;  // Use body if it exists\n  }\n  // Check if this is inventory data (has VIN field)\n  else if (item.json.VIN) {\n    allVehicles.push(item);\n  }\n}\n\nconsole.log('\ud83d\udd0d Requested VINs:', requestedVins);\nconsole.log('\ud83d\udce6 Total vehicles from inventory:', allVehicles.length);\n\nconst matchedVehicles = [];\n\nfor (const item of allVehicles) {\n  const vehicle = item.json;\n  \n  if (vehicle.VIN && requestedVins.includes(vehicle.VIN)) {\n    console.log('\u2705 Match found:', vehicle.VIN);\n    \n    if(originalInput.template_id === \"TEMP_001\") {\n      matchedVehicles.push({\n        vin: vehicle.VIN,\n        year: vehicle.Year,\n        make: vehicle.Make,\n        model: vehicle.Model,\n        price: vehicle.Price,\n        mileage: vehicle.Mileage,\n        image_url: vehicle.All_Images.split(\"|\")[0],\n        url: vehicle.VDP_URL,\n        features: [vehicle.Engine, vehicle.Drivetrain, vehicle.Exterior_Color].filter(Boolean)\n      });\n    } else if(originalInput.template_id === \"TEMP_002\"){\n      matchedVehicles.push({\n        vin: vehicle.VIN,\n        year: vehicle.Year,\n        make: vehicle.Make,\n        model: vehicle.Model,\n        trim: vehicle.Trim,\n        price: vehicle.Price,\n        mileage: vehicle.Mileage,\n        drivetrain: vehicle.Drivetrain,\n        transmission: vehicle.Transmission,\n        engine: vehicle.Engine,\n        exterior_color: vehicle.Exterior_Color,\n        equipment: vehicle.Equipment,\n        all_images: vehicle.All_Images.split(\"|\"),\n        image_url: vehicle.All_Images.split(\"|\")[0],\n        url: vehicle.VDP_URL\n      });\n    }\n  }\n}\n\nconsole.log('\ud83c\udfaf Matched vehicles:', matchedVehicles.length);\n\nif (matchedVehicles.length === 0) {\n  throw new Error(`No vehicles found matching VINs: ${requestedVins.join(', ')}`);\n}\n\nreturn [{\n  json: {\n    ...originalInput,\n    vehicles: matchedVehicles\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        96
      ],
      "id": "f8ca551c-7e81-4868-b40e-aa046626babb",
      "name": "Fetch car info from vins"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Template_ID",
              "field2": "template_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        -544
      ],
      "id": "2ce52d70-107e-4f75-b21f-002f8f61e168",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        96
      ],
      "id": "4b0033be-9a5b-4578-8d65-a539ac806576",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac771c69-0a99-49c2-93ca-db4bf58ffab9",
              "leftValue": "={{$json.template_id}}",
              "rightValue": "TEMP_002",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        96
      ],
      "id": "09406b4f-1987-40ee-bd09-22e107114387",
      "name": "If TEMP_002 One Car Feature"
    },
    {
      "parameters": {
        "jsCode": "// BUILD SHARED BASE PROMPT NODE\n\nconst data = $json;\n\n// Get script_length from original input\nconst scriptLength = data.script_length || 'standard';\n\n// Map script length to timing guidance\nconst timingGuidance = {\n  quick: {\n    target: '15-30 seconds',\n    hook: '3-4 seconds',\n    cta: '4-5 seconds',\n    style: 'Fast-paced, punchy, only the most critical selling points'\n  },\n  standard: {\n    target: '30-45 seconds',\n    hook: '3-5 seconds',\n    cta: '4-5 seconds',\n    style: 'Balanced pacing, main features and benefits'\n  },\n  detailed: {\n    target: '45-60 seconds',\n    hook: '4-6 seconds',\n    cta: '5-6 seconds',\n    style: 'Comprehensive, detailed feature breakdown with context'\n  }\n};\n\nconst timing = timingGuidance[scriptLength];\n\n// SHARED SYSTEM PROMPT - Foundation for ALL templates\nconst sharedSystemPrompt = `You are an expert TikTok car ad copywriter for Capitol Car Credit, a dealership in Rantoul, Illinois.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\u23f1\ufe0f SCRIPT LENGTH TARGET: ${timing.target}\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nPACING: ${timing.style}\nHook: ${timing.hook}\nCall to Action: ${timing.cta}\n\nCRITICAL: Your script MUST fit within the ${timing.target} time frame when spoken naturally.\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83c\udfaf YOUR TOP 3 PRIORITIES (ALWAYS EMPHASIZE IN THIS ORDER):\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\n1. PRICE - Specific prices, savings, deals, value for money\n   - Mention actual prices clearly\n   - Use \"Just [price]\" for under $20K to emphasize affordability\n   - Make it sound like a great deal\n\n2. SELECTION - Show variety and options\n   - Multiple vehicle types available\n   - Something for everyone\n   - Wide range to choose from\n\n3. FINANCING - Available for qualified buyers (THIS IS A HUGE DRAW!)\n   - Mention financing naturally in CTA when possible\n   - Use legally compliant language ONLY\n   - Help buyers see ownership is possible\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udc65 TARGET AUDIENCE:\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nFirst-time buyers, young professionals (18-30), and budget-conscious families\n\nTHEIR PRIORITIES (based on market research):\n- Affordability and value (PRICE matters most!)\n- Fuel efficiency (56% of buyers say this is #1 priority)\n- Safety features (55% prioritize this - especially families with kids)\n- Reliability and low maintenance\n- Modern tech features (smartphone integration, backup camera)\n- Practical benefits (AWD for winters, cargo space)\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83c\udf99\ufe0f TEXT-TO-SPEECH FORMATTING (CRITICAL):\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nNUMBERS:\n- Write as words: \"twenty-one thousand\" not \"$21,000\"\n- Years: \"twenty twenty-four\" not \"2024\"\n- Abbreviations: \"all-wheel drive\" not \"AWD\"\n- Write for natural speech, not reading\n\nPRICE FORMATTING:\nUnder $20,000:\n  - ALWAYS use \"Just\" before price (emphasizes value/affordability)\n  - Examples: \"Just fourteen nine nine five\", \"Just seventeen thousand\"\n  \n$20,000 and above:\n  - ALWAYS include \"thousand\" (avoids confusion)\n  - Examples: \"Twenty-one thousand\", \"Forty-eight thousand nine ninety-five\"\n  - NEVER: \"twenty-one nine nine five\" (confusing without context)\n\nDO NOT MENTION:\n- Mileage (displayed on screen)\n- Complex technical specs (keep it simple)\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83c\udfaf FEATURE SELECTION PRIORITY:\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nPick the HIGHEST tier feature available for each vehicle.\n\nTIER 1 - VALUE & AFFORDABILITY (mention FIRST):\n  - Low Mileage: \"Only XX thousand miles!\" or \"Just XX thousand miles!\"\n  - Fuel Efficiency: \"Great gas mileage\", \"Save at the pump\", \"Hybrid power\"\n  - Reliable Brand: \"Reliable Toyota/Honda/Acura\"\n  - Great Price: Emphasize value\n\nTIER 2 - SAFETY (frame with FAMILY PROTECTION):\n  \u26a0\ufe0f IMPORTANT: Safety features should emphasize protecting loved ones!\n  \n  - Camera: Multi-View \u2192 \"Three-sixty camera keeps your family safe\"\n  - Blind-Spot Information System \u2192 \"Protect your loved ones with blind spot monitoring\"\n  - Lane Departure Warning \u2192 \"Keep your kids safe with lane keeping assist\"\n  - Parking Sensors \u2192 \"Park with confidence - front and rear sensors\"\n  - Adaptive Cruise Control \u2192 \"Safer highway driving for family road trips\"\n  - Backup Camera \u2192 \"See what's behind you to protect your family\"\n  - Collision Warning \u2192 \"Advanced safety to keep everyone safe\"\n\nTIER 3 - DESIRABILITY & PRACTICALITY (high-appeal features):\n  - Power Moonroof/Sunroof \u2192 \"Enjoy the open air!\" (young buyers love this!)\n  - Heated Seats \u2192 \"Stay warm in Illinois winters\"\n  - Third Row Seating \u2192 \"Room for the whole family\" or \"Seats seven\"\n  - AWD/4X4 \u2192 \"Handle any weather with all-wheel drive\"\n  - Apple CarPlay/Android Auto \u2192 \"Stay connected on the go\"\n  - Spacious Cargo \u2192 \"Plenty of room for gear\"\n\nTIER 4 - COMFORT BONUSES:\n  - Power Liftgate \u2192 \"Easy loading\"\n  - Navigation System \u2192 \"Never get lost\"\n  - Premium Sound \u2192 \"Concert-quality audio\"\n  - LED Headlamps \u2192 \"Better visibility\"\n  - Keyless Entry \u2192 \"Modern convenience\"\n  - Leather Seats \u2192 \"Luxury interior\"\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udde3\ufe0f BRAND PRONUNCIATIONS (CRITICAL - NEVER DEVIATE):\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\n\u26a0\ufe0f Hyundai \u2192 ALWAYS \"Hunday\" (NEVER \"High-un-die\" or \"Hoon-die\")\n\u26a0\ufe0f Nissan \u2192 ALWAYS \"Neesawn\" (NEVER \"Niss-an\" or \"Knee-zon\" or \"Ni-Shuan\" or \"Niece-on\")\n- Acura \u2192 \"Ack-yuh-ruh\"\n- Porsche \u2192 \"Por-shuh\"\n- Chevrolet \u2192 \"Shevra-lay\"\n- BMW \u2192 \"B M W\" (with spaces)\n- Mercedes-Benz \u2192 \"Mer-say-deez Benz\"\n- Mazda \u2192 \"Moz-duh\" (not \"Maz-duh\")\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\u2696\ufe0f LEGAL COMPLIANCE (CRITICAL):\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\n\u274c NEVER SAY:\n- \"Guaranteed approval\"\n- \"Anyone can get financed\"\n- \"Bad credit? No problem!\"\n- Any promise of financing approval\n\n\u2705 INSTEAD USE:\n- \"Financing available for qualified buyers\"\n- \"Talk to us about financing options\"\n- \"We work with you on financing\"\n- \"Ask about our financing programs\"\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udcde DEALERSHIP CONTACT INFO:\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nCapitol Car Credit\n125 North Century Boulevard, Rantoul, Illinois 61866\n\nSales Phone: (217) 893-8232\n\nFOR TEXT-TO-SPEECH:\n- Address: \"one twenty-five North Century Boulevard, Ran-tool\"\n- Phone: \"two one seven, eight nine three, eight two three two\"\n- Website: \"Capitol Car Credit dot com\"\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udce2 CALL TO ACTION REQUIREMENTS:\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nMUST INCLUDE:\n1. ONE contact method (phone OR address OR website - NOT all three!)\n2. Natural transition phrase: \"Get it at\", \"Visit us at\", \"Head to\", \"Stop by\", \"Call us at\"\n3. Mention financing when natural (strongly encouraged - it's a big draw!)\n\nCTA EXAMPLES (WITH FINANCING):\n\u2705 \"Get it at Capitol Car Credit in Ran-tool - financing available for qualified buyers!\"\n\u2705 \"Visit Capitol Car Credit dot com - we'll work with you on financing!\"\n\u2705 \"Stop by one twenty-five North Century in Ran-tool - talk to us about financing!\"\n\u2705 \"Call two one seven, eight nine three, eight two three two - financing programs available!\"\n\nCTA EXAMPLES (WITHOUT FINANCING - still okay):\n\u2705 \"Head to Capitol Car Credit in Ran-tool today!\"\n\u2705 \"Visit us at one twenty-five North Century Boulevard!\"\n\n\u274c BAD EXAMPLES:\n- Too much info: \"Visit us at 125 N Century Blvd, call 217-893-8232, or go to CapitolCarCredit.com!\"\n- Too pushy: \"Bad credit? No problem! Everyone approved!\"\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83c\udfa8 THEME HANDLING (when provided by user):\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nIf a THEME is provided:\n- Use it in the HOOK (opening sentence) and, optionally, in the segments and CTA if time allows\n- Make the hook tie naturally into the theme\n- Examples:\n  * Theme \"Black Friday\" \u2192 \"Black Friday deals are here at Capitol Car Credit!\"\n  * Theme \"Winter weather\" \u2192 \"Ready for Illinois winters? We've got you covered!\"\n  * Theme \"First-time buyers\" \u2192 \"First car? We make it easy!\"\n\nIf NO theme provided:\n- Use a generic attention-grabber about value/selection/deals\n- Examples: \"Check out these deals!\", \"Selection is hot right now!\"\n\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\udccb OUTPUT FORMAT (JSON):\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\n{\n  \"hook\": \"Opening sentence (${timing.hook})\",\n  \"segments\": [\n    \"Segment 1 (timing varies by template)\",\n    \"Segment 2\",\n    ...\n  ],\n  \"cta\": \"Call to action with ONE contact method + optional financing mention (${timing.cta})\",\n  \"full_script\": \"Complete script: hook + all segments + cta + [pause 1 second]\",\n  \"notes\": \"Brief creative notes\"\n}\n\nCRITICAL FORMATTING:\n- \"segments\" array = core content (varies by template type)\n- ALWAYS end full_script with \"[pause 1 second]\"\n- This allows avatar to return to resting face before video cuts\n- Output ONLY valid JSON (no markdown, no backticks)\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83c\udfaf REMEMBER THE BIG 3:\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nEvery script should emphasize:\n1. PRICE - Specific, clear, sounds like a deal\n2. SELECTION - Variety and options available\n3. FINANCING - Available for qualified buyers (mention when natural!)\n\nThis is what sets Capitol Car Credit apart!`;\n\nconsole.log('\u2705 Shared system prompt built');\nconsole.log(`\ud83d\udccf Target length: ${timing.target}`);\nconsole.log('\ud83d\udccd Contact: 125 N Century Blvd, Rantoul | 217-893-8232');\n\nreturn [{\n  json: {\n    ...data,\n    shared_system_prompt: sharedSystemPrompt,\n    shared_prompt_ready: true,\n    script_length: scriptLength,\n    timing_guidance: timing\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        96
      ],
      "id": "02747627-8e95-49ee-ba68-982c35c378c1",
      "name": "Build Shared Base Prompt"
    },
    {
      "parameters": {
        "jsCode": "// PROCESS HERO PHOTO FOR ANIMATION\n// Extracts hero photo, checks Cloudinary, determines if BG removal needed\nconst data = $json;\n\n// Get selected_photos object (not array yet - Parse Categorizer Response output)\nconst selectedPhotos = data.selected_photos || {};\n\n// Get VIN from vehicles array\nconst vin = data.vehicles?.[0]?.vin;\n\nconsole.log('\ud83c\udfac Processing hero photo for animation');\n\n// Validate we have required data\nif (!vin) {\n  throw new Error('VIN missing - needed for Cloudinary lookup');\n}\n\nif (!selectedPhotos.hero_exterior) {\n  throw new Error('No hero_exterior photo found in selected_photos!');\n}\n\nconst heroPhoto = selectedPhotos.hero_exterior;\n\nconsole.log(`\u2705 Hero photo found: ${heroPhoto.photo_url}`);\n\n// Check if BG-removed version exists in Cloudinary\nconst bgRemovedUrl = `https://res.cloudinary.com/dtpqxuwby/image/upload/${vin}.png`;\nconsole.log(`\ud83d\udd0d Checking Cloudinary: ${bgRemovedUrl}`);\n\nlet heroBackgroundRemoved = null;\nlet needsProcessing = false;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'HEAD',\n    url: bgRemovedUrl,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n    timeout: 5000\n  });\n  \n  if (response.statusCode === 200) {\n    console.log('\u2705 BG-removed hero found in Cloudinary!');\n    heroBackgroundRemoved = bgRemovedUrl;\n    needsProcessing = false;\n    \n    // CRITICAL: Update the hero photo URL to Cloudinary immediately\n    selectedPhotos.hero_exterior.photo_url = bgRemovedUrl;\n    console.log('\ud83d\udcf8 Updated hero_exterior photo_url to Cloudinary URL');\n  } else {\n    console.log('\u274c BG-removed hero NOT found in Cloudinary');\n    console.log(`Status code: ${response.statusCode}`);\n    needsProcessing = true;\n  }\n} catch (error) {\n  console.log('\u274c Error checking Cloudinary:', error.message);\n  needsProcessing = true;\n}\n\nconsole.log(`Needs processing: ${needsProcessing}`);\n\nreturn [{\n  json: {\n    ...data,\n    selected_photos: selectedPhotos,  // Pass updated selected_photos\n    hero_photo_url: heroPhoto.photo_url,\n    hero_photo_index: heroPhoto.photo_index,\n    hero_bg_removed_url: heroBackgroundRemoved,\n    needs_bg_removal: needsProcessing,\n    cloudinary_checked: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        -64
      ],
      "id": "ec6ca908-8f07-4ec1-b5ae-e01c729c514d",
      "name": "Process Hero Photo for Animation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.remove.bg/v1.0/removebg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "72rkEtm8QRzFpqEmjL42o89z"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.hero_photo_url }}\",\n  \"size\": \"auto\",\n  \"format\": \"png\",\n  \"crop\": true,\n  \"crop_margin\": \"10%\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        -128
      ],
      "id": "ad70cb9d-980d-4dad-9b44-a17e3c69b453",
      "name": "removebg",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dtpqxuwby/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n_unsigned"
            },
            {
              "name": "public_id",
              "value": "={{ $json.VIN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        -224
      ],
      "id": "bc9d8232-895b-40d1-bd18-2498f2092ff4",
      "name": "upload to cloudinary",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the VIN from your JSON data\nconst vin = $json.VIN;\n\n// Rename the binary file if it exists\nif ($binary.data) {\n  $binary.data.fileName = `${vin}.png`;\n}\n\n// Return everything - preserve ALL your JSON data\nreturn {\n  json: $json,  // This keeps ALL your fields intact\n  binary: $binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        -208
      ],
      "id": "8cf5cdeb-0e19-456f-ba5c-efdf365f5155",
      "name": "rename binary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "50cf43b0-eb78-4a88-be36-f13549c7b8fc",
              "leftValue": "={{ $json.needs_bg_removal }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        -64
      ],
      "id": "2b26d381-ea4a-45a7-adb5-9d9284544a64",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Parse Equipment & Build Categories\nconst data = $json;\nconst vehicle = data.vehicles[0];\nconst equipment = vehicle.equipment;\n\nconsole.log(`\ud83d\udd27 Parsing equipment for ${vehicle.year} ${vehicle.make} ${vehicle.model}`);\n\n// Split equipment into individual features\nconst features = equipment.split('|').map(f => f.trim()).filter(f => f);\n\n// Initialize category arrays\nconst categories = {\n  enginePower: [],\n  transmission: [],\n  drivetrain: [],\n  brakingStability: [],\n  safetyAirbags: [],\n  driverAssist: [],\n  exteriorLighting: [],\n  roofsGlass: [],\n  interiorComfort: [],\n  seatingConfig: [],\n  infotainmentAudio: [],\n  navigationDisplay: [],\n  securityAntiTheft: [],\n  towingOffRoad: [],\n  packages: [],\n  wheelsTires: []\n};\n\n// Helper function to categorize features\nconst categorizeFeature = (feature) => {\n  const f = feature.toLowerCase();\n  \n  // 1. Engine & Power\n  if (/^(v6|v8|4-cyl|3-cyl|i4|i6)/.test(f) || \n      /(ecoboost|ecotec|hybrid|turbo|hemi|gdi|vtec|multiair|liter|electric)/i.test(f)) {\n    categories.enginePower.push(feature);\n  }\n  \n  // 2. Transmission\n  if (/(automatic|auto|manual|cvt|spd|drive unit|shiftronic|selshft|xtronic|overdrive)/i.test(f)) {\n    categories.transmission.push(feature);\n  }\n  \n  // 3. Drivetrain\n  if (/^(fwd|rwd|awd|4wd|2wd)$/i.test(f) || /wheel drive/i.test(f)) {\n    categories.drivetrain.push(feature);\n  }\n  \n  // 4. Braking & Stability\n  if (/(abs|stability|stabilitrak|advancetrac|rollover|hill start|hill descent|traction|vehicle dynamic)/i.test(f)) {\n    categories.brakingStability.push(feature);\n  }\n  \n  // 5. Safety - Airbags\n  if (/air bags|airbag|tire pressure monitoring/i.test(f)) {\n    categories.safetyAirbags.push(feature);\n  }\n  \n  // 6. Driver Assist / ADAS\n  if (/(camera|park assist|parksense|parking sensor|distance warning|sonar|blind|lane|collision|propilot|safety shield|adaptive cruise|intelligent cruise)/i.test(f)) {\n    categories.driverAssist.push(feature);\n  }\n  \n  // 7. Exterior & Lighting\n  if (/(headlamp|headlight|xenon|hid|led|fog lamp|daytime running|bed liner|tailgate|spoiler|roof rack|running board|tonneau|shell|cap|sliding rear window)/i.test(f)) {\n    categories.exteriorLighting.push(feature);\n  }\n  \n  // 8. Roofs & Glass\n  if (/(roof:|moonroof|sunroof|panoramic|skylight|privacy glass)/i.test(f)) {\n    categories.roofsGlass.push(feature);\n  }\n  \n  // 9. Interior Comfort\n  if (/(air conditioning|climate|keyless|remote start|power door|power window|power liftgate|power tailgate|power trunk|tilt|telescoping|steering wheel: heated|garage door)/i.test(f)) {\n    categories.interiorComfort.push(feature);\n  }\n  \n  // 10. Seating & Configuration\n  if (/(seat|passenger seating|leather)/i.test(f) && !/steering/i.test(f)) {\n    categories.seatingConfig.push(feature);\n  }\n  \n  // 11. Infotainment & Audio\n  if (/(am\\/fm|radio|stereo|sound|bose|harman|revel|premium sound|infotainment|onstar|sync|uconnect|connect|link|bluetooth|usb|auxiliary|siriusxm|cd|mp3)/i.test(f)) {\n    categories.infotainmentAudio.push(feature);\n  }\n  \n  // 12. Navigation & Display\n  if (/(navigation|head-up display)/i.test(f)) {\n    categories.navigationDisplay.push(feature);\n  }\n  \n  // 13. Security & Anti-Theft\n  if (/(alarm|anti-theft|theft|security system)/i.test(f)) {\n    categories.securityAntiTheft.push(feature);\n  }\n  \n  // 14. Towing & Off-Road\n  if (/(towing|tow|off-road|z71)/i.test(f)) {\n    categories.towingOffRoad.push(feature);\n  }\n  \n  // 15. Packages & Trims\n  if (/(pkg|package|big horn|technology|premium)/i.test(f) && !/sound|audio/i.test(f)) {\n    categories.packages.push(feature);\n  }\n  \n  // 16. Wheels & Tires\n  if (/wheels:|alloy|steel/i.test(f)) {\n    categories.wheelsTires.push(feature);\n  }\n};\n\n// Categorize all features\nfeatures.forEach(feature => {\n  if (feature) categorizeFeature(feature);\n});\n\nconsole.log(`\ud83d\udcca Categorized ${features.length} features into ${Object.keys(categories).length} categories`);\n\n// Build allowed photo categories based on equipment\nconst allowedPhotoCategories = [\n  'hero_exterior',\n  'engine_bay',\n  'infotainment_other',\n  'instrument_cluster',\n  'steering_wheel',\n  'front_seats',\n  'second_row_seats',\n  'cargo_area'\n];\n\n// Add conditional categories based on equipment\nif (categories.infotainmentAudio.some(f => /carplay|android auto/i.test(f))) {\n  allowedPhotoCategories.push('infotainment_carplay');\n}\n\nif (categories.driverAssist.some(f => /360|multi-view|surround view|around view/i.test(f))) {\n  allowedPhotoCategories.push('infotainment_360_camera');\n}\n\nif (categories.roofsGlass.some(f => /moonroof|sunroof|panoramic/i.test(f))) {\n  allowedPhotoCategories.push('moonroof');\n}\n\nif (categories.seatingConfig.some(f => /third row|3rd row|7 passenger|8 passenger/i.test(f))) {\n  allowedPhotoCategories.push('third_row_seats');\n}\n\n// Always add special_feature category for unexpected finds\nallowedPhotoCategories.push('special_feature');\n\n// Build equipment context for each photo category\nconst equipmentContextByCategory = {\n  hero_exterior: {},\n  \n  engine_bay: {\n    engine_features: categories.enginePower,\n    transmission: categories.transmission[0] || null,\n    drivetrain: categories.drivetrain[0] || null\n  },\n  \n  front_seats: {\n    has_leather: categories.seatingConfig.some(f => /^leather$/i.test(f)),\n    has_heated: categories.seatingConfig.some(f => /heated/i.test(f) && /seat/i.test(f)),\n    has_cooled: categories.seatingConfig.some(f => /(cooled|ventilated)/i.test(f)),\n    has_power: categories.seatingConfig.some(f => /(power|dual power)/i.test(f) && /seat/i.test(f)),\n    has_memory: categories.seatingConfig.some(f => /memory/i.test(f)),\n    material_claim: categories.seatingConfig.some(f => /^leather$/i.test(f)) ? 'leather' : 'premium upholstery',\n    all_seat_features: categories.seatingConfig\n  },\n  \n  second_row_seats: {\n    seating_features: categories.seatingConfig.filter(f => /rear|second|passenger/i.test(f))\n  },\n  \n  third_row_seats: {\n    has_third_row: categories.seatingConfig.some(f => /third row|3rd row/i.test(f))\n  },\n  \n  steering_wheel: {\n    has_heated_wheel: categories.interiorComfort.some(f => /steering wheel.*heated/i.test(f)),\n    has_controls: categories.interiorComfort.some(f => /steering wheel control/i.test(f)),\n    tilt_telescoping: categories.interiorComfort.some(f => /tilt.*telescoping/i.test(f))\n  },\n  \n  infotainment_carplay: {\n    has_navigation: categories.navigationDisplay.length > 0,\n    audio_system: categories.infotainmentAudio.find(f => /sound|audio|bose|harman|revel/i.test(f)),\n    connectivity: categories.infotainmentAudio.filter(f => /bluetooth|usb|siriusxm/i.test(f))\n  },\n  \n  infotainment_360_camera: {\n    has_360: true,\n    parking_features: categories.driverAssist.filter(f => /parking|park assist/i.test(f))\n  },\n  \n  moonroof: {\n    moonroof_type: categories.roofsGlass.find(f => /panoramic/i.test(f)) ? 'Panoramic' : 'Moonroof',\n    all_roof_features: categories.roofsGlass\n  },\n  \n  cargo_area: {\n    power_liftgate: categories.interiorComfort.some(f => /power liftgate/i.test(f)),\n    truck_bed_features: categories.exteriorLighting.filter(f => /bed liner|tailgate|tonneau/i.test(f))\n  }\n};\n\nconsole.log(`\u2705 Enabled ${allowedPhotoCategories.length} photo categories`);\n\nreturn [{\n  json: {\n    ...data,\n    equipment_categories: categories,\n    allowed_photo_categories: allowedPhotoCategories,\n    equipment_context_by_category: equipmentContextByCategory,\n    total_features: features.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        16
      ],
      "id": "ac8aab1e-8277-4b9b-971e-e0a57b5947b9",
      "name": "Parse Equipment & Build Categories"
    },
    {
      "parameters": {
        "jsCode": "// Build Photo Categorizer Prompt\nconst data = $json;\nconst vehicle = data.vehicles[0];\nconst allImageUrls = vehicle.all_images\n  .filter(url => url && url.trim())\n  .map(url => url + '/thumb/');  // Use thumbnails for faster processing\n\nconst allowedCategories = data.allowed_photo_categories;\nconst totalPhotos = allImageUrls.length;\nconst maxIndex = totalPhotos - 1;\n\nconsole.log(`\ud83d\udcf8 Building categorizer prompt for ${totalPhotos} photos`);\nconsole.log(`\ud83c\udfaf Looking for ${allowedCategories.length} categories`);\n\nconst systemPrompt = `You are categorizing ${totalPhotos} photos of a ${vehicle.year} ${vehicle.make} ${vehicle.model}.\n\nEQUIPMENT DATA CONFIRMS THIS VEHICLE HAS:\n${data.equipment_categories.seatingConfig.some(f => /third row|3rd row/i.test(f)) ? '\u2713 Third row seating\\n' : ''}\n${data.equipment_categories.roofsGlass.some(f => /moonroof|sunroof|panoramic/i.test(f)) ? '\u2713 ' + data.equipment_context_by_category.moonroof.moonroof_type + '\\n' : ''}\n${data.equipment_categories.driverAssist.some(f => /360|multi-view|surround/i.test(f)) ? '\u2713 360-degree camera\\n' : ''}\n${data.equipment_categories.seatingConfig.some(f => /heated/i.test(f) && /seat/i.test(f)) ? '\u2713 Heated seats\\n' : ''}\n${data.equipment_categories.seatingConfig.some(f => /cooled|ventilated/i.test(f)) ? '\u2713 Cooled/ventilated seats\\n' : ''}\n${data.equipment_categories.seatingConfig.some(f => /^leather$/i.test(f)) ? '\u2713 Leather seats\\n' : ''}\n\nPhoto[0] is designated as hero_exterior (already selected).\n\nCATEGORIES TO LOOK FOR:\n${allowedCategories.filter(c => c !== 'hero_exterior').map(cat => `- ${cat}`).join('\\n')}\n\nDO NOT look for categories not listed above - they don't exist on this vehicle.\n\nRULES:\n1. Multiple photos CAN have the same category if showing DIFFERENT subcategories\n   Example: One photo shows CarPlay, another shows 360 camera \u2192 both are infotainment\n2. If multiple photos show THE SAME THING, pick ONLY THE BEST (clearest, best lighting)\n3. Only assign categories from the list above\n4. Mark irrelevant photos as \"exclude\"\n\nEXCLUDE these categories entirely (never ad-worthy):\n- Center console storage compartments (close-ups)\n- Control button close-ups (seat controls, climate buttons)\n- Cup holder close-ups (showing just cupholders)\n- Key fobs\n- Window stickers / price labels\n- Door panels (unless showing special feature)\n- Random detail shots with no clear feature\n- Photos that are blurry or too dark to use\n\nQUALITY REQUIREMENTS:\n- Well-lit photos only (skip dark or blurry)\n- Clear view of features being highlighted\n- Professional appearance (avoid awkward angles)\n- Shows vehicle in good condition\n\nCATEGORY DEFINITIONS:\n\nENGINE BAY:\n- Clear shot of engine compartment\n- Well-lit, shows engine condition\n\nINFOTAINMENT (can have multiple):\n- infotainment_carplay: Screen showing Apple CarPlay OR Android Auto interface clearly\n- infotainment_360_camera: Screen showing 360-degree/bird's eye parking camera view\n- infotainment_other: Touchscreen showing other features (navigation, audio, settings)\n\nDASHBOARD:\n- instrument_cluster: Gauge cluster or digital instrument display\n- steering_wheel: Steering wheel (with or without controls visible)\n\nSEATING:\n- front_seats: Front seat view showing material, condition, and controls\n- second_row_seats: Back seat view\n- third_row_seats: Third row seating (only if equipment confirms it exists)\n\nCARGO:\n- cargo_area: Trunk or cargo space (or truck bed for pickups)\n\nSPECIAL:\n- moonroof: Moonroof open OR moonroof controls visible (only if equipment confirms)\n- special_feature: Anything else impressive (heads-up display, wireless charging, etc.)\n\nOUTPUT FORMAT (JSON only, no markdown):\n{\n  \"categorized_photos\": [\n    {\n      \"photo_index\": 1,\n      \"category\": \"engine_bay\",\n      \"reasoning\": \"Clear engine shot, well-lit\"\n    },\n    {\n      \"photo_index\": 12,\n      \"category\": \"infotainment_carplay\",\n      \"reasoning\": \"Shows Apple CarPlay interface clearly\"\n    },\n    {\n      \"photo_index\": 8,\n      \"category\": \"exclude\",\n      \"reasoning\": \"Center console storage - not ad-worthy\"\n    }\n  ],\n  \"summary\": {\n    \"engine_bay\": [1],\n    \"infotainment_carplay\": [12],\n    \"front_seats\": [20],\n    \"excluded\": [8, 9, 22]\n  }\n}`;\n\nconst userPrompt = `Categorize all ${totalPhotos} photos of this ${vehicle.year} ${vehicle.make} ${vehicle.model}.\n\n\ud83d\udea8 CRITICAL - PHOTO INDICES \ud83d\udea8\nVALID INDICES: 0 through ${maxIndex}\nTOTAL PHOTOS: ${totalPhotos}\nDO NOT USE indices ${maxIndex + 1} or higher (they don't exist!)\n\nPhoto[0] is hero_exterior (skip this one).\nAnalyze photos 1 through ${maxIndex} and assign categories or mark as exclude.\n\nSelect the BEST photo for each category (quality over quantity).\nIf multiple photos show different features, keep both.\nIf multiple photos show the same feature, pick only the best one.`;\n\n// Build vision_content array for Claude API\nconst visionContent = [\n  {\n    type: \"text\",\n    text: `${systemPrompt}\\n\\n${userPrompt}\\n\\nPHOTOS (each labeled with its index):`\n  }\n];\n\n// Add all images with explicit index labels\nallImageUrls.forEach((url, index) => {\n  visionContent.push({\n    type: \"text\",\n    text: `[PHOTO INDEX ${index}]`\n  });\n  visionContent.push({\n    type: \"image\",\n    source: {\n      type: \"url\",\n      url: url\n    }\n  });\n});\n\nconsole.log(`\u2705 Built vision content with ${allImageUrls.length} photos`);\n\nreturn [{\n  json: {\n    ...data,\n    categorizer_vision_content: visionContent,\n    categorizer_system_prompt: systemPrompt,\n    categorizer_user_prompt: userPrompt,\n    all_image_urls: allImageUrls,\n    max_photo_index: maxIndex,\n    total_photos: totalPhotos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        16
      ],
      "id": "374840cf-4894-412b-b613-40bd7f909e14",
      "name": "Build Photo Categorizer Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"anthropic-version\": \"2023-06-01\",\n  \"content-type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.categorizer_vision_content) }}\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1776,
        16
      ],
      "id": "fe5d2731-54f5-425e-a39d-1bc5a305908c",
      "name": "Claude API - Categorize Photos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LQZygyOyKZ5tikRW",
          "name": "VideoBGRemover"
        },
        "anthropicApi": {
          "id": "zeHBwJZlhd7vKOA9",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Categorizer Response\nconst previousData = $('Build Photo Categorizer Prompt').first().json;\nconst apiResponse = $json.content[0].text;\n\nconsole.log(`\ud83d\udd0d Parsing categorizer response...`);\n\n// Parse JSON response - extract JSON object\nlet responseText = apiResponse;\nconst jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  responseText = jsonMatch[0];\n} else {\n  throw new Error(\"Could not find valid JSON object in response\");\n}\n\nconst categorizedResult = JSON.parse(responseText.trim());\n\n// Get data from previous node\nconst allImageUrls = previousData.all_image_urls;\nconst equipmentContextByCategory = previousData.equipment_context_by_category;\nconst vehicle = previousData.vehicles[0];\n\n// Build selected photos object\nconst selectedPhotos = {};\n\ncategorizedResult.categorized_photos.forEach(photo => {\n  const category = photo.category;\n  if (category !== 'exclude') {\n    const photoIndex = photo.photo_index;\n    \n    // Get equipment context for this category\n    const equipmentContext = equipmentContextByCategory[category] || {};\n    \n    selectedPhotos[category] = {\n      photo_index: photoIndex,\n      photo_url: allImageUrls[photoIndex],\n      reasoning: photo.reasoning,\n      equipment_context: equipmentContext\n    };\n  }\n});\n\n// Always include hero exterior (photo 0)\nselectedPhotos.hero_exterior = {\n  photo_index: 0,\n  photo_url: vehicle.all_images[0],\n  reasoning: \"Hero exterior shot\",\n  equipment_context: {}\n};\n\nconst selectedCount = Object.keys(selectedPhotos).length;\nconst excludedCount = categorizedResult.summary.excluded?.length || 0;\n\nconsole.log(`\ud83d\udcf8 Selected ${selectedCount} photos from ${previousData.total_photos} total`);\nconsole.log(`\ud83d\uddd1\ufe0f Excluded ${excludedCount} photos`);\nconsole.log(`\ud83d\udccb Categories found: ${Object.keys(selectedPhotos).join(', ')}`);\n\nreturn [{\n  json: {\n    ...previousData,  // Carry forward all previous data\n    categorizer_raw_response: categorizedResult,\n    selected_photos: selectedPhotos,\n    selected_photo_count: selectedCount\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        16
      ],
      "id": "3031c4c5-a703-4d57-be28-7ba325126fbb",
      "name": "Parse Categorizer Response"
    },
    {
      "parameters": {
        "jsCode": "// Build Feature Identifier Prompts\nconst data = $json;\nconst selectedPhotos = data.selected_photos;\nconst vehicle = data.vehicles[0];\n\nconsole.log(`\ud83d\udd0d Building feature identifier prompts for ${Object.keys(selectedPhotos).length} photos`);\n\n// Category-specific prompt templates\nconst categoryPrompts = {\n  front_seats: (equipCtx) => `\nAnalyze this front seat photo.\n\nEQUIPMENT DATA:\n${equipCtx.has_leather ? '\u2713 Leather seats confirmed in equipment' : '\u2717 Leather NOT listed in equipment'}\n${equipCtx.has_heated ? '\u2713 Heated seats' : ''}\n${equipCtx.has_cooled ? '\u2713 Cooled/ventilated seats' : ''}\n${equipCtx.has_power ? '\u2713 Power-adjustable seats' : ''}\n${equipCtx.has_memory ? '\u2713 Memory seats' : ''}\n\n\ud83d\udeab CRITICAL RULE: DO NOT analyze or comment on seat material\nWe use equipment data ONLY for material claims (${equipCtx.material_claim}).\n\nYOUR TASK - Focus on what you CAN reliably identify:\n\n1. SEAT CONDITION (visual assessment):\n   - excellent (pristine, no wear)\n   - good (normal use, clean)\n   - fair (some wear visible)\n   - poor (stains, tears, heavy wear)\n\n2. CONTROLS VISIBLE (Yes/No for each):\n   - Heated seat buttons?\n   - Cooled/ventilated buttons?\n   - Power adjustment controls?\n   - Memory seat buttons?\n\n3. GENERAL FEATURES:\n   - Spacious/comfortable appearance?\n   - Center armrest present?\n\nOUTPUT JSON:\n{\n  \"condition\": \"excellent|good|fair|poor\",\n  \"controls_visible\": {\n    \"heated\": true/false,\n    \"cooled\": true/false,\n    \"power\": true/false,\n    \"memory\": true/false\n  },\n  \"spacious\": true/false,\n  \"additional_notes\": \"Brief notes on comfort features\"\n}`,\n\n  engine_bay: (equipCtx) => `\nAnalyze this engine bay photo.\n\nEQUIPMENT DATA:\n${equipCtx.engine_features && equipCtx.engine_features.length > 0 ? '- Engine: ' + equipCtx.engine_features.join(', ') : ''}\n${equipCtx.transmission ? '- Transmission: ' + equipCtx.transmission : ''}\n${equipCtx.drivetrain ? '- Drivetrain: ' + equipCtx.drivetrain : ''}\n\nYOUR TASK:\n\n1. ENGINE CONDITION:\n   - clean (well-maintained, no visible dirt/oil)\n   - average (normal condition)\n   - dirty (visible grime, neglect)\n\n2. VISIBLE BADGING/LABELS:\n   - Any engine badges or labels visible on engine cover?\n   - Specific text you can read?\n\n3. MAINTENANCE APPEARANCE:\n   - Does it appear well-maintained? (Yes/No)\n   - Any obvious issues visible? (leaks, damaged parts)\n\nOUTPUT JSON:\n{\n  \"condition\": \"clean|average|dirty\",\n  \"visible_badging\": \"Description of any badges/labels or null\",\n  \"appears_maintained\": true/false,\n  \"issues_visible\": \"Description or null\"\n}`,\n\n  infotainment_carplay: (equipCtx) => `\nAnalyze this infotainment screen photo.\n\nEQUIPMENT DATA:\n${equipCtx.has_navigation ? '\u2713 Navigation system' : ''}\n${equipCtx.audio_system ? '\u2713 Audio: ' + equipCtx.audio_system : ''}\n\nYOUR TASK - Be SPECIFIC about what you see:\n\n\u26a0\ufe0f CRITICAL: DO NOT assume both CarPlay and Android Auto unless you see BOTH logos clearly!\n\n1. SMARTPHONE INTEGRATION (look carefully):\n   - Apple CarPlay logo visible? (Yes/No)\n   - Android Auto logo visible? (Yes/No)\n   - If neither logo visible: Generic smartphone connectivity only\n\n2. SCREEN SIZE:\n   - small (less than 7 inches)\n   - medium (7-9 inches)\n   - large (10+ inches)\n\n3. SCREEN CONDITION:\n   - excellent (no scratches, clear)\n   - good (minor wear)\n   - scratched (visible damage)\n\n4. OTHER VISIBLE FEATURES:\n   - Navigation map visible?\n   - Premium brand logos (Bose, Harman Kardon)?\n   - Any other notable features?\n\nOUTPUT JSON:\n{\n  \"has_apple_carplay\": true/false/unclear,\n  \"has_android_auto\": true/false/unclear,\n  \"screen_size\": \"small|medium|large\",\n  \"screen_condition\": \"excellent|good|scratched\",\n  \"navigation_visible\": true/false,\n  \"other_features\": \"Description or null\"\n}`,\n\n  infotainment_360_camera: (equipCtx) => `\nAnalyze this 360 camera display photo.\n\nYOUR TASK:\n\n1. CONFIRM 360 CAMERA:\n   - Does this show multi-view/bird's eye parking camera? (Yes/No)\n   - How many camera angles visible? (top view, front, rear, sides?)\n\n2. DISPLAY QUALITY:\n   - clear (high resolution, easy to see)\n   - average (acceptable quality)\n   - poor (grainy, hard to see)\n\n3. ADDITIONAL FEATURES VISIBLE:\n   - Parking sensor indicators?\n   - Trajectory lines?\n   - Distance markers?\n\nOUTPUT JSON:\n{\n  \"is_360_camera\": true/false,\n  \"camera_angles_visible\": [\"top\", \"front\", \"rear\", \"left\", \"right\"],\n  \"display_quality\": \"clear|average|poor\",\n  \"parking_sensors_visible\": true/false,\n  \"additional_features\": \"Description or null\"\n}`,\n\n  moonroof: (equipCtx) => `\nAnalyze this moonroof photo.\n\nEQUIPMENT DATA: ${equipCtx.moonroof_type || 'Moonroof'}\n\nYOUR TASK:\n\n1. WHAT'S SHOWN:\n   - moonroof_open (showing open roof with sky visible)\n   - controls_visible (showing buttons/switches for moonroof)\n   - both (both open roof and controls visible)\n\n2. SIZE ASSESSMENT:\n   - small (compact opening)\n   - medium (standard size)\n   - large (extended opening)\n   - panoramic (very large, extends over passengers)\n\n3. CONDITION:\n   - Glass clean and clear? (Yes/No)\n   - Controls in good condition? (Yes/No)\n\nOUTPUT JSON:\n{\n  \"moonroof_shown\": \"moonroof_open|controls_visible|both\",\n  \"appears_panoramic\": true/false,\n  \"size_rating\": \"small|medium|large|panoramic\",\n  \"condition_notes\": \"Brief assessment\"\n}`,\n\n  cargo_area: (equipCtx) => `\nAnalyze this cargo/trunk space photo.\n\nEQUIPMENT DATA:\n${equipCtx.power_liftgate ? '\u2713 Power liftgate' : ''}\n${equipCtx.truck_bed_features && equipCtx.truck_bed_features.length > 0 ? '\u2713 Truck bed features: ' + equipCtx.truck_bed_features.join(', ') : ''}\n\nYOUR TASK:\n\n1. SPACE ASSESSMENT:\n   - compact (small trunk/bed)\n   - average (typical for vehicle class)\n   - spacious (above average)\n   - huge (exceptional cargo capacity)\n\n2. CONDITION:\n   - clean (well-maintained, no debris)\n   - average (normal use)\n   - cluttered (items present)\n\n3. NOTABLE FEATURES:\n   - Power liftgate button visible?\n   - Cargo cover present?\n   - Tie-down hooks/anchors?\n   - Bed liner visible (trucks)?\n   - Tonneau cover?\n\nOUTPUT JSON:\n{\n  \"space_rating\": \"compact|average|spacious|huge\",\n  \"condition\": \"clean|average|cluttered\",\n  \"notable_features\": [\"list\", \"of\", \"features\"],\n  \"additional_notes\": \"Brief notes\"\n}`,\n\n  steering_wheel: (equipCtx) => `\nAnalyze this steering wheel photo.\n\nEQUIPMENT DATA:\n${equipCtx.has_heated_wheel ? '\u2713 Heated steering wheel' : ''}\n${equipCtx.has_controls ? '\u2713 Steering wheel controls' : ''}\n${equipCtx.tilt_telescoping ? '\u2713 Tilt & telescoping wheel' : ''}\n\nYOUR TASK:\n\n1. CONTROLS VISIBLE:\n   - Audio controls? (Yes/No)\n   - Cruise control buttons? (Yes/No)\n   - Phone/voice controls? (Yes/No)\n   - Heated wheel button/indicator? (Yes/No)\n\n2. MATERIAL/CONDITION:\n   - Leather/wrapped? (Yes/No/Unclear)\n   - Condition: excellent/good/worn\n\n3. OTHER FEATURES:\n   - Paddle shifters visible?\n   - Multifunction display visible behind wheel?\n\nOUTPUT JSON:\n{\n  \"controls_visible\": {\n    \"audio\": true/false,\n    \"cruise\": true/false,\n    \"phone_voice\": true/false,\n    \"heated\": true/false\n  },\n  \"appears_leather_wrapped\": true/false/unclear,\n  \"condition\": \"excellent|good|worn\",\n  \"paddle_shifters\": true/false,\n  \"other_notes\": \"Brief notes\"\n}`,\n\n  instrument_cluster: (equipCtx) => `\nAnalyze this instrument cluster / gauge display photo.\n\nYOUR TASK:\n\n1. CLUSTER TYPE:\n   - traditional_analog (physical gauges with needles)\n   - digital (full digital/LCD display)\n   - hybrid (mix of analog and digital)\n\n2. FEATURES VISIBLE:\n   - Speedometer clearly visible?\n   - Tachometer (RPM gauge) visible?\n   - Fuel gauge visible?\n   - Trip computer/info display?\n   - Navigation display in cluster?\n\n3. CONDITION & QUALITY:\n   - Display condition: excellent/good/worn\n   - Easy to read? (Yes/No)\n\nOUTPUT JSON:\n{\n  \"cluster_type\": \"traditional_analog|digital|hybrid\",\n  \"features_visible\": [\"speedometer\", \"tachometer\", \"fuel\", \"trip_computer\"],\n  \"display_condition\": \"excellent|good|worn\",\n  \"easy_to_read\": true/false,\n  \"notes\": \"Brief assessment\"\n}`,\n\n  second_row_seats: (equipCtx) => `\nAnalyze this second row / back seat photo.\n\nYOUR TASK:\n\n1. SPACE ASSESSMENT:\n   - cramped (limited legroom)\n   - adequate (acceptable for adults)\n   - spacious (comfortable for adults)\n   - generous (exceptional rear space)\n\n2. SEATING CONFIGURATION:\n   - bench (traditional bench seat)\n   - captain_chairs (individual bucket seats)\n   - split_bench (can fold separately)\n\n3. CONDITION:\n   - excellent (pristine, no wear)\n   - good (clean, normal use)\n   - fair (some wear visible)\n\n4. FEATURES VISIBLE:\n   - Rear climate vents?\n   - Cup holders?\n   - USB ports/charging?\n   - Armrest?\n\nOUTPUT JSON:\n{\n  \"space_rating\": \"cramped|adequate|spacious|generous\",\n  \"seating_config\": \"bench|captain_chairs|split_bench\",\n  \"condition\": \"excellent|good|fair\",\n  \"features_visible\": [\"list\", \"of\", \"features\"],\n  \"notes\": \"Brief assessment\"\n}`,\n\n  third_row_seats: (equipCtx) => `\nAnalyze this third row seating photo.\n\nYOUR TASK:\n\n1. SPACE ASSESSMENT:\n   - tight (kids only)\n   - adequate (short adults okay)\n   - comfortable (adults can fit)\n\n2. ACCESS:\n   - How do passengers access third row?\n   - Easy entry visible? (fold-flat second row, etc.)\n\n3. CONDITION:\n   - excellent/good/fair\n\n4. FEATURES:\n   - Cup holders?\n   - Climate vents?\n   - Storage compartments?\n\nOUTPUT JSON:\n{\n  \"space_rating\": \"tight|adequate|comfortable\",\n  \"condition\": \"excellent|good|fair\",\n  \"easy_access\": true/false,\n  \"features_visible\": [\"list\"],\n  \"notes\": \"Brief assessment\"\n}`,\n\n  special_feature: (equipCtx) => `\nAnalyze this special feature photo.\n\nYOUR TASK:\n\nIdentify what special feature is being shown. This could be:\n- Heads-up display\n- Wireless charging pad\n- Advanced climate controls\n- Unique storage solutions\n- Premium materials/trim\n- Technology features\n- Or anything else noteworthy\n\nDescribe what you see and assess its condition/functionality.\n\nOUTPUT JSON:\n{\n  \"feature_identified\": \"Name/description of feature\",\n  \"condition\": \"excellent|good|fair\",\n  \"notable_aspects\": \"What makes this feature special\",\n  \"likely_appeal\": \"Why customers would value this\"\n}`,\n\n  infotainment_other: (equipCtx) => `\nAnalyze this infotainment screen photo.\n\nYOUR TASK:\n\nThis screen is NOT showing CarPlay/Android Auto or 360 camera.\nWhat IS it showing?\n\n1. SCREEN CONTENT:\n   - Navigation system?\n   - Audio/radio interface?\n   - Vehicle settings?\n   - Other?\n\n2. SCREEN QUALITY:\n   - Size: small/medium/large\n   - Condition: excellent/good/scratched\n   - Touchscreen? (Yes/No/Unclear)\n\n3. FEATURES VISIBLE:\n   - Premium audio branding?\n   - Climate controls integrated?\n   - Other notable features?\n\nOUTPUT JSON:\n{\n  \"showing\": \"navigation|audio|settings|other\",\n  \"screen_size\": \"small|medium|large\",\n  \"condition\": \"excellent|good|scratched\",\n  \"appears_touchscreen\": true/false/unclear,\n  \"features_visible\": [\"list\"],\n  \"notes\": \"Brief description\"\n}`\n};\n\n// Build feature identifier vision content\nconst featureIdentifierContent = [\n  {\n    type: \"text\",\n    text: `Analyze these vehicle feature photos from a ${vehicle.year} ${vehicle.make} ${vehicle.model}.\n\nFor each photo, identify visible features based on the category-specific instructions.\n\nIMPORTANT: Output ONLY valid JSON with no markdown formatting.\n\n`\n  }\n];\n\nlet categoriesProcessed = 0;\n\nObject.entries(selectedPhotos).forEach(([category, photoData]) => {\n  if (category === 'hero_exterior') return; // Skip hero\n\n  const promptGenerator = categoryPrompts[category];\n  if (!promptGenerator) {\n    console.log(`\u26a0\ufe0f No prompt template for category: ${category}`);\n    return;\n  }\n\n  const categoryPrompt = promptGenerator(photoData.equipment_context);\n  \n  featureIdentifierContent.push({\n    type: \"text\",\n    text: `\\n\u2550\u2550\u2550 CATEGORY: ${category.toUpperCase()} \u2550\u2550\u2550\\n${categoryPrompt}\\n`\n  });\n  \n  featureIdentifierContent.push({\n    type: \"image\",\n    source: {\n      type: \"url\",\n      url: photoData.photo_url\n    }\n  });\n\n  categoriesProcessed++;\n});\n\n// Add final instruction\nconst categoryKeys = Object.keys(selectedPhotos).filter(k => k !== 'hero_exterior');\nfeatureIdentifierContent.push({\n  type: \"text\",\n  text: `\\n\\nProvide analysis for each category in this JSON format (no markdown, no backticks):\n{\n  \"${categoryKeys[0] || 'category_name'}\": { ... your analysis ... },\n  \"${categoryKeys[1] || 'category_name'}\": { ... your analysis ... }\n}\n\nOutput ONLY the JSON object, nothing else.`\n});\n\nconsole.log(`\u2705 Built feature identifier prompts for ${categoriesProcessed} categories`);\n\nreturn [{\n  json: {\n    ...data,\n    feature_identifier_content: featureIdentifierContent,\n    categories_to_identify: categoriesProcessed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        16
      ],
      "id": "acaf5cc0-ea82-4b53-bbcc-e2d2738aa160",
      "name": "Build Feature Identifier Prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"anthropic-version\": \"2023-06-01\",\n  \"content-type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.feature_identifier_content) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        16
      ],
      "id": "7d9cf419-505f-45fb-affa-f9a6aff7b587",
      "name": "Claude API - Identify Features",
      "credentials": {
        "anthropicApi": {
          "id": "zeHBwJZlhd7vKOA9",
          "name": "Anthropic account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Feature Identifier Response\nconst previousData = $('Build Feature Identifier Prompts').first().json;\nconst apiResponse = $json.content[0].text;\nconst vehicle = previousData.vehicles[0];\n\nconsole.log(`\ud83d\udd0d Parsing feature identifier response...`);\n\n// Parse JSON response (strip markdown if present)\nlet responseText = apiResponse.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n\n// Try to extract JSON object\nconst jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  responseText = jsonMatch[0];\n}\n\nconst identifiedFeatures = JSON.parse(responseText);\n\nconsole.log(`\u2705 Identified features for ${Object.keys(identifiedFeatures).length} categories`);\n\n// Combine equipment context + visual verification\nconst verifiedFeatures = {};\n\nObject.entries(identifiedFeatures).forEach(([category, features]) => {\n  const photoData = previousData.selected_photos[category];\n  if (!photoData) {\n    console.log(`\u26a0\ufe0f No photo data found for category: ${category}`);\n    return;\n  }\n\n  verifiedFeatures[category] = {\n    photo_index: photoData.photo_index,\n    photo_url: photoData.photo_url,\n    equipment_context: photoData.equipment_context,\n    visual_verification: features,\n    \n    // Build final feature list for script generation\n    script_features: buildScriptFeatures(category, photoData.equipment_context, features, vehicle)\n  };\n});\n\n// Function to build script-ready feature descriptions\nfunction buildScriptFeatures(category, equipment, visual, vehicle) {\n  switch(category) {\n    case 'front_seats':\n      const seatFeatures = [];\n      \n      // Add condition if excellent\n      if (visual.condition === 'excellent') {\n        seatFeatures.push('pristine');\n      }\n      \n      // Add material from equipment ONLY\n      seatFeatures.push(equipment.material_claim || 'comfortable seating');\n      \n      // Add climate features\n      if (equipment.has_heated && equipment.has_cooled) {\n        seatFeatures.push('heated and ventilated');\n      } else if (equipment.has_heated) {\n        seatFeatures.push('heated');\n      } else if (equipment.has_cooled) {\n        seatFeatures.push('ventilated');\n      }\n      \n      // Add power if present\n      if (equipment.has_power) {\n        seatFeatures.push('power-adjustable');\n      }\n      \n      // Add memory if present\n      if (equipment.has_memory) {\n        seatFeatures.push('with memory');\n      }\n      \n      return seatFeatures.join(' ');\n      \n    case 'engine_bay':\n      const engineFeatures = [];\n      \n      // Add engine details from equipment\n      if (equipment.engine_features && equipment.engine_features.length > 0) {\n        const engineInfo = equipment.engine_features[0];\n        // Extract key parts (e.g., \"V6 i-VTEC 3.5 Liter\")\n        const match = engineInfo.match(/(V\\d+|4-Cyl|3-Cyl|I\\d+).*?(\\d+\\.\\d+)\\s*Liter/i);\n        if (match) {\n          const cylinders = match[1];\n          const displacement = match[2];\n          engineFeatures.push(`${displacement}L ${cylinders}`);\n        } else {\n          engineFeatures.push(engineInfo);\n        }\n      }\n      \n      // Add turbo/special tech\n      if (equipment.engine_features && equipment.engine_features.some(e => /turbo/i.test(e))) {\n        engineFeatures.push('turbocharged');\n      }\n      if (equipment.engine_features && equipment.engine_features.some(e => /hemi/i.test(e))) {\n        engineFeatures.push('HEMI power');\n      }\n      \n      // Add condition note\n      if (visual.condition === 'clean') {\n        engineFeatures.push('well-maintained');\n      }\n      \n      return engineFeatures.join(', ');\n      \n    case 'infotainment_carplay':\n      const infoFeatures = [];\n      \n      // Smartphone integration\n      if (visual.has_apple_carplay && visual.has_android_auto) {\n        infoFeatures.push('Apple CarPlay and Android Auto');\n      } else if (visual.has_apple_carplay) {\n        infoFeatures.push('Apple CarPlay');\n      } else if (visual.has_android_auto) {\n        infoFeatures.push('Android Auto');\n      } else {\n        infoFeatures.push('smartphone connectivity');\n      }\n      \n      // Premium audio\n      if (equipment.audio_system && /bose|harman|revel|premium/i.test(equipment.audio_system)) {\n        infoFeatures.push(equipment.audio_system);\n      }\n      \n      // Navigation\n      if (equipment.has_navigation || visual.navigation_visible) {\n        infoFeatures.push('navigation');\n      }\n      \n      return infoFeatures.join(' with ');\n      \n    case 'infotainment_360_camera':\n      const cameraFeatures = ['360-degree camera'];\n      \n      if (visual.parking_sensors_visible) {\n        cameraFeatures.push('with parking sensors');\n      }\n      \n      return cameraFeatures.join(' ');\n      \n    case 'moonroof':\n      const roofFeatures = [];\n      \n      // Type from equipment\n      if (equipment.moonroof_type === 'Panoramic' || visual.appears_panoramic) {\n        roofFeatures.push('panoramic moonroof');\n      } else {\n        roofFeatures.push('power moonroof');\n      }\n      \n      return roofFeatures.join(' ');\n      \n    case 'cargo_area':\n      const cargoFeatures = [];\n      \n      // Space rating\n      if (visual.space_rating === 'spacious' || visual.space_rating === 'huge') {\n        cargoFeatures.push('spacious cargo area');\n      } else {\n        cargoFeatures.push('cargo space');\n      }\n      \n      // Power liftgate\n      if (equipment.power_liftgate) {\n        cargoFeatures.push('with power liftgate');\n      }\n      \n      // Truck bed features\n      if (equipment.truck_bed_features && equipment.truck_bed_features.length > 0) {\n        if (equipment.truck_bed_features.some(f => /bed liner/i.test(f))) {\n          cargoFeatures.push('spray-in bed liner');\n        }\n        if (equipment.truck_bed_features.some(f => /multipro/i.test(f))) {\n          cargoFeatures.push('MultiPro tailgate');\n        }\n      }\n      \n      return cargoFeatures.join(', ');\n      \n    case 'steering_wheel':\n      const wheelFeatures = [];\n      \n      if (equipment.has_heated_wheel || visual.controls_visible?.heated) {\n        wheelFeatures.push('heated steering wheel');\n      }\n      \n      if (visual.controls_visible?.audio || visual.controls_visible?.cruise) {\n        wheelFeatures.push('with steering wheel controls');\n      }\n      \n      if (visual.paddle_shifters) {\n        wheelFeatures.push('and paddle shifters');\n      }\n      \n      return wheelFeatures.length > 0 ? wheelFeatures.join(' ') : 'multifunction steering wheel';\n      \n    case 'second_row_seats':\n      const secondRowFeatures = [];\n      \n      if (visual.space_rating === 'spacious' || visual.space_rating === 'generous') {\n        secondRowFeatures.push('spacious rear seating');\n      } else {\n        secondRowFeatures.push('rear seating');\n      }\n      \n      if (visual.features_visible && visual.features_visible.length > 0) {\n        if (visual.features_visible.some(f => /climate/i.test(f))) {\n          secondRowFeatures.push('with rear climate control');\n        }\n      }\n      \n      return secondRowFeatures.join(' ');\n      \n    case 'third_row_seats':\n      return 'third row seating for seven passengers';\n      \n    case 'instrument_cluster':\n      if (visual.cluster_type === 'digital') {\n        return 'digital instrument cluster';\n      } else if (visual.cluster_type === 'hybrid') {\n        return 'advanced gauge cluster with digital display';\n      }\n      return null; // Don't highlight basic analog clusters\n      \n    case 'special_feature':\n      if (visual.feature_identified) {\n        return visual.feature_identified;\n      }\n      return null;\n      \n    case 'infotainment_other':\n      const otherFeatures = [];\n      \n      if (visual.showing === 'navigation' || equipment.has_navigation) {\n        otherFeatures.push('navigation system');\n      }\n      \n      if (equipment.audio_system && /bose|harman|revel|premium/i.test(equipment.audio_system)) {\n        otherFeatures.push(equipment.audio_system);\n      }\n      \n      if (otherFeatures.length === 0) {\n        otherFeatures.push('touchscreen infotainment');\n      }\n      \n      return otherFeatures.join(' with ');\n      \n    default:\n      return null;\n  }\n}\n\nconsole.log(`\ud83d\udccb Built script features for ${Object.keys(verifiedFeatures).length} categories`);\n\n// Log feature summary for debugging\nObject.entries(verifiedFeatures).forEach(([category, data]) => {\n  if (data.script_features) {\n    console.log(`  ${category}: \"${data.script_features}\"`);\n  }\n});\n\nreturn [{\n  json: {\n    ...previousData,  // Carry forward ALL previous data\n    verified_features: verifiedFeatures,\n    feature_identifier_raw: identifiedFeatures\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -64
      ],
      "id": "61d8def1-2627-406e-aa5f-6be25060117d",
      "name": "Parse Feature Identifier Response"
    },
    {
      "parameters": {
        "jsCode": "// UPDATED MULTI-CAR PROMPT - Extends Shared Base\n// Position: FALSE branch from IF Template Type\n// Purpose: Adds multi-car specific rules to shared foundation\n\n// Get merged data\nconst items = $input.all();\nconsole.log('Merged items count:', items.length);\n\n// Find template and vehicles in merged data\nlet template = null;\nlet vehiclesData = null;\nlet originalInput = null;\n\nfor (const item of items) {\n  if (item.json.template_id) {\n    template = item.json;\n    originalInput = item.json._input;\n  }\n  if (item.json.vehicles) {\n    vehiclesData = item.json;\n  }\n  // Check for shared prompt\n  if (item.json.shared_system_prompt) {\n    console.log('\u2705 Found shared system prompt');\n  }\n}\n\nif (!template || !vehiclesData) {\n  throw new Error('Missing template or vehicle data');\n}\n\nlet vehicles = vehiclesData.vehicles;\n\n// Get script length and timing from shared prompt node\nconst scriptLength = template.script_length || 'standard';\nconst timingGuidance = template.timing_guidance;\n\nconsole.log('Template:', template.template_name);\nconsole.log(`\ud83d\udccf Script length: ${scriptLength}`);\nconsole.log('Vehicles before processing:', vehicles.length);\n\n// ========================================\n// VALUE-ADD FEATURES\n// ========================================\n\n// Add value-based callouts (LOW MILEAGE and RELIABLE BRAND)\nvehicles = vehicles.map(vehicle => {\n  // Features already come clean from fetch: [Engine, Drivetrain, Color]\n  let features = [...(vehicle.features || [])];\n  \n  const mileage = parseInt(vehicle.mileage) || 0;\n  const year = parseInt(vehicle.year) || 2020;\n  const age = 2025 - year;\n  \n  // Low mileage callout (relative to age)\n  const expectedMileage = age * 12000; // Average 12k miles/year\n  if (mileage > 0 && mileage < expectedMileage * 0.6) {\n    features.unshift('Low Mileage'); // Put first!\n    console.log(`\u2713 ${vehicle.year} ${vehicle.make}: Added LOW MILEAGE (${mileage} vs expected ${expectedMileage})`);\n  }\n\n  // Fuel efficiency for hybrids and efficient engines\nconst engine = (vehicle.engine || '').toLowerCase();\nif (engine.includes('hybrid') || engine.includes('electric')) {\n  features.unshift('Hybrid Power'); // Put near front!\n  console.log(`\u2713 ${vehicle.year} ${vehicle.make}: Added HYBRID POWER`);\n} else if (engine.includes('4-cyl') || engine.includes('turbo')) {\n  features.push('Great Gas Mileage');\n  console.log(`\u2713 ${vehicle.year} ${vehicle.make}: Added GREAT GAS MILEAGE`);\n}\n\n// AWD/4WD for Illinois winters\nconst drivetrain = (vehicle.drivetrain || '').toLowerCase();\nif (drivetrain.includes('awd') || drivetrain.includes('4wd') || drivetrain.includes('4x4')) {\n  features.push('All-Wheel Drive');\n  console.log(`\u2713 ${vehicle.year} ${vehicle.make}: Added ALL-WHEEL DRIVE`);\n}\n  \n  // Reliability for known brands\n  const reliableBrands = ['toyota', 'honda', 'mazda', 'subaru', 'lexus'];\n  if (reliableBrands.includes(vehicle.make.toLowerCase())) {\n    features.push('Reliable Brand');\n    console.log(`\u2713 ${vehicle.make}: Added RELIABLE BRAND`);\n  }\n  \n  return {\n    ...vehicle,\n    features: features.length > 0 ? features : ['Great Condition'] // fallback\n  };\n});\n\nconsole.log('Vehicles after feature processing:', vehicles.length);\nvehicles.forEach(v => {\n  console.log(`  ${v.year} ${v.make} ${v.model}: ${v.features.join(', ')}`);\n});\n\n// ========================================\n// GET SHARED BASE PROMPT\n// ========================================\n\nconst sharedPrompt = $('Build Shared Base Prompt').first()?.json?.shared_system_prompt || '';\n\nif (!sharedPrompt) {\n  console.warn('\u26a0\ufe0f No shared prompt found - building standalone');\n}\n\n// ========================================\n// MULTI-CAR SPECIFIC ADDITIONS\n// ========================================\n\n// Calculate per-vehicle timing based on script length\nlet perVehicleTiming;\nlet timeTarget;\n\nif (scriptLength === 'quick') {\n  perVehicleTiming = vehicles.length <= 2 ? '4-5 seconds each' : '3-4 seconds each';\n  timeTarget = vehicles.length === 1 ? '15-18 seconds' : vehicles.length === 2 ? '18-21 seconds' : '21-24 seconds';\n} else if (scriptLength === 'standard') {\n  perVehicleTiming = vehicles.length <= 2 ? '6-7 seconds each' : '5-6 seconds each';\n  timeTarget = vehicles.length === 1 ? '20-23 seconds' : vehicles.length === 2 ? '23-26 seconds' : '26-29 seconds';\n} else { // detailed\n  perVehicleTiming = vehicles.length <= 2 ? '8-10 seconds each' : '6-8 seconds each';\n  timeTarget = vehicles.length === 1 ? '25-30 seconds' : vehicles.length === 2 ? '30-35 seconds' : '35-40 seconds';\n}\n\nconst multiCarAdditions = `\n\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\ud83d\ude97 MULTI-CAR AD SPECIFIC RULES:\n\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\nSTYLE: FAST, PUNCHY, SCROLL-STOPPING\nSCRIPT LENGTH: ${timingGuidance.target}\n\nTIMING TARGETS FOR ${vehicles.length} VEHICLE(S):\n- Hook: ${timingGuidance.hook}\n- Each vehicle segment: ${perVehicleTiming}\n- CTA: ${timingGuidance.cta}\n- Total target: ${timeTarget}\n\nPACING: ${timingGuidance.style}\n\nSCRIPT STRUCTURE:\n1. HOOK (${timingGuidance.hook}): ONE punchy sentence that grabs attention\n2. SEGMENTS - ONE PER CAR (${perVehicleTiming}): Price + ${scriptLength === 'quick' ? 'ONE killer feature' : scriptLength === 'standard' ? '1-2 key features' : '2-3 features with context'}\n3. CTA (${timingGuidance.cta}): Dealership name + ONE contact method (address, phone number, or url) + financing mention\n  - Examples:\n    - URL: \"Find Capitol Car Credit's full inventory at C C Ran-tool dot com\"\n    - ADDRESS: \"Visit us at Capitol Car Credit at one twenty five, North Century Boulevard in Ran-tool\"\n    - PHONE NUMBER: \"Contact Capitol Car Credit at two one seven, eight nine three, eight two three two, we're waiting to hear from you!\"\n\nSTYLE GUIDE:\n\u2705 SHORT sentences (5-8 words max per sentence for quick, 8-12 for standard, 12-15 for detailed)\n\u2705 ${scriptLength === 'quick' ? 'ONE feature per car' : scriptLength === 'standard' ? '1-2 features per car' : '2-3 features per car with brief context'}\n\u2705 Fast-paced, energetic, value-focused\n\u2705 Price FIRST for each car\n\u2705 Emphasize VALUE: \"easy on your wallet\", \"great deal\", \"reliable\"\n\n\u274c NO long descriptions (unless detailed script)\n\u274c NO multiple features per car (unless standard/detailed)\n\u274c NO repetitive features across cars in same ad\n\nFEATURE DIVERSITY (CRITICAL):\n\u26a0\ufe0f Use DIFFERENT features for each car in the ad!\n\nGOOD (varied): \n- \"Just fourteen nine nine five for this low mileage Accord!\"\n- \"Just seventeen thousand for this all-wheel drive Civic with heated seats!\" \n- \"Just twelve nine ninety-five for this reliable Camry with great gas mileage!\"\n\nBAD (repetitive):\n- \"Low mileage Accord!\"\n- \"Low mileage Civic!\"\n- \"Low mileage Camry!\" \u2190 BORING!\n\nIf multiple cars have the same top feature, pick the NEXT BEST feature from a different tier.`;\n\nconst systemPrompt = sharedPrompt + multiCarAdditions;\n\n// ========================================\n// USER PROMPT\n// ========================================\n\nconst userPrompt = `Generate a ${timingGuidance.target} script for this TikTok car ad:\n\nTHEME: ${template.theme || 'none'}\n\nVEHICLES (${vehicles.length} total):\n${vehicles.map((v, i) => {\n  // Parse price to determine formatting\n  let priceNum = parseFloat(String(v.price).replace(' USD', '').replace('USD', '').replace(/[^0-9.]/g, ''));\n  let priceFormatted = '$' + priceNum.toLocaleString('en-US', {maximumFractionDigits: 0});\n  \n  return `\n${i + 1}. ${v.year} ${v.make} ${v.model}\n   Price: ${priceFormatted} ${priceNum < 20000 ? '(Use: \"Just [price]\")' : '(Use: \"[price] thousand\")'}\n   TOP Features: ${v.features.slice(0, 3).join(', ')}\n   (Pick ${scriptLength === 'quick' ? 'ONE' : scriptLength === 'standard' ? '1-2' : '2-3'} - make sure each car gets a DIFFERENT feature!)`;\n}).join('\\n')\n\n}\n\nREQUIREMENTS:\n1. Hook: ONE punchy sentence ${template.theme ? `(theme: \"${template.theme}\")` : '(generic attention-grabber)'} (${timingGuidance.hook})\n2. Each car segment: Price + ${scriptLength === 'quick' ? 'ONE feature' : scriptLength === 'standard' ? '1-2 features' : '2-3 features'} (${perVehicleTiming})\n3. CTA: Transition phrase + dealership + ONE contact (phone number, url, or address) + financing mention (${timingGuidance.cta})\n4. Target length: ${timeTarget}\n5. Pacing: ${timingGuidance.style}\n6. \u26a0\ufe0f CRITICAL: Use DIFFERENT features for each car! Variety keeps it interesting!\n7. END with \"[pause 1 second]\" for avatar resting face\n\nOUTPUT AS JSON:\n{\n  \"hook\": \"ONE punchy sentence here\",\n  \"segments\": [\n    ${vehicles.map((v, i) => `\"${v.year} ${v.make} description (${perVehicleTiming})\"`).join(',\\n    ')}\n  ],\n  \"cta\": \"Call to action with ONE contact + financing mention\",\n  \"full_script\": \"hook + all segments + cta + [pause 1 second]\",\n  \"notes\": \"Your notes\"\n}\n\nRemember: ${timingGuidance.style}, DIFFERENT features per car, PROPER price formatting, CORRECT brand pronunciations, MENTION FINANCING!`;\n\nreturn [{\n  json: {\n    // Keep everything from before\n    ...template,\n    \n    // Pass vehicles through\n    vehicles: vehicles,\n    \n    // Claude prompts\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt,\n    \n    // Metadata\n    metadata: {\n      ...(template.metadata || {}),\n      template_id: template.template_id,\n      theme: template.theme,\n      vehicle_count: vehicles.length,\n      script_length: scriptLength,\n      target_duration: timeTarget\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        144
      ],
      "id": "cd3e27f7-d163-494a-b528-737cbfa1acce",
      "name": "Build Script Prompt TEMP_001"
    },
    {
      "parameters": {
        "jsCode": "// Build Script Prompt for Template 2\nconst data = $json;\nconst vehicle = data.vehicles[0];\nconst verifiedFeatures = data.verified_features || {};\nconst selectedPhotosObject = data.selected_photos || {}; // This is an object!\nconst theme = data.theme || 'none';\nconst scriptLength = data.script_length || 'standard';\nconst templateId = data.template_id;\n\nconsole.log(`\ud83d\udcdd Building script prompt for ${templateId}`);\nconsole.log(`\ud83c\udfa8 Theme: ${theme}`);\nconsole.log(`\ud83d\udccf Script length: ${scriptLength}`);\n\n// Helper function to remove /thumb/ suffix\nconst getFullResUrl = (url) => {\n  return url.replace('/thumb/', '/');\n};\n\n// TRANSFORM selected_photos from object to Template 2 array format\nconst selectedPhotosArray = [];\n\n// Add hero first\nif (selectedPhotosObject.hero_exterior) {\n  selectedPhotosArray.push({\n    photo_url: getFullResUrl(selectedPhotosObject.hero_exterior.photo_url), // Remove /thumb/\n    photo_index: selectedPhotosObject.hero_exterior.photo_index,\n    category: \"exterior_hero\",\n    feature_callout: \"\",\n    display_order: 1\n  });\n}\n\n// Priority order for features (most important first)\nconst priorityOrder = [\n  'engine_bay',\n  'moonroof',\n  'infotainment_360_camera',\n  'infotainment_carplay',\n  'front_seats',\n  'steering_wheel',\n  'instrument_cluster',\n  'cargo_area',\n  'second_row_seats',\n  'third_row_seats',\n  'special_feature',\n  'infotainment_other'\n];\n\n// Add features in priority order\nlet displayOrder = 2;\npriorityOrder.forEach(category => {\n  const featureData = verifiedFeatures[category];\n  const photoData = selectedPhotosObject[category];\n  \n  if (featureData?.script_features && photoData) {\n    selectedPhotosArray.push({\n      photo_url: getFullResUrl(photoData.photo_url), // Remove /thumb/\n      photo_index: photoData.photo_index,\n      category: category,\n      feature_callout: featureData.script_features,\n      display_order: displayOrder++\n    });\n  }\n});\n\n// Limit to top 5 features (plus hero = 6 total for Template 2)\nconst finalPhotos = selectedPhotosArray.slice(0, 6);\n\nconsole.log(`\ud83d\udcf8 Transformed ${Object.keys(selectedPhotosObject).length} categories into ${finalPhotos.length} photos for Template 2`);\nconsole.log(`\u2705 Removed /thumb/ suffix from all photo URLs`);\n\n// Build feature list for script prompt\nconst featureSegments = finalPhotos\n  .filter(p => p.category !== 'exterior_hero')\n  .map((photo, index) => `Segment ${index + 2}: ${photo.feature_callout}`)\n  .join('\\n');\n\n// Build the user prompt for script generation\nconst userPrompt = `Write a TikTok video script for Template 2 (single vehicle spotlight).\n\nVEHICLE DETAILS:\n- ${vehicle.year} ${vehicle.make} ${vehicle.model}\n- Price: $${vehicle.price}\n- Mileage: ${vehicle.mileage}\n\nTHEME: ${theme === 'none' ? 'No specific theme' : theme}\n\nSCRIPT STRUCTURE (CRITICAL):\nYou must create EXACTLY ${finalPhotos.length} segments:\n\nSegment 1 (HERO - exterior shot):\n- Introduce the vehicle with year, make, model\n- ${theme !== 'none' ? `Incorporate \"${theme}\" theme naturally` : 'Use attention-grabbing opener'}\n- Example: \"${theme !== 'none' ? theme + ' -' : ''} Check out this ${vehicle.year} ${vehicle.make} ${vehicle.model}!\"\n\n${featureSegments}\n\nEach segment (2-${finalPhotos.length}) should:\n- Be ONE sentence describing ONLY that photo's feature\n- Be concise and punchy (${scriptLength} pacing: ${data.timing_guidance?.style || 'Fast-paced'})\n- Use the exact feature callout provided above\n- NOT combine multiple features\n\nCRITICAL REQUIREMENTS:\n1. Output EXACTLY ${finalPhotos.length} segments in the segments array\n2. Each segment describes ONE photo in order\n3. Segment 1 = hero (vehicle intro with ${theme !== 'none' ? 'theme' : 'hook'})\n4. Segments 2-${finalPhotos.length} = features (one per segment)\n5. Use natural, conversational language for text-to-speech\n6. Write numbers as words (e.g., \"twenty-eight thousand nine ninety-five\")\n7. Follow pronunciation rules (Hyundai = \"Hunday\", Nissan = \"Neesawn\")\n8. Keep it ${scriptLength} (${data.timing_guidance?.target || '15-30 seconds'})\n9. End with CTA including ONE contact method + financing mention\n\nOUTPUT FORMAT:\n{\n  \"hook\": \"Opening hook (3-4 seconds) with ${theme !== 'none' ? 'theme: ' + theme : 'attention-grabber'}\",\n  \"segments\": [\n    \"Segment 1: ${vehicle.year} ${vehicle.make} ${vehicle.model} intro\",\n    \"Segment 2: First feature callout\",\n    \"Segment 3: Second feature callout\"\n  ],\n  \"cta\": \"Call to action (4-5 seconds) with contact + financing\",\n  \"full_script\": \"hook + all segments + cta + [pause 1 second]\",\n  \"notes\": \"Brief creative notes\"\n}\n\nCreate a fast-paced, engaging script!`;\n\nconsole.log(`\u2705 Script prompt built with ${finalPhotos.length} segments`);\n\nreturn [{\n  json: {\n    ...data,\n    selected_photos: finalPhotos,  // ARRAY format for Template 2\n    user_prompt: userPrompt,\n    photos_selected: finalPhotos.length,\n    total_photos_analyzed: data.total_photos || 0,\n    rationale: `Selected top ${finalPhotos.length - 1} features based on verified equipment data and visual confirmation. Hero shot introduces the vehicle, followed by priority features: ${finalPhotos.slice(1).map(p => p.category).join(', ')}.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        -272
      ],
      "id": "dcc16ab5-ad0f-4d05-b3a3-b9592f0b2aac",
      "name": "Build Script Prompt TEMP_002"
    },
    {
      "parameters": {
        "jsCode": "// Update hero photo URL with Cloudinary URL after upload\nconst currentData = $json;\nconst previousData = $('Process Hero Photo for Animation').first().json;\n\n// Get VIN - might be in different places depending on the path\nconst vin = currentData.vehicles?.[0]?.vin || previousData.vehicles?.[0]?.vin;\n\nif (!vin) {\n  throw new Error('VIN missing - cannot update hero URL');\n}\n\n// Cloudinary response gives us the URL\nconst cloudinaryUrl = currentData.secure_url || `https://res.cloudinary.com/dtpqxuwby/image/upload/${vin}.png`;\n\nconsole.log(`\u2705 Cloudinary upload complete: ${cloudinaryUrl}`);\n\n// Get the base data (from before the HTTP requests)\nconst baseData = previousData;\n\n// Update the hero_bg_removed_url and selected_photos\nconst updatedData = {\n  ...baseData,  // Use data from BEFORE the HTTP requests\n  hero_bg_removed_url: cloudinaryUrl,\n  needs_bg_removal: false,\n  cloudinary_uploaded: true\n};\n\n// Update the hero photo URL in selected_photos\nif (updatedData.selected_photos?.hero_exterior) {\n  console.log(`\ud83d\udcf8 Updating hero_exterior photo_url to Cloudinary URL`);\n  updatedData.selected_photos.hero_exterior.photo_url = cloudinaryUrl;\n}\n\nreturn [{\n  json: updatedData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        -272
      ],
      "id": "86e9e048-2f1f-4c7e-b6af-58cb75ce23ea",
      "name": "Update Hero URL with Cloudinary"
    },
    {
      "parameters": {
        "jsCode": "// Single error - format it for the email\nconst error = $input.first().json;\nconst nodeName = error.node?.name || 'Unknown node';\n\n// Handle different error formats from different APIs\nlet errorMsg = 'Unknown error';\n\n// Claude error format: { \"error\": { \"type\": \"...\", \"message\": \"...\" }, \"request_id\": \"...\" }\nif (error.error?.type && error.error?.message) {\n  errorMsg = `[${error.error.type}] ${error.error.message}`;\n  if (error.request_id) {\n    errorMsg += ` (Request ID: ${error.request_id})`;\n  }\n}\n// Cloudinary error format: { \"error\": { \"message\": \"...\" } }\nelse if (error.error?.message && !error.error?.type) {\n  errorMsg = error.error.message;\n}\n// Remove.bg error format: { \"errors\": [{ \"code\": \"...\", \"title\": \"...\" }] }\nelse if (error.errors && Array.isArray(error.errors) && error.errors.length > 0) {\n  const firstError = error.errors[0];\n  // Include code if present, otherwise just title\n  errorMsg = firstError.code \n    ? `${firstError.code}: ${firstError.title}` \n    : firstError.title;\n}\n// Generic message fallback\nelse if (error.message) {\n  errorMsg = error.message;\n}\n\nreturn [{\n  json: {\n    nodeName: nodeName,\n    errorMessage: errorMsg,\n    timestamp: new Date().toISOString(),\n    rawError: JSON.stringify(error, null, 2) // Include full error for debugging\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        -32
      ],
      "id": "2bb93ff2-0eca-4731-aabd-350e5eb37a12",
      "name": "Format Script Creation Errors"
    },
    {
      "parameters": {
        "fromEmail": "errors@ad-pilot.ai",
        "toEmail": "kelly@ad-pilot.ai",
        "subject": "=\ud83d\udea8 Script Generation Failed - {{ $json.nodeName }}",
        "html": "={{ \"\u26a0\ufe0f Script Creation Workflow Error\\n\\n\" +\n\"Failed Node: \" + $json.nodeName + \"\\n\" +\n\"Error: \" + $json.errorMessage + \"\\n\\n\" +\n\"Time: \" + $json.timestamp + \"\\n\\n\" +\n\"Check n8n: https://kelly-ads.app.n8n.cloud/\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5120,
        -32
      ],
      "id": "815f5b9a-017a-46bb-99a0-d17c8a920caf",
      "name": "Send email",
      "webhookId": "81292b6c-1970-4cfc-833c-7d56b2f3dd45",
      "credentials": {
        "smtp": {
          "id": "5HPC3NyTgaxCbH6e",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Script gen errored out."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5344,
        -32
      ],
      "id": "49ba24c4-1f2f-48ac-865f-70e5e3ac4137",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aff49ee5-5b0c-432a-ac08-d40a2b35df22",
              "leftValue": "={{ $json.body.template_id }}",
              "rightValue": "TEMP_003",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        224
      ],
      "id": "bb881a1f-05d3-4493-b8f1-293662822e9b",
      "name": "If - which template path"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Get avatar name from input\nconst avatarName = input.avatar_name || 'Shad'; // Default to Shad if not provided\n\n// Get script length timing (from previous node)\nconst scriptLength = input.script_length || 'medium'; // short, medium, detailed\n\n// Define timing based on script length\nconst timings = {\n  short: { hook: 3, value: 25, authority: 7, cta: 5, total: 40 },\n  medium: { hook: 3, value: 35, authority: 7, cta: 10, total: 55 },\n  detailed: { hook: 3, value: 50, authority: 10, cta: 12, total: 75 }\n};\n\nconst timing = timings[scriptLength];\n\n// Build the educational video prompt for Claude\nconst claudePrompt = `You are writing an educational video script for ${avatarName} at Capitol Car Credit, a used car dealership in Rantoul, Illinois (125 N Century Blvd). This is NOT a sales video - it's pure educational value to build trust and authority.\n\nTOPIC: ${input.topic || input.theme || 'Car buying tips'}\n\nTARGET AUDIENCE: Young, budget-conscious, first-time car buyers who need practical advice.\n\nSCRIPT STRUCTURE & TIMING:\n- Hook (${timing.hook} seconds): Grab attention immediately with the problem/question\n- Value Section (${timing.value} seconds): Deliver the educational content - the actual tip/advice\n- Authority (${timing.authority} seconds): Build credibility with experience/expertise\n- CTA (${timing.cta} seconds): Ask for engagement first, then soft mention of dealership\n\nTOTAL DURATION: Approximately ${timing.total} seconds\n\nTONE GUIDELINES:\n- Conversational, like talking to a friend\n- Use phrases like \"A lot of people ask me...\" or \"Here's what most people don't know...\"\n- Share personal stories/examples from 25+ years in the business\n- NO sales pitch - pure value only\n- Natural, authentic language (${avatarName} is a real person, not a corporate spokesperson)\n\nINTRO FORMAT:\n\"[Hook statement]. Hey everyone, ${avatarName} from Capitol Car Credit here, and I'm going to show you [topic]...\"\n\nOUTRO FORMAT:\n\"If this was helpful, drop a comment or follow for more tips. And hey, if you're in the market for a reliable used car, we're at Capitol Car Credit, 125 N Century Blvd in Rantoul. See you next time!\"\n\nOUTPUT REQUIREMENTS:\nReturn a JSON object with this EXACT structure:\n{\n  \"hook\": \"3-second attention-grabbing opening line\",\n  \"segments\": [\n    \"The main educational content - the valuable tip/information (approximately ${timing.value} seconds)\",\n    \"Authority statement - why ${avatarName}'s advice matters - 25+ years experience, thousands of customers helped, etc (approximately ${timing.authority} seconds)\"\n  ],\n  \"cta\": \"Engagement ask + soft dealership mention as described in outro format\",\n  \"full_script\": \"Complete script flowing naturally from hook \u2192 value \u2192 authority \u2192 cta with proper timing and pauses\",\n  \"notes\": \"5-7 short punchy phrases (3-6 words each) separated by commas that would work as animated text overlays. These should be the KEY takeaways. Example: 'Check the CarFax first, Look under the hood, Test drive for 20+ minutes'\",\n  \"_claude_notes\": \"Any additional context about the script approach\"\n}\n\nCRITICAL: The full_script should read naturally when spoken aloud and should include timing markers like [pause 1 second] where appropriate. The total speaking time should be approximately ${timing.total} seconds.`;\n\nreturn {\n  json: {\n    ...input,\n    user_prompt: claudePrompt,\n    timing: timing\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        336
      ],
      "id": "decda225-71c8-4e8b-9839-34e0aec6ed13",
      "name": "Build Script Prompt TEMP_003"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        96
      ],
      "id": "172eaa24-57a3-4e79-b091-49491dcc63c9",
      "name": "Merge: Config with Inventory"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4448,
        -272
      ],
      "id": "9f7451ef-7760-4565-8a08-2d8ff588e151",
      "name": "Aggregate Temp configs"
    }
  ],
  "connections": {
    "Parse & Validate Input": {
      "main": [
        [
          {
            "node": "If - which template path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template Specs": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Car Inventory": {
      "main": [
        [
          {
            "node": "Merge: Config with Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template Data": {
      "main": [
        [
          {
            "node": "Merge Template & Vehicles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Template & Vehicles": {
      "main": [
        []
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Script Creation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        []
      ]
    },
    "Fetch car info from vins": {
      "main": [
        [
          {
            "node": "Build Shared Base Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Process Template Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse & Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If TEMP_002 One Car Feature": {
      "main": [
        [
          {
            "node": "Parse Equipment & Build Categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Script Prompt TEMP_001",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Shared Base Prompt": {
      "main": [
        [
          {
            "node": "If TEMP_002 One Car Feature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Hero Photo for Animation": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "removebg": {
      "main": [
        [
          {
            "node": "rename binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Script Creation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename binary": {
      "main": [
        [
          {
            "node": "upload to cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "removebg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Script Prompt TEMP_002",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload to cloudinary": {
      "main": [
        [
          {
            "node": "Update Hero URL with Cloudinary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Script Creation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Equipment & Build Categories": {
      "main": [
        [
          {
            "node": "Build Photo Categorizer Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Photo Categorizer Prompt": {
      "main": [
        [
          {
            "node": "Claude API - Categorize Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API - Categorize Photos": {
      "main": [
        [
          {
            "node": "Parse Categorizer Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Categorizer Response": {
      "main": [
        [
          {
            "node": "Build Feature Identifier Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Feature Identifier Prompts": {
      "main": [
        [
          {
            "node": "Claude API - Identify Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API - Identify Features": {
      "main": [
        [
          {
            "node": "Parse Feature Identifier Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Script Creation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Feature Identifier Response": {
      "main": [
        [
          {
            "node": "Process Hero Photo for Animation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Script Prompt TEMP_001": {
      "main": [
        [
          {
            "node": "Aggregate Temp configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Script Prompt TEMP_002": {
      "main": [
        [
          {
            "node": "Aggregate Temp configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Hero URL with Cloudinary": {
      "main": [
        [
          {
            "node": "Build Script Prompt TEMP_002",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Script Creation Errors": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - which template path": {
      "main": [
        [
          {
            "node": "Fetch Car Inventory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Config with Inventory",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Build Script Prompt TEMP_003",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Script Prompt TEMP_003": {
      "main": [
        [
          {
            "node": "Aggregate Temp configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Config with Inventory": {
      "main": [
        [
          {
            "node": "Fetch car info from vins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Temp configs": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e3ad116d-c7b1-4564-b4c1-35f466b09f1c",
  "versionCounter": 39,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-20T22:00:13.246Z",
      "createdAt": "2025-10-20T22:00:13.246Z",
      "role": "workflow:owner",
      "workflowId": "YZwWO3x8kdBjQvqX",
      "projectId": "bll44iFOa92qb20Q",
      "project": {
        "updatedAt": "2025-09-08T16:29:41.547Z",
        "createdAt": "2025-09-08T16:29:38.593Z",
        "id": "bll44iFOa92qb20Q",
        "name": "Kelly Knight <kelly@kellyrae.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-08T16:29:38.593Z",
            "createdAt": "2025-09-08T16:29:38.593Z",
            "userId": "a30987fe-4321-46e3-affb-75459c3320fc",
            "projectId": "bll44iFOa92qb20Q",
            "user": {
              "updatedAt": "2025-12-10T08:00:00.000Z",
              "createdAt": "2025-09-08T16:29:36.989Z",
              "id": "a30987fe-4321-46e3-affb-75459c3320fc",
              "email": "kelly@kellyrae.net",
              "firstName": "Kelly",
              "lastName": "Knight",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DIT1A5BsEUock2GH",
                "userActivatedAt": 1758474039124,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759246180644
                },
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-25T13:07:25.750Z",
      "createdAt": "2025-10-25T13:07:25.750Z",
      "id": "9Q3iOPtGOC35RWTa",
      "name": "ARCHIVED"
    }
  ]
}