workflows/_quick_take__status_9lEHHLed15R5TSMQ.json
{
  "updatedAt": "2026-04-05T15:35:26.254Z",
  "createdAt": "2026-04-05T15:35:26.254Z",
  "id": "9lEHHLed15R5TSMQ",
  "name": "[Quick Take] Status",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "quick-take/status",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "id": "qt-status-webhook",
      "name": "Webhook",
      "webhookId": "qt-status-webhook-id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT job_id, status, video_url, error_message FROM quick_take_jobs WHERE job_id = '{{ $json.query.job_id }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        420,
        300
      ],
      "id": "qt-status-query",
      "name": "Query Job",
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (!rows.length || !rows[0].json.job_id) {\n  return [{ json: { status: 'not_found', error_message: 'Job not found' } }];\n}\n\nconst job = rows[0].json;\nreturn [{\n  json: {\n    status: job.status,\n    video_url: job.video_url || null,\n    error_message: job.error_message || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "id": "qt-status-format",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        860,
        300
      ],
      "id": "qt-status-respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Job": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "5b0443b8-aa7f-4c5c-a5ca-953d6448efeb",
  "activeVersionId": "5b0443b8-aa7f-4c5c-a5ca-953d6448efeb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-05T15:35:26.254Z",
      "createdAt": "2026-04-05T15:35:26.254Z",
      "role": "workflow:owner",
      "workflowId": "9lEHHLed15R5TSMQ",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-05T15:35:26.275Z",
    "createdAt": "2026-04-05T15:35:26.275Z",
    "versionId": "5b0443b8-aa7f-4c5c-a5ca-953d6448efeb",
    "workflowId": "9lEHHLed15R5TSMQ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "quick-take/status",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          300
        ],
        "id": "qt-status-webhook",
        "name": "Webhook",
        "webhookId": "qt-status-webhook-id"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT job_id, status, video_url, error_message FROM quick_take_jobs WHERE job_id = '{{ $json.query.job_id }}' LIMIT 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          420,
          300
        ],
        "id": "qt-status-query",
        "name": "Query Job",
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all();\nif (!rows.length || !rows[0].json.job_id) {\n  return [{ json: { status: 'not_found', error_message: 'Job not found' } }];\n}\n\nconst job = rows[0].json;\nreturn [{\n  json: {\n    status: job.status,\n    video_url: job.video_url || null,\n    error_message: job.error_message || null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          300
        ],
        "id": "qt-status-format",
        "name": "Format Response"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          860,
          300
        ],
        "id": "qt-status-respond",
        "name": "Respond"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Query Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Job": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}