workflows/_scheduled__thursday_blueprint_notification_3ZDjZntWSqoPqS9P.json
{
  "updatedAt": "2026-02-20T21:11:03.950Z",
  "createdAt": "2026-02-18T03:32:30.745Z",
  "id": "3ZDjZntWSqoPqS9P",
  "name": "[SCHEDULED] Thursday Blueprint Notification",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 4"
            }
          ]
        }
      },
      "id": "0efc006581e141da84df",
      "name": "Thursday 8am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {},
      "id": "69bfbb51bdfd42a39bc2",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wp.id AS plan_id, wp.client_id, wp.theme_name, wp.theme_emoji, wp.week_start,\n       c.name AS client_name, c.slug AS client_slug,\n       p.id AS approver_person_id, p.email AS approver_email, p.first_name AS approver_name,\n       ipr.auth_token\nFROM weekly_plans wp\nJOIN clients c ON c.id = wp.client_id\nJOIN client_persons cp ON cp.client_id = c.id AND cp.can_approve_plans = true AND cp.is_active = true\nJOIN persons p ON cp.person_id = p.id\nLEFT JOIN idea_ping_responses ipr ON ipr.plan_id = wp.id AND ipr.responded_at IS NULL\nWHERE wp.status = 'draft'\n  AND wp.week_start >= date_trunc('week', CURRENT_DATE)\n  AND wp.week_start < date_trunc('week', CURRENT_DATE) + interval '7 days'",
        "options": {}
      },
      "id": "8d34c82da4d346939cec",
      "name": "Find Draft Plans",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-0",
              "leftValue": "={{ $json.plan_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "726d8a5d0d45457fa732",
      "name": "Has Plans?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const d = item.json;\n  const reviewUrl = d.auth_token\n    ? 'https://app.ad-pilot.ai/review/' + d.plan_id + '?token=' + d.auth_token\n    : 'https://app.ad-pilot.ai';\n\n  return {\n    json: {\n      person_id: d.approver_person_id || null,\n      email: d.approver_email || null,\n      notification_type: 'email',\n      subject: (d.theme_emoji || '') + ' Your weekly ad blueprint is ready!',\n      message: 'Hey ' + (d.approver_name || 'there') + ', the ' + (d.theme_name || 'weekly') + ' plan for ' + d.client_name + ' is ready for your review. Check it out and customize before Thursday 6PM.',\n      link: reviewUrl\n    }\n  };\n});"
      },
      "id": "4fc00aacc80047d7b6d6",
      "name": "Prepare Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, plans_notified: $input.all().length } }];"
      },
      "id": "14c6e72e71d54d9cb75b",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        128
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hqfMwxKgqE3DD8VZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/hqfMwxKgqE3DD8VZ",
          "cachedResultName": "[Service] Send User Notification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "call-send-notification",
      "name": "Call: Send Notification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        128
      ]
    }
  ],
  "connections": {
    "Thursday 8am CT": {
      "main": [
        [
          {
            "node": "Find Draft Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Find Draft Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Draft Plans": {
      "main": [
        [
          {
            "node": "Has Plans?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Plans?": {
      "main": [
        [
          {
            "node": "Prepare Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Notification": {
      "main": [
        [
          {
            "node": "Call: Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call: Send Notification": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Thursday 8am CT": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "571214c6-9dcb-4aac-988e-a6c7edb4f4f6",
  "activeVersionId": "571214c6-9dcb-4aac-988e-a6c7edb4f4f6",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-18T03:32:30.745Z",
      "createdAt": "2026-02-18T03:32:30.745Z",
      "role": "workflow:owner",
      "workflowId": "3ZDjZntWSqoPqS9P",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-20T21:11:07.016Z",
    "createdAt": "2026-02-20T21:11:03.954Z",
    "versionId": "571214c6-9dcb-4aac-988e-a6c7edb4f4f6",
    "workflowId": "3ZDjZntWSqoPqS9P",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 14 * * 4"
              }
            ]
          }
        },
        "id": "0efc006581e141da84df",
        "name": "Thursday 8am CT",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          224
        ]
      },
      {
        "parameters": {},
        "id": "69bfbb51bdfd42a39bc2",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          32
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT wp.id AS plan_id, wp.client_id, wp.theme_name, wp.theme_emoji, wp.week_start,\n       c.name AS client_name, c.slug AS client_slug,\n       p.id AS approver_person_id, p.email AS approver_email, p.first_name AS approver_name,\n       ipr.auth_token\nFROM weekly_plans wp\nJOIN clients c ON c.id = wp.client_id\nJOIN client_persons cp ON cp.client_id = c.id AND cp.can_approve_plans = true AND cp.is_active = true\nJOIN persons p ON cp.person_id = p.id\nLEFT JOIN idea_ping_responses ipr ON ipr.plan_id = wp.id AND ipr.responded_at IS NULL\nWHERE wp.status = 'draft'\n  AND wp.week_start >= date_trunc('week', CURRENT_DATE)\n  AND wp.week_start < date_trunc('week', CURRENT_DATE) + interval '7 days'",
          "options": {}
        },
        "id": "8d34c82da4d346939cec",
        "name": "Find Draft Plans",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          224,
          128
        ],
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "condition-0",
                "leftValue": "={{ $json.plan_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "726d8a5d0d45457fa732",
        "name": "Has Plans?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          128
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const d = item.json;\n  const reviewUrl = d.auth_token\n    ? 'https://app.ad-pilot.ai/review/' + d.plan_id + '?token=' + d.auth_token\n    : 'https://app.ad-pilot.ai';\n\n  return {\n    json: {\n      person_id: d.approver_person_id || null,\n      email: d.approver_email || null,\n      notification_type: 'email',\n      subject: (d.theme_emoji || '') + ' Your weekly ad blueprint is ready!',\n      message: 'Hey ' + (d.approver_name || 'there') + ', the ' + (d.theme_name || 'weekly') + ' plan for ' + d.client_name + ' is ready for your review. Check it out and customize before Thursday 6PM.',\n      link: reviewUrl\n    }\n  };\n});"
        },
        "id": "4fc00aacc80047d7b6d6",
        "name": "Prepare Notification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          128
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { success: true, plans_notified: $input.all().length } }];"
        },
        "id": "14c6e72e71d54d9cb75b",
        "name": "Log Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          128
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "hqfMwxKgqE3DD8VZ",
            "mode": "list",
            "cachedResultUrl": "/workflow/hqfMwxKgqE3DD8VZ",
            "cachedResultName": "[Service] Send User Notification"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "call-send-notification",
        "name": "Call: Send Notification",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          896,
          128
        ]
      }
    ],
    "connections": {
      "Thursday 8am CT": {
        "main": [
          [
            {
              "node": "Find Draft Plans",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Find Draft Plans",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Draft Plans": {
        "main": [
          [
            {
              "node": "Has Plans?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Plans?": {
        "main": [
          [
            {
              "node": "Prepare Notification",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Prepare Notification": {
        "main": [
          [
            {
              "node": "Call: Send Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call: Send Notification": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": "Version 571214c6",
    "description": "",
    "autosaved": true
  },
  "tags": []
}