workflows/_scheduled__thursday_blueprint_notification_3ZDjZntWSqoPqS9P.json
{
  "updatedAt": "2026-02-18T03:32:30.745Z",
  "createdAt": "2026-02-18T03:32:30.745Z",
  "id": "3ZDjZntWSqoPqS9P",
  "name": "[SCHEDULED] Thursday Blueprint Notification",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "0efc006581e141da84df",
      "name": "Thursday 8am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 4"
            }
          ]
        }
      }
    },
    {
      "id": "69bfbb51bdfd42a39bc2",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        100
      ],
      "parameters": {}
    },
    {
      "id": "8d34c82da4d346939cec",
      "name": "Find Draft Plans",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wp.id AS plan_id, wp.client_id, wp.theme_name, wp.theme_emoji, wp.week_start,\n       c.name AS client_name, c.slug AS client_slug\nFROM weekly_plans wp\nJOIN clients c ON c.id = wp.client_id\nWHERE wp.status = 'draft'\n  AND wp.week_start >= date_trunc('week', CURRENT_DATE)\n  AND wp.week_start < date_trunc('week', CURRENT_DATE) + interval '7 days'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "ZUwzqy3kvUJpXrDM",
          "name": "Postgres (Dev)"
        }
      }
    },
    {
      "id": "726d8a5d0d45457fa732",
      "name": "Has Plans?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-0",
              "leftValue": "={{ $json.plan_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "4fc00aacc80047d7b6d6",
      "name": "Notify Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/send-notification",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"type\": \"blueprint_ready\",\n  \"title\": \"Your weekly ad blueprint is ready!\",\n  \"message\": \"{{ $json.theme_emoji }} {{ $json.theme_name }} — Review and customize your plan before Thursday 6PM.\",\n  \"channels\": [\"email\", \"sms\", \"app\"]\n}",
        "options": {}
      }
    },
    {
      "id": "14c6e72e71d54d9cb75b",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        160
      ],
      "parameters": {
        "jsCode": "return [{ json: { success: true, plans_notified: $input.all().length } }];"
      }
    }
  ],
  "connections": {
    "Thursday 8am CT": {
      "main": [
        [
          {
            "node": "Find Draft Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Find Draft Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Draft Plans": {
      "main": [
        [
          {
            "node": "Has Plans?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Plans?": {
      "main": [
        [
          {
            "node": "Notify Client",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Notify Client": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Thursday 8am CT": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "aeeb11e3-be7b-49fd-a72a-6059c95be26b",
  "activeVersionId": "aeeb11e3-be7b-49fd-a72a-6059c95be26b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-18T03:32:30.745Z",
      "createdAt": "2026-02-18T03:32:30.745Z",
      "role": "workflow:owner",
      "workflowId": "3ZDjZntWSqoPqS9P",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-18T03:32:30.769Z",
    "createdAt": "2026-02-18T03:32:30.769Z",
    "versionId": "aeeb11e3-be7b-49fd-a72a-6059c95be26b",
    "workflowId": "3ZDjZntWSqoPqS9P",
    "nodes": [
      {
        "id": "0efc006581e141da84df",
        "name": "Thursday 8am CT",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 14 * * 4"
              }
            ]
          }
        }
      },
      {
        "id": "69bfbb51bdfd42a39bc2",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          100
        ],
        "parameters": {}
      },
      {
        "id": "8d34c82da4d346939cec",
        "name": "Find Draft Plans",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          300,
          200
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT wp.id AS plan_id, wp.client_id, wp.theme_name, wp.theme_emoji, wp.week_start,\n       c.name AS client_name, c.slug AS client_slug\nFROM weekly_plans wp\nJOIN clients c ON c.id = wp.client_id\nWHERE wp.status = 'draft'\n  AND wp.week_start >= date_trunc('week', CURRENT_DATE)\n  AND wp.week_start < date_trunc('week', CURRENT_DATE) + interval '7 days'",
          "options": {}
        },
        "credentials": {
          "postgres": {
            "id": "ZUwzqy3kvUJpXrDM",
            "name": "Postgres (Dev)"
          }
        }
      },
      {
        "id": "726d8a5d0d45457fa732",
        "name": "Has Plans?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          560,
          200
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "condition-0",
                "leftValue": "={{ $json.plan_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "4fc00aacc80047d7b6d6",
        "name": "Notify Client",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          820,
          160
        ],
        "parameters": {
          "method": "POST",
          "url": "https://ad-pilot-n8n-development.up.railway.app/webhook/send-notification",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"type\": \"blueprint_ready\",\n  \"title\": \"Your weekly ad blueprint is ready!\",\n  \"message\": \"{{ $json.theme_emoji }} {{ $json.theme_name }} — Review and customize your plan before Thursday 6PM.\",\n  \"channels\": [\"email\", \"sms\", \"app\"]\n}",
          "options": {}
        }
      },
      {
        "id": "14c6e72e71d54d9cb75b",
        "name": "Log Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1080,
          160
        ],
        "parameters": {
          "jsCode": "return [{ json: { success: true, plans_notified: $input.all().length } }];"
        }
      }
    ],
    "connections": {
      "Thursday 8am CT": {
        "main": [
          [
            {
              "node": "Find Draft Plans",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Find Draft Plans",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Draft Plans": {
        "main": [
          [
            {
              "node": "Has Plans?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Plans?": {
        "main": [
          [
            {
              "node": "Notify Client",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Notify Client": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}