workflows/_service__upload_to_cloudinary__unsigned__qJSlTqiK4tKREfGf.json
{
  "updatedAt": "2026-01-16T15:36:15.416Z",
  "createdAt": "2026-01-16T15:25:41.700Z",
  "id": "qJSlTqiK4tKREfGf",
  "name": "[Service] Upload to Cloudinary (Unsigned)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\n// Validate required fields\nif (!input.file_url) {\n  throw new Error('file_url is required');\n}\nif (!input.upload_preset) {\n  throw new Error('upload_preset is required');\n}\n\n// Default resource_type to 'video' if not specified\nconst resourceType = input.resource_type || 'video';\n\nreturn [{\n  json: {\n    file_url: input.file_url,\n    upload_preset: input.upload_preset,\n    resource_type: resourceType,\n    public_id: input.public_id || null\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst cloudName = 'dtpqxuwby';\nconst url = `https://api.cloudinary.com/v1_1/${cloudName}/${input.resource_type}/upload`;\n\n// Build form data\nconst formData = new FormData();\nformData.append('file', input.file_url);\nformData.append('upload_preset', input.upload_preset);\n\n// Only add public_id if provided\nif (input.public_id) {\n  formData.append('public_id', input.public_id);\n}\n\nconst response = await fetch(url, {\n  method: 'POST',\n  body: formData\n});\n\nconst result = await response.json();\n\nif (result.error) {\n  throw new Error(`Cloudinary error: ${result.error.message}`);\n}\n\nreturn [{\n  json: {\n    secure_url: result.secure_url,\n    public_id: result.public_id,\n    resource_type: result.resource_type,\n    format: result.format,\n    bytes: result.bytes,\n    width: result.width,\n    height: result.height,\n    duration: result.duration\n  }\n}];"
      },
      "id": "upload-and-return",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "df9b766a-3b28-4204-b794-ce930214d902",
  "activeVersionId": "df9b766a-3b28-4204-b794-ce930214d902",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-16T15:25:41.700Z",
      "createdAt": "2026-01-16T15:25:41.700Z",
      "role": "workflow:owner",
      "workflowId": "qJSlTqiK4tKREfGf",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-16T15:36:15.420Z",
    "createdAt": "2026-01-16T15:36:15.420Z",
    "versionId": "df9b766a-3b28-4204-b794-ce930214d902",
    "workflowId": "qJSlTqiK4tKREfGf",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger",
        "name": "When Called by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $json;\n\n// Validate required fields\nif (!input.file_url) {\n  throw new Error('file_url is required');\n}\nif (!input.upload_preset) {\n  throw new Error('upload_preset is required');\n}\n\n// Default resource_type to 'video' if not specified\nconst resourceType = input.resource_type || 'video';\n\nreturn [{\n  json: {\n    file_url: input.file_url,\n    upload_preset: input.upload_preset,\n    resource_type: resourceType,\n    public_id: input.public_id || null\n  }\n}];"
        },
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $json;\nconst cloudName = 'dtpqxuwby';\nconst url = `https://api.cloudinary.com/v1_1/${cloudName}/${input.resource_type}/upload`;\n\n// Build form data\nconst formData = new FormData();\nformData.append('file', input.file_url);\nformData.append('upload_preset', input.upload_preset);\n\n// Only add public_id if provided\nif (input.public_id) {\n  formData.append('public_id', input.public_id);\n}\n\nconst response = await fetch(url, {\n  method: 'POST',\n  body: formData\n});\n\nconst result = await response.json();\n\nif (result.error) {\n  throw new Error(`Cloudinary error: ${result.error.message}`);\n}\n\nreturn [{\n  json: {\n    secure_url: result.secure_url,\n    public_id: result.public_id,\n    resource_type: result.resource_type,\n    format: result.format,\n    bytes: result.bytes,\n    width: result.width,\n    height: result.height,\n    duration: result.duration\n  }\n}];"
        },
        "id": "upload-and-return",
        "name": "Upload to Cloudinary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      }
    ],
    "connections": {
      "When Called by Another Workflow": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Upload to Cloudinary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}