workflows/_service__remove_background_RmW2on3d2zlhjj33.json
{
  "updatedAt": "2026-05-13T23:24:26.335Z",
  "createdAt": "2026-01-26T23:34:47.634Z",
  "id": "RmW2on3d2zlhjj33",
  "name": "[Service] Remove Background",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json;\n\n// Validate required fields\nif (!input.image_url) {\n  throw new Error('image_url is required');\n}\n\n// Set defaults for optional parameters\nreturn {\n  image_url: input.image_url,\n  size: input.size || 'auto',\n  format: input.format || 'png',\n  crop: input.crop !== false,\n  crop_margin: input.crop_margin || '10%',\n  context: input.context || {}\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.remove.bg/v1.0/removebg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "72rkEtm8QRzFpqEmjL42o89z"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"size\": \"{{ $json.size }}\",\n  \"format\": \"{{ $json.format }}\",\n  \"crop\": {{ $json.crop }},\n  \"crop_margin\": \"{{ $json.crop_margin }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "remove-bg-api",
      "name": "API: Remove.bg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get input context from Validate Input node — itemMatching keeps per-item\n// alignment under runOnceForEachItem; .first() always returned index 0 and\n// stamped every cleaned image with the first vehicle's context.\nconst inputData = $('Validate Input').itemMatching($itemIndex).json;\n\n// Get the binary data\nconst binaryData = $input.item.binary?.data;\n\nif (!binaryData) {\n  throw new Error('No binary data returned from Remove.bg');\n}\n\n// Return success with binary and context\nreturn {\n  json: {\n    success: true,\n    format: inputData.format,\n    context: inputData.context\n  },\n  binary: {\n    data: binaryData\n  }\n};"
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Handle error from Remove.bg API\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\n\n// Remove.bg error format: { \"errors\": [{ \"code\": \"...\", \"title\": \"...\" }] }\nif (error.errors && Array.isArray(error.errors) && error.errors.length > 0) {\n  const firstError = error.errors[0];\n  errorMessage = firstError.code \n    ? `${firstError.code}: ${firstError.title}` \n    : firstError.title;\n} else if (error.message) {\n  errorMessage = error.message;\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: errorMessage,\n    raw_error: JSON.stringify(error, null, 2)\n  }\n}];"
      },
      "id": "format-error",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        112
      ]
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "API: Remove.bg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Remove.bg": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        []
      ]
    },
    "Format Error Response": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f862d85b-01b3-4213-8079-333ca65573e0",
  "activeVersionId": "f862d85b-01b3-4213-8079-333ca65573e0",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T23:34:47.634Z",
      "createdAt": "2026-01-26T23:34:47.634Z",
      "role": "workflow:owner",
      "workflowId": "RmW2on3d2zlhjj33",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-13T23:24:26.338Z",
    "createdAt": "2026-05-13T23:24:26.338Z",
    "versionId": "f862d85b-01b3-4213-8079-333ca65573e0",
    "workflowId": "RmW2on3d2zlhjj33",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger",
        "name": "When Called by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const input = $json;\n\n// Validate required fields\nif (!input.image_url) {\n  throw new Error('image_url is required');\n}\n\n// Set defaults for optional parameters\nreturn {\n  image_url: input.image_url,\n  size: input.size || 'auto',\n  format: input.format || 'png',\n  crop: input.crop !== false,\n  crop_margin: input.crop_margin || '10%',\n  context: input.context || {}\n};"
        },
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.remove.bg/v1.0/removebg",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "72rkEtm8QRzFpqEmjL42o89z"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"size\": \"{{ $json.size }}\",\n  \"format\": \"{{ $json.format }}\",\n  \"crop\": {{ $json.crop }},\n  \"crop_margin\": \"{{ $json.crop_margin }}\"\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "remove-bg-api",
        "name": "API: Remove.bg",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          0
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Get input context from Validate Input node — itemMatching keeps per-item\n// alignment under runOnceForEachItem; .first() always returned index 0 and\n// stamped every cleaned image with the first vehicle's context.\nconst inputData = $('Validate Input').itemMatching($itemIndex).json;\n\n// Get the binary data\nconst binaryData = $input.item.binary?.data;\n\nif (!binaryData) {\n  throw new Error('No binary data returned from Remove.bg');\n}\n\n// Return success with binary and context\nreturn {\n  json: {\n    success: true,\n    format: inputData.format,\n    context: inputData.context\n  },\n  binary: {\n    data: binaryData\n  }\n};"
        },
        "id": "format-success",
        "name": "Format Success Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          -64
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Handle error from Remove.bg API\nconst error = $json;\n\nlet errorMessage = 'Unknown error';\n\n// Remove.bg error format: { \"errors\": [{ \"code\": \"...\", \"title\": \"...\" }] }\nif (error.errors && Array.isArray(error.errors) && error.errors.length > 0) {\n  const firstError = error.errors[0];\n  errorMessage = firstError.code \n    ? `${firstError.code}: ${firstError.title}` \n    : firstError.title;\n} else if (error.message) {\n  errorMessage = error.message;\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: errorMessage,\n    raw_error: JSON.stringify(error, null, 2)\n  }\n}];"
        },
        "id": "format-error",
        "name": "Format Error Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          112
        ]
      }
    ],
    "connections": {
      "When Called by Another Workflow": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "API: Remove.bg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API: Remove.bg": {
        "main": [
          [
            {
              "node": "Format Success Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Success Response": {
        "main": [
          []
        ]
      },
      "Format Error Response": {
        "main": [
          []
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}