workflows/_service__email_error_notification_rFyNQNW3IQ1zLHEF.json
{
  "updatedAt": "2026-01-30T23:32:50.927Z",
  "createdAt": "2026-01-26T23:34:41.464Z",
  "id": "rFyNQNW3IQ1zLHEF",
  "name": "[Service] Email Error Notification",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\n// Validate required fields\nif (!input.error) {\n  throw new Error('error message is required');\n}\nif (!input.workflow_name) {\n  throw new Error('workflow_name is required');\n}\n\n// Format details as string if object\nlet detailsStr = input.details || '';\nif (typeof detailsStr === 'object') {\n  detailsStr = JSON.stringify(detailsStr, null, 2);\n}\n\nreturn [{\n  json: {\n    to_email: input.to_email || 'kelly@ad-pilot.ai',\n    workflow_name: input.workflow_name,\n    error: input.error,\n    details: detailsStr,\n    job_id: input.job_id || null\n  }\n}];"
      },
      "id": "format-input",
      "name": "Format Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\nreturn [{\n  json: {\n    success: !!response.id,\n    email_id: response.id || null,\n    error: response.error || null\n  }\n}];"
      },
      "id": "return-result",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"notification@ad-pilot.ai\",\n  \"to\": \"{{ $json.to_email }}\",\n  \"subject\": \"{{ $json.workflow_name }} Failed{{ $json.job_id ? ' - Job ' + $json.job_id : '' }}\",\n  \"html\": {{ JSON.stringify('<h2>' + $json.workflow_name + ' Failed</h2><p><strong>Error:</strong> ' + $json.error + '</p>' + ($json.details ? '<h3>Details:</h3><pre>' + $json.details + '</pre>' : '')) }}\n}",
        "options": {}
      },
      "id": "e9005c68-d3fb-45e7-b7bc-6947b6745290",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -16
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "oConQlSBx8Yjco2M",
          "name": "Resend"
        }
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7ee92ab8-42b3-4b42-9669-fb6539a089c7",
  "activeVersionId": "7ee92ab8-42b3-4b42-9669-fb6539a089c7",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T23:34:41.464Z",
      "createdAt": "2026-01-26T23:34:41.464Z",
      "role": "workflow:owner",
      "workflowId": "rFyNQNW3IQ1zLHEF",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-30T23:32:53.317Z",
    "createdAt": "2026-01-30T23:32:50.929Z",
    "versionId": "7ee92ab8-42b3-4b42-9669-fb6539a089c7",
    "workflowId": "rFyNQNW3IQ1zLHEF",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger",
        "name": "When Called by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $json;\n\n// Validate required fields\nif (!input.error) {\n  throw new Error('error message is required');\n}\nif (!input.workflow_name) {\n  throw new Error('workflow_name is required');\n}\n\n// Format details as string if object\nlet detailsStr = input.details || '';\nif (typeof detailsStr === 'object') {\n  detailsStr = JSON.stringify(detailsStr, null, 2);\n}\n\nreturn [{\n  json: {\n    to_email: input.to_email || 'kelly@ad-pilot.ai',\n    workflow_name: input.workflow_name,\n    error: input.error,\n    details: detailsStr,\n    job_id: input.job_id || null\n  }\n}];"
        },
        "id": "format-input",
        "name": "Format Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = $json;\n\nreturn [{\n  json: {\n    success: !!response.id,\n    email_id: response.id || null,\n    error: response.error || null\n  }\n}];"
        },
        "id": "return-result",
        "name": "Return Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          -16
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.resend.com/emails",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"from\": \"notification@ad-pilot.ai\",\n  \"to\": \"{{ $json.to_email }}\",\n  \"subject\": \"{{ $json.workflow_name }} Failed{{ $json.job_id ? ' - Job ' + $json.job_id : '' }}\",\n  \"html\": {{ JSON.stringify('<h2>' + $json.workflow_name + ' Failed</h2><p><strong>Error:</strong> ' + $json.error + '</p>' + ($json.details ? '<h3>Details:</h3><pre>' + $json.details + '</pre>' : '')) }}\n}",
          "options": {}
        },
        "id": "e9005c68-d3fb-45e7-b7bc-6947b6745290",
        "name": "Send Error Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          -16
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "oConQlSBx8Yjco2M",
            "name": "Resend"
          }
        }
      }
    ],
    "connections": {
      "When Called by Another Workflow": {
        "main": [
          [
            {
              "node": "Format Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Input": {
        "main": [
          [
            {
              "node": "Send Error Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Error Email": {
        "main": [
          [
            {
              "node": "Return Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": "Version 7ee92ab8",
    "description": "",
    "autosaved": true
  },
  "tags": []
}