workflows/_service__replicate_alpha_video_tooZ45SwuoZvHk00.json
{
  "updatedAt": "2026-01-16T15:34:28.507Z",
  "createdAt": "2026-01-16T15:25:20.443Z",
  "id": "tooZ45SwuoZvHk00",
  "name": "[Service] Replicate Alpha Video",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"version\": \"73d2128a371922d5d1abf0712a1d974be0e4e2358cc1218e4e34714767232bac\",\n  \"input\": {\n    \"input_video\": \"{{ $json.video_url }}\",\n    \"output_type\": \"alpha-mask\"\n  }\n}",
        "options": {}
      },
      "id": "create-prediction",
      "name": "Create RVM Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "Cg4MVmFYrBVN7VDI",
          "name": "Replicate"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\nif (response.error) {\n  throw new Error(`Replicate error: ${response.error}`);\n}\n\nreturn [{\n  json: {\n    prediction_id: response.id,\n    status_url: response.urls.get,\n    status: response.status\n  }\n}];"
      },
      "id": "store-prediction",
      "name": "Store Prediction ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "options": {}
      },
      "id": "check-status",
      "name": "Check RVM Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "Cg4MVmFYrBVN7VDI",
          "name": "Replicate"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-complete",
      "name": "If Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\nif (response.status === 'failed') {\n  throw new Error(`RVM failed: ${response.error || 'Unknown error'}`);\n}\n\nif (response.status === 'canceled') {\n  throw new Error('RVM prediction was canceled');\n}\n\nreturn [{\n  json: {\n    prediction_id: response.id,\n    status_url: response.urls.get,\n    status: response.status\n  }\n}];"
      },
      "id": "preserve-for-loop",
      "name": "Preserve for Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        144
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "wait",
      "name": "Wait 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1328,
        144
      ],
      "webhookId": "wait-rvm"
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\n\nreturn [{\n  json: {\n    alpha_video_url: response.output,\n    prediction_id: response.id\n  }\n}];"
      },
      "id": "return-result",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -144
      ]
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "Create RVM Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create RVM Prediction": {
      "main": [
        [
          {
            "node": "Store Prediction ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Store Prediction ID": {
      "main": [
        [
          {
            "node": "Check RVM Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RVM Status": {
      "main": [
        [
          {
            "node": "If Complete",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Complete": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preserve for Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve for Loop": {
      "main": [
        [
          {
            "node": "Wait 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3s": {
      "main": [
        [
          {
            "node": "Check RVM Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f9e4768c-ff9a-46e8-972d-0ced82be7b46",
  "activeVersionId": "f9e4768c-ff9a-46e8-972d-0ced82be7b46",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-16T15:25:20.443Z",
      "createdAt": "2026-01-16T15:25:20.443Z",
      "role": "workflow:owner",
      "workflowId": "tooZ45SwuoZvHk00",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-16T15:34:28.512Z",
    "createdAt": "2026-01-16T15:34:28.512Z",
    "versionId": "f9e4768c-ff9a-46e8-972d-0ced82be7b46",
    "workflowId": "tooZ45SwuoZvHk00",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger",
        "name": "When Called by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.replicate.com/v1/predictions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"version\": \"73d2128a371922d5d1abf0712a1d974be0e4e2358cc1218e4e34714767232bac\",\n  \"input\": {\n    \"input_video\": \"{{ $json.video_url }}\",\n    \"output_type\": \"alpha-mask\"\n  }\n}",
          "options": {}
        },
        "id": "create-prediction",
        "name": "Create RVM Prediction",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          0
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "Cg4MVmFYrBVN7VDI",
            "name": "Replicate"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const response = $json;\n\nif (response.error) {\n  throw new Error(`Replicate error: ${response.error}`);\n}\n\nreturn [{\n  json: {\n    prediction_id: response.id,\n    status_url: response.urls.get,\n    status: response.status\n  }\n}];"
        },
        "id": "store-prediction",
        "name": "Store Prediction ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.status_url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "options": {}
        },
        "id": "check-status",
        "name": "Check RVM Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          0
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "Cg4MVmFYrBVN7VDI",
            "name": "Replicate"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "complete",
                "leftValue": "={{ $json.status }}",
                "rightValue": "succeeded",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-complete",
        "name": "If Complete",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const response = $json;\n\nif (response.status === 'failed') {\n  throw new Error(`RVM failed: ${response.error || 'Unknown error'}`);\n}\n\nif (response.status === 'canceled') {\n  throw new Error('RVM prediction was canceled');\n}\n\nreturn [{\n  json: {\n    prediction_id: response.id,\n    status_url: response.urls.get,\n    status: response.status\n  }\n}];"
        },
        "id": "preserve-for-loop",
        "name": "Preserve for Loop",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          144
        ]
      },
      {
        "parameters": {
          "amount": 3
        },
        "id": "wait",
        "name": "Wait 3s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1328,
          144
        ],
        "webhookId": "wait-rvm"
      },
      {
        "parameters": {
          "jsCode": "const response = $json;\n\nreturn [{\n  json: {\n    alpha_video_url: response.output,\n    prediction_id: response.id\n  }\n}];"
        },
        "id": "return-result",
        "name": "Return Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          -144
        ]
      }
    ],
    "connections": {
      "When Called by Another Workflow": {
        "main": [
          [
            {
              "node": "Create RVM Prediction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create RVM Prediction": {
        "main": [
          [
            {
              "node": "Store Prediction ID",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Store Prediction ID": {
        "main": [
          [
            {
              "node": "Check RVM Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check RVM Status": {
        "main": [
          [
            {
              "node": "If Complete",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "If Complete": {
        "main": [
          [
            {
              "node": "Return Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Preserve for Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preserve for Loop": {
        "main": [
          [
            {
              "node": "Wait 3s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 3s": {
        "main": [
          [
            {
              "node": "Check RVM Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}