workflows/_test__fire_04b_RIvCr1DPY8xDHsff.json
{
  "updatedAt": "2026-05-13T19:24:45.105Z",
  "createdAt": "2026-05-13T19:24:45.105Z",
  "id": "RIvCr1DPY8xDHsff",
  "name": "[Test] Fire 04b",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-fire-04b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "id": "webhook-trigger",
      "name": "Webhook",
      "webhookId": "test-fire-04b"
    },
    {
      "parameters": {
        "jsCode": "// Unwrap webhook body (the POST payload becomes $json.body)\nconst payload = $json.body || $json;\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "unwrap-body",
      "name": "Unwrap Body"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zaz1gsffA48GcvuN",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        200,
        0
      ],
      "id": "call-04b",
      "name": "Call [04b]"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ final_video_url: $json.final_video_url, video_duration: $json.video_duration }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        0
      ],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Unwrap Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unwrap Body": {
      "main": [
        [
          {
            "node": "Call [04b]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call [04b]": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3596d51f-9c9d-4580-9010-b244d3eb56a2",
  "activeVersionId": "3596d51f-9c9d-4580-9010-b244d3eb56a2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-13T19:24:45.105Z",
      "createdAt": "2026-05-13T19:24:45.105Z",
      "role": "workflow:owner",
      "workflowId": "RIvCr1DPY8xDHsff",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-13T19:24:45.105Z",
    "createdAt": "2026-05-13T19:24:45.105Z",
    "versionId": "3596d51f-9c9d-4580-9010-b244d3eb56a2",
    "workflowId": "RIvCr1DPY8xDHsff",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "test-fire-04b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -200,
          0
        ],
        "id": "webhook-trigger",
        "name": "Webhook",
        "webhookId": "test-fire-04b"
      },
      {
        "parameters": {
          "jsCode": "// Unwrap webhook body (the POST payload becomes $json.body)\nconst payload = $json.body || $json;\nreturn [{ json: payload }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "unwrap-body",
        "name": "Unwrap Body"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zaz1gsffA48GcvuN",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          200,
          0
        ],
        "id": "call-04b",
        "name": "Call [04b]"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ final_video_url: $json.final_video_url, video_duration: $json.video_duration }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          400,
          0
        ],
        "id": "respond",
        "name": "Respond"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Unwrap Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Unwrap Body": {
        "main": [
          [
            {
              "node": "Call [04b]",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call [04b]": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}