workflows/_util__run_migration_ulb4d9efSLSRqSaG.json
{
  "updatedAt": "2026-02-06T23:24:12.358Z",
  "createdAt": "2026-01-21T22:09:28.730Z",
  "id": "ulb4d9efSLSRqSaG",
  "name": "[Util] Run Migration",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-migration",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "run-migration-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, processing_status, processed_at, jsonb_array_length(processed_items) as item_count, theme_pack->'theme_name' as theme_name FROM assets WHERE id = 'df7ca9ea-a4b4-4d2b-8328-506d1ecd34e3'",
        "options": {}
      },
      "id": "postgres-001",
      "name": "Run Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "3XsWrPuEddwVYbGS",
          "name": "Railway Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-001",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Query": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "01fd76ba-61b7-4694-8ffc-ddb69ae507ac",
  "activeVersionId": "01fd76ba-61b7-4694-8ffc-ddb69ae507ac",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-21T22:09:28.730Z",
      "createdAt": "2026-01-21T22:09:28.730Z",
      "role": "workflow:owner",
      "workflowId": "ulb4d9efSLSRqSaG",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-06T23:24:12.361Z",
    "createdAt": "2026-02-06T23:24:12.361Z",
    "versionId": "01fd76ba-61b7-4694-8ffc-ddb69ae507ac",
    "workflowId": "ulb4d9efSLSRqSaG",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "run-migration",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "webhook-001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "run-migration-001"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, processing_status, processed_at, jsonb_array_length(processed_items) as item_count, theme_pack->'theme_name' as theme_name FROM assets WHERE id = 'df7ca9ea-a4b4-4d2b-8328-506d1ecd34e3'",
          "options": {}
        },
        "id": "postgres-001",
        "name": "Run Query",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          460,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "3XsWrPuEddwVYbGS",
            "name": "Railway Postgres"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        },
        "id": "respond-001",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          680,
          300
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Run Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Query": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}