workflows/archived__10_24_25__orchestrate_video_creation_p0Ki4YmdjUufdwb4.json
{
  "updatedAt": "2025-10-25T16:57:09.000Z",
  "createdAt": "2025-10-06T18:24:03.709Z",
  "id": "p0Ki4YmdjUufdwb4",
  "name": "ARCHIVED (10/24/25) Orchestrate video creation",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YqpoyQmbszh6dlXA",
          "mode": "list",
          "cachedResultUrl": "/workflow/YqpoyQmbszh6dlXA",
          "cachedResultName": "script generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "theme": "={{ $json.body.theme }}",
            "email": "={{ $json.body.email }}",
            "vins": "={{ $json.body.vins }}",
            "template_id": "={{ $json.body.template_id }}",
            "avatar_id": "={{ $json.body.avatar_id }}",
            "voice_id": "={{ $json.body.voice_id }}",
            "chromakey_color": "={{ $json.body.chromakey_color }}",
            "chromakey_sensitivity": "={{ $json.body.chromakey_sensitivity }}"
          },
          "matchingColumns": [
            "videoConfig"
          ],
          "schema": [
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "vins",
              "displayName": "vins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "template_id",
              "displayName": "template_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "avatar_id",
              "displayName": "avatar_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chromakey_color",
              "displayName": "chromakey_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chromakey_sensitivity",
              "displayName": "chromakey_sensitivity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -48,
        32
      ],
      "id": "a840e965-bda4-4049-b359-238d62e9a8db",
      "name": "Call 'script generation'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "c29nxoZZkFAfE4zj",
          "mode": "list",
          "cachedResultUrl": "/workflow/c29nxoZZkFAfE4zj",
          "cachedResultName": "Create avatar video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        624,
        32
      ],
      "id": "9d269a5e-b048-4871-970b-aeac144e42b8",
      "name": "Call 'Create avatar video'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-pilot-draft",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        32
      ],
      "id": "6bdb14f5-6db0-4b11-8baf-db3a16a2670e",
      "name": "Webhook",
      "webhookId": "e5f0e7cb-64d1-4a78-9c88-9bc83b607d4f"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    ...$json,  // ← Keep everything including email!\n    status: \"success\",\n    video_url: $json.final_video_url,\n    duration: $json.duration,\n    message: \"Your TikTok ad is ready! 🎉\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        32
      ],
      "id": "4e023875-f432-412d-9c18-cbd0db4ec6e6",
      "name": "Format Response"
    },
    {
      "parameters": {
        "sendTo": "=kellyraeknight78@gmail.com, {{ $json.email }}",
        "subject": "Your TikTok Ad is Ready! 🎬",
        "message": "=<h2>Your TikTok Ad is Ready! 🎉</h2>\n\n<p>Great news! Your custom car ad has been generated.</p>\n\n<p><strong><a href=\"{{ $json.outputs.final_video_url }}\">Click here to download your video</a></strong></p>\n\n<p>Theme: {{ $json.theme }}</p>\n<p>Duration: {{ $json.outputs.avatar_duration || $json.duration }} seconds</p>\n\n<p>Thanks for using Ad Pilot!</p>\n\n<p>- Kelly</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        32
      ],
      "id": "031cd3d3-d267-4f67-88d9-8bc6af9d7a59",
      "name": "Send a message",
      "webhookId": "c012acd5-f814-4033-b64d-e45a8560c3b2",
      "credentials": {
        "gmailOAuth2": {
          "id": "eohLHC3Bquj0VHuG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cjgJIxAJifeH0lP5",
          "mode": "list",
          "cachedResultUrl": "/workflow/cjgJIxAJifeH0lP5",
          "cachedResultName": "TikTok Ad Generation Core"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        32
      ],
      "id": "d522843f-933b-4d30-ac7a-7e08d8a2e654",
      "name": "Call 'TikTok Ad Generation Core'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const config = $json;\n\n// Only cleanup if successful\nif (!config.ok || !config.outputs?.final_video_url) {\n  console.log('Skipping cleanup - workflow failed');\n  return [{ json: config }];\n}\n\nconst tasks = [];\n\n// 1. Archive final video to Cloudinary\nif (config.outputs.shotstack_video_url) {\n  tasks.push({\n    action: 'upload',\n    type: 'final_video',\n    url: config.outputs.shotstack_video_url,\n    public_id: `final-videos/${new Date().toISOString().split('T')[0]}/${config.render_id || Date.now()}`\n  });\n}\n\n// 2. Delete temporary audio file\nif (config.outputs.audio_cloudinary_id) {\n  tasks.push({\n    action: 'delete',\n    type: 'audio',\n    public_id: config.outputs.audio_cloudinary_id\n  });\n}\n\nconsole.log('Cleanup tasks:', tasks);\n\nreturn [{ json: { ...config, cleanup_tasks: tasks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        32
      ],
      "id": "1d5cdc47-0ae6-4213-9166-e6b2dd47928b",
      "name": "Cleanup and Archive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dtpqxuwby/video/upload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file\": \"{{ $json.outputs.final_video_url }}\",\n  \"upload_preset\": \"ad-pilot\",\n  \"public_id\": \"final-videos/{{$json.outputs.creatomate_render_id }}\",\n  \"resource_type\": \"video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        32
      ],
      "id": "075ef056-03cb-476a-8988-a0c3325e943c",
      "name": "Upload Shotstack to Cloudinary"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://224132378494569:bNSqU5c7z0q3ujVeKPM0NUAqDr4@api.cloudinary.com/v1_1/dtpqxuwby/resources/video/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "public_ids",
              "value": "={{ $json.audio_cloudinary_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        32
      ],
      "id": "34c2504b-3988-448e-a424-5bbc925ab0a2",
      "name": "Delete Audio file"
    },
    {
      "parameters": {
        "jsCode": "// Get the original config from before the email\nconst originalConfig = $('Format Response').item.json;\n\nreturn [{\n  json: originalConfig\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        32
      ],
      "id": "9a8c6a7c-5849-4fa9-9f23-18cbeadd33f5",
      "name": "Restore config"
    },
    {
      "parameters": {
        "jsCode": "// Get original config and upload response\nconst originalConfig = $('Cleanup and Archive').item.json;\nconst uploadResponse = $json;\n\nreturn [{\n  json: {\n    ...originalConfig,\n    cloudinary_archive: {\n      asset_id: uploadResponse.asset_id,\n      public_id: uploadResponse.public_id,\n      secure_url: uploadResponse.secure_url\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        32
      ],
      "id": "0a57a8eb-b6e8-4d1e-bd05-bb362b839fff",
      "name": "Merge upload response"
    },
    {
      "parameters": {
        "jsCode": "// Email allowlist - only these can use the system\nconst allowlist = [\n  'kelly@kellyrae.net',\n  'kellyraeknight78@gmail.com',\n  'esears48@gmail.com',\n  'kelly@ad-pilot.ai',\n  'eric@ad-pilot.ai',\n  'kimark100@aol.com',\n  'garyknight@carmackcars.com',\n  'karleeknight@gmail.com',\n  'karlee515@yahoo.com',\n  'Blakef1984@gmail.com',\n  'bfree98@aol.com',\n  'kacywaldhoff@yahoo.com',\n  'kacywaldhoff@gmail.com',\n  'Mark@ChampaignExperts.com',\n  'tessawaldhoff@gmail.com',\n  'laurenwaldhoff@gmail.com',\n  'shaddelaney@carmackcars.com',\n  'wedin95@aol.com ',\n  'terricox@carmackcars.com',\n  'hannah.blue1302@gmail.com',\n  'notredameone@yahoo.com',\n  'gregh@consolidatedccs.com'\n  // Add other authorized users here\n];\n\n// Get email from request\nconst email = $json.body?.email || $json.email;\n\n// Validate email exists\nif (!email) {\n  throw new Error('Email is required');\n}\n\n// Check if email is allowed (case-insensitive)\nconst isAllowed = allowlist.some(allowed => \n  email.toLowerCase() === allowed.toLowerCase()\n);\n\nif (!isAllowed) {\n  console.log(`Unauthorized email attempt: ${email}`);\n  throw new Error('Your email address is not authorized to use this system. Please contact support.');\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email format');\n}\n\nconsole.log(`Authorized request from: ${email}`);\n\n// Pass through if valid\nreturn [{\n  json: $json\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        32
      ],
      "id": "d6534af0-8e87-4466-a41f-b99db7373f8b",
      "name": "Allow whitelisted emails only"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Cr40O1gRqU5gZpSs",
          "mode": "list",
          "cachedResultUrl": "/workflow/Cr40O1gRqU5gZpSs",
          "cachedResultName": "Generate Theme Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        -48
      ],
      "id": "5a847bba-d70f-4548-9406-67957f48ff29",
      "name": "Call 'Generate Theme Image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b83044ed-ad88-48ff-aebc-3887594d9524",
              "leftValue": "={{ $json.body.include_animation }}",
              "rightValue": "TEMP_002",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        32
      ],
      "id": "0d68b10c-64ff-41ea-858f-2fbff8dc5718",
      "name": "Template needs animation?"
    }
  ],
  "connections": {
    "Call 'script generation'": {
      "main": [
        [
          {
            "node": "Template needs animation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Create avatar video'": {
      "main": [
        [
          {
            "node": "Call 'TikTok Ad Generation Core'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Allow whitelisted emails only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'TikTok Ad Generation Core'": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Restore config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup and Archive": {
      "main": [
        [
          {
            "node": "Upload Shotstack to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Shotstack to Cloudinary": {
      "main": [
        [
          {
            "node": "Merge upload response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore config": {
      "main": [
        [
          {
            "node": "Cleanup and Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge upload response": {
      "main": [
        [
          {
            "node": "Delete Audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow whitelisted emails only": {
      "main": [
        [
          {
            "node": "Call 'script generation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Generate Theme Image": {
      "main": [
        [
          {
            "node": "Call 'Create avatar video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template needs animation?": {
      "main": [
        [
          {
            "node": "Call 'Generate Theme Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Create avatar video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "08539778-316d-4981-a602-ead85cb98782",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-06T18:24:03.713Z",
      "createdAt": "2025-10-06T18:24:03.713Z",
      "role": "workflow:owner",
      "workflowId": "p0Ki4YmdjUufdwb4",
      "projectId": "bll44iFOa92qb20Q"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-25T13:07:25.750Z",
      "createdAt": "2025-10-25T13:07:25.750Z",
      "id": "9Q3iOPtGOC35RWTa",
      "name": "ARCHIVED"
    }
  ]
}