workflows/avatars_list_WOpkTbc7B5FkEeSJ.json
{
  "updatedAt": "2026-01-17T18:50:15.498Z",
  "createdAt": "2026-01-13T23:16:34.512Z",
  "id": "WOpkTbc7B5FkEeSJ",
  "name": "Avatars List",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "avatars",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "id": "webhook-avatars",
      "name": "Webhook",
      "webhookId": "avatars-list"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.id as avatar_id,\n  p.display_name,\n  p.full_name,\n  a.style_name,\n  a.motion_preset,\n  a.preview_image_url,\n  a.preview_video_url\nFROM avatars a\nJOIN persons p ON a.person_id = p.id\nJOIN client_avatars ca ON ca.avatar_id = a.id\nJOIN clients c ON c.id = ca.client_id\nWHERE a.is_active = true\n  AND ca.is_active = true\n  AND ca.is_deleted = false\nORDER BY p.display_name, a.style_name",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        200
      ],
      "id": "query-avatars",
      "name": "Query Avatars",
      "credentials": {
        "postgres": {
          "id": "3XsWrPuEddwVYbGS",
          "name": "Railway Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const avatars = $input.all().map(item => ({\n  avatar_id: item.json.avatar_id,\n  display_name: item.json.display_name,\n  full_name: item.json.full_name,\n  style_name: item.json.style_name,\n  motion_preset: item.json.motion_preset,\n  preview_image_url: item.json.preview_image_url,\n  preview_video_url: item.json.preview_video_url,\n  label: item.json.style_name \n    ? `${item.json.display_name} (${item.json.style_name})`\n    : item.json.display_name\n}));\n\nreturn [{ json: { success: true, avatars } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        200
      ],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        200
      ],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query Avatars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Avatars": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a2fdd5d6-61c4-4667-922c-3d99e3c4e348",
  "activeVersionId": "a2fdd5d6-61c4-4667-922c-3d99e3c4e348",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-13T23:16:34.512Z",
      "createdAt": "2026-01-13T23:16:34.512Z",
      "role": "workflow:owner",
      "workflowId": "WOpkTbc7B5FkEeSJ",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T18:50:15.502Z",
    "createdAt": "2026-01-17T18:50:15.502Z",
    "versionId": "a2fdd5d6-61c4-4667-922c-3d99e3c4e348",
    "workflowId": "WOpkTbc7B5FkEeSJ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "avatars",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          200
        ],
        "id": "webhook-avatars",
        "name": "Webhook",
        "webhookId": "avatars-list"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  a.id as avatar_id,\n  p.display_name,\n  p.full_name,\n  a.style_name,\n  a.motion_preset,\n  a.preview_image_url,\n  a.preview_video_url\nFROM avatars a\nJOIN persons p ON a.person_id = p.id\nJOIN client_avatars ca ON ca.avatar_id = a.id\nJOIN clients c ON c.id = ca.client_id\nWHERE a.is_active = true\n  AND ca.is_active = true\n  AND ca.is_deleted = false\nORDER BY p.display_name, a.style_name",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          200,
          200
        ],
        "id": "query-avatars",
        "name": "Query Avatars",
        "credentials": {
          "postgres": {
            "id": "3XsWrPuEddwVYbGS",
            "name": "Railway Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const avatars = $input.all().map(item => ({\n  avatar_id: item.json.avatar_id,\n  display_name: item.json.display_name,\n  full_name: item.json.full_name,\n  style_name: item.json.style_name,\n  motion_preset: item.json.motion_preset,\n  preview_image_url: item.json.preview_image_url,\n  preview_video_url: item.json.preview_video_url,\n  label: item.json.style_name \n    ? `${item.json.display_name} (${item.json.style_name})`\n    : item.json.display_name\n}));\n\nreturn [{ json: { success: true, avatars } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          200
        ],
        "id": "format-response",
        "name": "Format Response"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          600,
          200
        ],
        "id": "respond",
        "name": "Respond"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Query Avatars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query Avatars": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}