workflows/client_intake___list_clients_NaYXs1pjDcvxhdR7.json
{
  "updatedAt": "2025-12-03T17:10:14.000Z",
  "createdAt": "2025-12-03T16:51:00.470Z",
  "id": "NaYXs1pjDcvxhdR7",
  "name": "Client Intake - List Clients",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "client-list",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "webhook-list",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        272,
        304
      ],
      "webhookId": "client-list"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fiCJMWhZGOXIqNmxswt92qQxAQ70bjz6FKxpVQMNO2g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Submissions",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-sheet",
      "name": "Read All Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3qdIZMDD4wzQ69l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract just the fields needed for the dropdown\nconst clients = $input.all().map(item => ({\n  clientId: item.json.clientId,\n  businessName: item.json.businessName,\n  industry: item.json.industry,\n  primaryContactName: item.json.primaryContactName,\n  timestamp: item.json.timestamp\n}));\n\n// Sort by most recent first\nclients.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\n\nreturn { json: { clients } };"
      },
      "id": "format-list",
      "name": "Format Client List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-list",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        928,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read All Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Clients": {
      "main": [
        [
          {
            "node": "Format Client List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Client List": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b0f7e1db-1736-41e2-b137-f3bb2637d23a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-03T16:51:00.472Z",
      "createdAt": "2025-12-03T16:51:00.472Z",
      "role": "workflow:owner",
      "workflowId": "NaYXs1pjDcvxhdR7",
      "projectId": "bll44iFOa92qb20Q"
    }
  ],
  "tags": []
}