workflows/client_intake_-_get_client_omzG6YHQUetRDSWu.json
{
  "updatedAt": "2025-12-03T17:12:47.651Z",
  "createdAt": "2025-12-03T16:51:56.105Z",
  "id": "omzG6YHQUetRDSWu",
  "name": "Client Intake - Get Client",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "client-get",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "webhook-get",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        272,
        304
      ],
      "webhookId": "client-get"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fiCJMWhZGOXIqNmxswt92qQxAQ70bjz6FKxpVQMNO2g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Submissions",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-sheet",
      "name": "Read All Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g3qdIZMDD4wzQ69l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the clientId from webhook query params (reference webhook node directly)\nconst clientId = $('Webhook').first().json.query.clientId;\n\n// Find the matching client from all rows\nconst allClients = $input.all();\nconst client = allClients.find(item => item.json.clientId === clientId);\n\nif (!client) {\n  return { json: { error: 'Client not found', clientId } };\n}\n\n// Parse JSON fields back to objects\nconst data = { ...client.json };\n\ntry {\n  if (data.platformStatuses) data.platformStatuses = JSON.parse(data.platformStatuses);\n} catch(e) { data.platformStatuses = {}; }\n\ntry {\n  if (data.additionalUsers) data.additionalUsers = JSON.parse(data.additionalUsers);\n} catch(e) { data.additionalUsers = []; }\n\ntry {\n  if (data.avatarPeople) data.avatarPeople = JSON.parse(data.avatarPeople);\n} catch(e) { data.avatarPeople = []; }\n\n// Convert platforms string back to array\nif (data.platforms && typeof data.platforms === 'string') {\n  data.platforms = data.platforms.split(', ').filter(p => p);\n}\n\n// Convert addons string back to array\nif (data.addons && typeof data.addons === 'string') {\n  data.addons = data.addons.split(', ').filter(a => a);\n}\n\n// Convert otherPhotosUrls string back to array\nif (data.otherPhotosUrls && typeof data.otherPhotosUrls === 'string') {\n  data.otherPhotosUrls = data.otherPhotosUrls.split(', ').filter(u => u);\n}\n\nreturn { json: { client: data } };"
      },
      "id": "find-client",
      "name": "Find Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-get",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        928,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read All Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Clients": {
      "main": [
        [
          {
            "node": "Find Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Client": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c8f348f8-e0c6-4218-b8c0-7b28586b55fa",
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-03T16:51:56.107Z",
      "createdAt": "2025-12-03T16:51:56.107Z",
      "role": "workflow:owner",
      "workflowId": "omzG6YHQUetRDSWu",
      "projectId": "bll44iFOa92qb20Q",
      "project": {
        "updatedAt": "2025-09-08T16:29:41.547Z",
        "createdAt": "2025-09-08T16:29:38.593Z",
        "id": "bll44iFOa92qb20Q",
        "name": "Kelly Knight <kelly@kellyrae.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-08T16:29:38.593Z",
            "createdAt": "2025-09-08T16:29:38.593Z",
            "userId": "a30987fe-4321-46e3-affb-75459c3320fc",
            "projectId": "bll44iFOa92qb20Q",
            "user": {
              "updatedAt": "2025-12-10T08:00:00.000Z",
              "createdAt": "2025-09-08T16:29:36.989Z",
              "id": "a30987fe-4321-46e3-affb-75459c3320fc",
              "email": "kelly@kellyrae.net",
              "firstName": "Kelly",
              "lastName": "Knight",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DIT1A5BsEUock2GH",
                "userActivatedAt": 1758474039124,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759246180644
                },
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}