workflows/create_snapshot_video_fxmcm8hbMXc3oh81.json
{
  "updatedAt": "2025-10-25T13:11:51.000Z",
  "createdAt": "2025-10-01T12:27:06.151Z",
  "id": "fxmcm8hbMXc3oh81",
  "name": "Create snapshot video",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/stage/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "XXMjvNLBVviNqhjkROlMDt7vwodnLAVtkwAZJPjk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"timeline\": {\n    \"soundtrack\": {\n      \"src\": \"https://shotstack-assets.s3.amazonaws.com/music/dreams.mp3\",\n      \"effect\": \"fadeInFadeOut\"\n    },\n    \"tracks\": [\n      {\n        \"clips\": [\n          {\n            \"asset\": {\n              \"type\": \"title\",\n              \"text\": \"Your Ad Title Here\",\n              \"style\": \"minimal\",\n              \"color\": \"#ffffff\",\n              \"size\": \"medium\"\n            },\n            \"start\": 0,\n            \"length\": 3,\n            \"transition\": {\n              \"in\": \"fade\",\n              \"out\": \"fade\"\n            }\n          },\n          {\n            \"asset\": {\n              \"type\": \"video\",\n              \"src\": \"https://shotstack-assets.s3.amazonaws.com/footage/beach.mp4\"\n            },\n            \"start\": 3,\n            \"length\": 5\n          }\n        ]\n      }\n    ]\n  },\n  \"output\": {\n    \"format\": \"mp4\",\n    \"resolution\": \"hd\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -64
      ],
      "id": "a1a8d816-e8f5-4b01-a3ae-5a77d9ae6958",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/stage/render/{{$json.response.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -64
      ],
      "id": "9ccaf2f7-a9e2-4c4e-a7a9-edf6f56b30a6",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GtvDt9m3O8b3Rpd3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        -64
      ],
      "id": "74c36240-f1b8-485e-941d-f1172ced2ba4",
      "name": "Wait",
      "webhookId": "9498a641-e9eb-4f67-ba02-f2931ec92f98"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -64
      ],
      "id": "2f42da95-fb84-4f1c-b8c0-00a2e5f52999",
      "name": "Trigger ShotSnap video",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger ShotSnap video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Trigger ShotSnap video": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      }
    ]
  },
  "versionId": "766fb83c-a8cc-4dff-b388-12975247569c",
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-01T12:27:06.155Z",
      "createdAt": "2025-10-01T12:27:06.155Z",
      "role": "workflow:owner",
      "workflowId": "fxmcm8hbMXc3oh81",
      "projectId": "bll44iFOa92qb20Q",
      "project": {
        "updatedAt": "2025-09-08T16:29:41.547Z",
        "createdAt": "2025-09-08T16:29:38.593Z",
        "id": "bll44iFOa92qb20Q",
        "name": "Kelly Knight <kelly@kellyrae.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-08T16:29:38.593Z",
            "createdAt": "2025-09-08T16:29:38.593Z",
            "userId": "a30987fe-4321-46e3-affb-75459c3320fc",
            "projectId": "bll44iFOa92qb20Q",
            "user": {
              "updatedAt": "2025-12-10T08:00:00.000Z",
              "createdAt": "2025-09-08T16:29:36.989Z",
              "id": "a30987fe-4321-46e3-affb-75459c3320fc",
              "email": "kelly@kellyrae.net",
              "firstName": "Kelly",
              "lastName": "Knight",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "DIT1A5BsEUock2GH",
                "userActivatedAt": 1758474039124,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1759246180644
                },
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutHttpRequest": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-25T13:09:41.651Z",
      "createdAt": "2025-10-25T13:09:41.651Z",
      "id": "9eKfZuV575vaiKME",
      "name": "NOT IN USE"
    }
  ]
}