workflows/orchestrate_video_creation_aciRAWTYLz4bDwl2.json
{
  "updatedAt": "2025-11-09T16:43:50.000Z",
  "createdAt": "2025-10-20T21:59:52.115Z",
  "id": "aciRAWTYLz4bDwl2",
  "name": "Orchestrate video creation",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    ...$json,  // ← Keep everything including email!\n    status: \"success\",\n    video_url: $json.final_video_url,\n    duration: $json.duration,\n    message: \"Your TikTok ad is ready! 🎉\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        32
      ],
      "id": "fea3d5c8-335f-479f-a2b5-e89fa7f6743b",
      "name": "Format Response"
    },
    {
      "parameters": {
        "sendTo": "=kellyraeknight78@gmail.com, {{ $json.email }}",
        "subject": "Your TikTok Ad is Ready! 🎬",
        "message": "=<h2>Your TikTok Ad is Ready! 🎉</h2>\n\n<p>Great news! Your custom car ad has been generated.</p>\n\n<p><strong><a href=\"{{ $json.outputs.final_video_url }}\">Click here to download your video</a></strong></p>\n\n<p>Theme: {{ $json.theme }}</p>\n<p>Duration: {{ $json.outputs.avatar_duration || $json.duration }} seconds</p>\n\n<p>Thanks for using Ad Pilot!</p>\n\n<p>- Kelly</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        32
      ],
      "id": "35fbca4b-a233-4c59-8c1b-f1186216a460",
      "name": "Send a message",
      "webhookId": "16607c54-e38b-4155-917a-6037fc3ed622",
      "credentials": {
        "gmailOAuth2": {
          "id": "eohLHC3Bquj0VHuG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $json;\n\n// Only cleanup if successful\nif (!config.ok || !config.outputs?.final_video_url) {\n  console.log('Skipping cleanup - workflow failed');\n  return [{ json: config }];\n}\n\nconst tasks = [];\n\n// 1. Archive final video to Cloudinary\nif (config.outputs.shotstack_video_url) {\n  tasks.push({\n    action: 'upload',\n    type: 'final_video',\n    url: config.outputs.shotstack_video_url,\n    public_id: `final-videos/${new Date().toISOString().split('T')[0]}/${config.render_id || Date.now()}`\n  });\n}\n\n// 2. Delete temporary audio file\nif (config.outputs.audio_cloudinary_id) {\n  tasks.push({\n    action: 'delete',\n    type: 'audio',\n    public_id: config.outputs.audio_cloudinary_id\n  });\n}\n\nconsole.log('Cleanup tasks:', tasks);\n\nreturn [{ json: { ...config, cleanup_tasks: tasks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        32
      ],
      "id": "335cbdd3-75a3-4570-b16e-f0f5f5ab5914",
      "name": "Cleanup and Archive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dtpqxuwby/video/upload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file\": \"{{ $json.outputs.final_video_url }}\",\n  \"upload_preset\": \"ad-pilot\",\n  \"public_id\": \"final-videos/{{$json.outputs.creatomate_render_id }}\",\n  \"resource_type\": \"video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        32
      ],
      "id": "02131fbb-396d-4473-92af-3792ea423c5a",
      "name": "Upload Shotstack to Cloudinary"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://224132378494569:bNSqU5c7z0q3ujVeKPM0NUAqDr4@api.cloudinary.com/v1_1/dtpqxuwby/resources/video/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "public_ids",
              "value": "={{ $json.audio_cloudinary_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        32
      ],
      "id": "c036cec9-340b-4155-9d38-00d2295535e5",
      "name": "Delete Audio file"
    },
    {
      "parameters": {
        "jsCode": "// Get the original config from before the email\nconst originalConfig = $('Format Response').item.json;\n\nreturn [{\n  json: originalConfig\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        32
      ],
      "id": "edb92d13-191f-4272-a082-6a8b3e79bf97",
      "name": "Restore config"
    },
    {
      "parameters": {
        "jsCode": "// Get original config and upload response\nconst originalConfig = $('Cleanup and Archive').item.json;\nconst uploadResponse = $json;\n\nreturn [{\n  json: {\n    ...originalConfig,\n    cloudinary_archive: {\n      asset_id: uploadResponse.asset_id,\n      public_id: uploadResponse.public_id,\n      secure_url: uploadResponse.secure_url\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        32
      ],
      "id": "7b5392a4-1b32-4f90-a499-8eb24b30720e",
      "name": "Merge upload response"
    },
    {
      "parameters": {
        "jsCode": "// Email allowlist - only these can use the system\nconst allowlist = [\n  'kelly@kellyrae.net',\n  'kellyraeknight78@gmail.com',\n  'esears48@gmail.com',\n  'kelly@ad-pilot.ai',\n  'eric@ad-pilot.ai',\n  'kimark100@aol.com',\n  'garyknight@carmackcars.com',\n  'karleeknight@gmail.com',\n  'karlee515@yahoo.com',\n  'Blakef1984@gmail.com',\n  'bfree98@aol.com',\n  'kacywaldhoff@yahoo.com',\n  'kacywaldhoff@gmail.com',\n  'Mark@ChampaignExperts.com',\n  'tessawaldhoff@gmail.com',\n  'laurenwaldhoff@gmail.com',\n  'shaddelaney@carmackcars.com',\n  'wedin95@aol.com ',\n  'terricox@carmackcars.com',\n  'hannah.blue1302@gmail.com',\n  'notredameone@yahoo.com',\n  'gregh@consolidatedccs.com'\n  // Add other authorized users here\n];\n\n// Get email from request\nconst email = $json.body?.email || $json.email;\n\n// Validate email exists\nif (!email) {\n  throw new Error('Email is required');\n}\n\n// Check if email is allowed (case-insensitive)\nconst isAllowed = allowlist.some(allowed => \n  email.toLowerCase() === allowed.toLowerCase()\n);\n\nif (!isAllowed) {\n  console.log(`Unauthorized email attempt: ${email}`);\n  throw new Error('Your email address is not authorized to use this system. Please contact support.');\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email format');\n}\n\nconsole.log(`Authorized request from: ${email}`);\n\n// Pass through if valid\nreturn [{\n  json: $json\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        32
      ],
      "id": "10d7147b-7ff9-4dd9-b346-a46eacd496fb",
      "name": "Allow whitelisted emails only"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YZwWO3x8kdBjQvqX",
          "mode": "list",
          "cachedResultUrl": "/workflow/YZwWO3x8kdBjQvqX",
          "cachedResultName": "Script generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "videoConfig"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -48,
        32
      ],
      "id": "68a86824-5ac2-4ee8-a48a-50ecebb1ebc6",
      "name": "Call 'Script generation'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "q4Zl5Zk3nMUOK62m",
          "mode": "list",
          "cachedResultUrl": "/workflow/q4Zl5Zk3nMUOK62m",
          "cachedResultName": "Create avatar video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        176,
        32
      ],
      "id": "75d87af5-0d78-4892-b57b-fb183ea9839e",
      "name": "Call 'Create avatar video'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Z36Cd1XZSVbd1bC3",
          "mode": "list",
          "cachedResultUrl": "/workflow/Z36Cd1XZSVbd1bC3",
          "cachedResultName": "Ad generation core"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        32
      ],
      "id": "7255d01e-fe26-4c30-ab97-0ba351f81aa7",
      "name": "Call 'Ad generation core'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-pilot",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        32
      ],
      "id": "8d961474-2d2e-4eaf-a80c-6d1e4c3681ae",
      "name": "Webhook",
      "webhookId": "6d1a0385-44cd-476c-8a78-30afdecdb2de"
    }
  ],
  "connections": {
    "Format Response": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Restore config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup and Archive": {
      "main": [
        [
          {
            "node": "Upload Shotstack to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Shotstack to Cloudinary": {
      "main": [
        [
          {
            "node": "Merge upload response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore config": {
      "main": [
        [
          {
            "node": "Cleanup and Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge upload response": {
      "main": [
        [
          {
            "node": "Delete Audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow whitelisted emails only": {
      "main": [
        [
          {
            "node": "Call 'Script generation'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Script generation'": {
      "main": [
        [
          {
            "node": "Call 'Create avatar video'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Create avatar video'": {
      "main": [
        [
          {
            "node": "Call 'Ad generation core'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Ad generation core'": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Allow whitelisted emails only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "457d4012-dd99-4a41-a4ac-5c5e50282573",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-20T21:59:52.122Z",
      "createdAt": "2025-10-20T21:59:52.122Z",
      "role": "workflow:owner",
      "workflowId": "aciRAWTYLz4bDwl2",
      "projectId": "bll44iFOa92qb20Q"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-10-20T22:01:51.760Z",
      "createdAt": "2025-10-20T22:01:51.760Z",
      "id": "4o01JEB63Qahv9wy",
      "name": "PROD"
    }
  ]
}