workflows/template_preview_proxy_FDHGs6gsqrczVTKF.json
{
  "updatedAt": "2026-01-26T23:34:59.238Z",
  "createdAt": "2026-01-26T23:34:59.238Z",
  "id": "FDHGs6gsqrczVTKF",
  "name": "Template Preview Proxy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "template-preview",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "template-preview"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://creatomate.com/files/previews/{{ $json.query.id }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "fetch-image",
      "name": "Fetch Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "image/jpeg"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=86400"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Preview": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ca0ca1b1-0ccf-4a19-8d69-5bb81edc65b8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T23:34:59.238Z",
      "createdAt": "2026-01-26T23:34:59.238Z",
      "role": "workflow:owner",
      "workflowId": "FDHGs6gsqrczVTKF",
      "projectId": "jfzY6AcGvieAQa3s"
    }
  ],
  "activeVersion": null,
  "tags": []
}