workflows/template_browser_api_lE2g5Kg1D7OjYdhi.json
{
  "updatedAt": "2026-01-12T16:04:10.736Z",
  "createdAt": "2026-01-12T12:34:12.304Z",
  "id": "lE2g5Kg1D7OjYdhi",
  "name": "Template Browser API",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "templates",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "templates-browser"
    },
    {
      "parameters": {
        "url": "https://api.creatomate.com/v1/templates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 754b059fc6f045ea9f16cbbdacd691bec27dec04525ad3a8a0d7cdf74136980793efce4b8aafee5312b097973d74b0a4"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Fetch Templates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { templates: $input.all().map(item => item.json) } }];"
      },
      "id": "code",
      "name": "Collect All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.templates }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        912,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Templates": {
      "main": [
        [
          {
            "node": "Collect All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "59b1da7c-b2d2-4399-89b5-7e5738b47aa8",
  "activeVersionId": "59b1da7c-b2d2-4399-89b5-7e5738b47aa8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-12T12:34:12.304Z",
      "createdAt": "2026-01-12T12:34:12.304Z",
      "role": "workflow:owner",
      "workflowId": "lE2g5Kg1D7OjYdhi",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-12T16:04:10.739Z",
    "createdAt": "2026-01-12T16:04:10.739Z",
    "versionId": "59b1da7c-b2d2-4399-89b5-7e5738b47aa8",
    "workflowId": "lE2g5Kg1D7OjYdhi",
    "nodes": [
      {
        "parameters": {
          "path": "templates",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          256,
          304
        ],
        "webhookId": "templates-browser"
      },
      {
        "parameters": {
          "url": "https://api.creatomate.com/v1/templates",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 754b059fc6f045ea9f16cbbdacd691bec27dec04525ad3a8a0d7cdf74136980793efce4b8aafee5312b097973d74b0a4"
              }
            ]
          },
          "options": {}
        },
        "id": "http-request",
        "name": "Fetch Templates",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { templates: $input.all().map(item => item.json) } }];"
        },
        "id": "code",
        "name": "Collect All",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json.templates }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          912,
          304
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Templates": {
        "main": [
          [
            {
              "node": "Collect All",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect All": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}