workflows/voice_clone_api_6V6hlJfLxExhXpp5.json
{
  "updatedAt": "2026-01-13T21:19:35.409Z",
  "createdAt": "2025-12-13T13:57:26.047Z",
  "id": "6V6hlJfLxExhXpp5",
  "name": "Voice Clone API",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/clone",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-clone",
      "name": "Webhook - Create Voice Clone",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        304
      ],
      "webhookId": "voice-clone-create"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/preview",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-preview",
      "name": "Webhook - Generate Preview",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        704
      ],
      "webhookId": "voice-preview-generate"
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/voices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-get-voices",
      "name": "ElevenLabs - Get All Voices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEy8iNc3ETi8bhkP",
          "name": "Eleven Labs"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const webhookItem = $('Webhook - Create Voice Clone').first();\nconst voiceName = webhookItem.json.body?.name || 'Voice Clone';\nconst voices = $json.voices || [];\nconst existingVoice = voices.find(v => v.name === voiceName);\nreturn {\n  json: {\n    voiceName: voiceName,\n    existingVoiceId: existingVoice?.voice_id || null,\n    hasExisting: !!existingVoice,\n    originalBody: webhookItem.json.body\n  },\n  binary: webhookItem.binary\n};"
      },
      "id": "code-find-existing",
      "name": "Find Existing Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-has-existing",
              "leftValue": "={{ $json.hasExisting }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-existing",
      "name": "Has Existing Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        304
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.elevenlabs.io/v1/voices/{{ $json.existingVoiceId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-delete-voice",
      "name": "ElevenLabs - Delete Old Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEy8iNc3ETi8bhkP",
          "name": "Eleven Labs"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ifNodeItem = $('Has Existing Voice?').first();\nreturn { json: { voiceName: ifNodeItem.json.voiceName, readyToCreate: true }, binary: ifNodeItem.binary };"
      },
      "id": "code-prep-after-delete",
      "name": "Prep After Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/voices/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.voiceName }}"
            },
            {
              "name": "remove_background_noise",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "files"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-create-clone",
      "name": "ElevenLabs - Create Voice Clone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEy8iNc3ETi8bhkP",
          "name": "Eleven Labs"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-clone-success",
              "leftValue": "={{ $json.voice_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-clone-success",
      "name": "IF Clone Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1632,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, voice_id: $json.voice_id, requires_verification: $json.requires_verification || false }) }}",
        "options": {}
      },
      "id": "respond-clone-success",
      "name": "Response - Clone Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1824,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.detail?.message || $json.message || 'Voice clone creation failed' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-clone-error",
      "name": "Response - Clone Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1824,
        384
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || {};\nconst voiceSettings = body.voice_settings || {};\nconst modelId = body.model_id || 'eleven_multilingual_v2';\nconst ttsBody = {\n  text: body.text,\n  model_id: modelId,\n  voice_settings: {\n    stability: voiceSettings.stability ?? 0.5,\n    similarity_boost: voiceSettings.similarity_boost ?? 0.75,\n    style: voiceSettings.style ?? 0.0,\n    use_speaker_boost: voiceSettings.use_speaker_boost ?? true\n  }\n};\nreturn { json: { voice_id: body.voice_id, ttsBody: ttsBody } };"
      },
      "id": "code-prep-tts",
      "name": "Prep TTS Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ttsBody) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-generate-preview",
      "name": "ElevenLabs - Text to Speech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEy8iNc3ETi8bhkP",
          "name": "Eleven Labs"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-preview-success",
              "leftValue": "={{ $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-preview-success",
      "name": "IF Preview Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        704
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-preview-success",
      "name": "Response - Preview Audio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1024,
        672
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Preview generation failed' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-preview-error",
      "name": "Response - Preview Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1024,
        784
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ifNodeItem = $('Has Existing Voice?').first();\nreturn { json: { voiceName: ifNodeItem.json.voiceName, readyToCreate: true }, binary: ifNodeItem.binary };"
      },
      "id": "code-prep-no-delete",
      "name": "Prep No Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        400
      ]
    },
    {
      "parameters": {},
      "id": "merge-paths",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1232,
        448
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/clone/resemble",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-clone-resemble",
      "name": "Webhook - Clone Resemble",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        1104
      ],
      "webhookId": "voice-clone-resemble"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const webhookItem = $('Webhook - Clone Resemble').first();\nconst body = webhookItem.json.body || {};\nconst voiceName = body.name || 'Voice Clone';\nconst sampleText = body.text || 'This is a sample recording for voice cloning.';\n\nreturn {\n  json: {\n    voiceName: voiceName,\n    sampleText: sampleText\n  },\n  binary: webhookItem.binary\n};"
      },
      "id": "code-prep-resemble",
      "name": "Prep Resemble Clone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.resemble.ai/api/v2/voices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.voiceName }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-resemble-create-voice",
      "name": "Resemble - Create Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1104
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const createResponse = $json;\nconst webhookItem = $('Webhook - Clone Resemble').first();\nconst prepItem = $('Prep Resemble Clone').first();\n\nif (!createResponse.success || !createResponse.item?.uuid) {\n  throw new Error(createResponse.message || 'Failed to create Resemble voice');\n}\n\nreturn {\n  json: {\n    voiceUuid: createResponse.item.uuid,\n    voiceName: prepItem.json.voiceName,\n    sampleText: prepItem.json.sampleText\n  },\n  binary: webhookItem.binary\n};"
      },
      "id": "code-resemble-after-create",
      "name": "Prep Recording Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.resemble.ai/api/v2/voices/{{ $json.voiceUuid }}/recordings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "files"
            },
            {
              "name": "name",
              "value": "={{ $json.voiceName }} - Sample"
            },
            {
              "name": "text",
              "value": "={{ $json.sampleText }}"
            },
            {
              "name": "emotion",
              "value": "neutral"
            },
            {
              "name": "is_active",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-resemble-add-recording",
      "name": "Resemble - Add Recording",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1104
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const recordingResponse = $json;\nconst prevItem = $('Prep Recording Upload').first();\n\nif (!recordingResponse.success) {\n  throw new Error(recordingResponse.message || 'Failed to add recording to Resemble voice');\n}\n\nreturn {\n  json: {\n    voiceUuid: prevItem.json.voiceUuid,\n    voiceName: prevItem.json.voiceName,\n    recordingId: recordingResponse.item?.uuid\n  }\n};"
      },
      "id": "code-resemble-after-recording",
      "name": "Prep Voice Build",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.resemble.ai/api/v2/voices/{{ $json.voiceUuid }}/build",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-resemble-build-voice",
      "name": "Resemble - Build Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-resemble-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-resemble-clone-success",
      "name": "IF Resemble Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1584,
        1104
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, voice_id: $('Prep Voice Build').first().json.voiceUuid, provider: 'resemble' }) }}",
        "options": {}
      },
      "id": "respond-resemble-clone-success",
      "name": "Response - Resemble Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1776,
        1072
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Resemble voice clone failed' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-resemble-clone-error",
      "name": "Response - Resemble Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1776,
        1184
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/preview/resemble",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-preview-resemble",
      "name": "Webhook - Preview Resemble",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        1504
      ],
      "webhookId": "voice-preview-resemble"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || {};\nconst voiceUuid = body.voice_id;\nconst text = body.text || 'Hello, this is a voice preview.';\n\nif (!voiceUuid) {\n  throw new Error('voice_id is required');\n}\n\nreturn {\n  json: {\n    voiceUuid: voiceUuid,\n    text: text\n  }\n};"
      },
      "id": "code-prep-resemble-tts",
      "name": "Prep Resemble TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1504
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://f.cluster.resemble.ai/synthesize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ voice_uuid: $json.voiceUuid, data: $json.text, output_type: 'mp3' }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-resemble-synthesize",
      "name": "Resemble - Synthesize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1504
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-resemble-tts-success",
              "leftValue": "={{ $json.audio_content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-resemble-preview-success",
      "name": "IF Resemble TTS Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        816,
        1504
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const audioContent = $json.audio_content;\n// audio_content is base64 encoded\nconst binaryData = Buffer.from(audioContent, 'base64');\n\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: audioContent,\n      mimeType: 'audio/mpeg',\n      fileName: 'preview.mp3'\n    }\n  }\n};"
      },
      "id": "code-resemble-audio-to-binary",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1472
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-resemble-preview-success",
      "name": "Response - Resemble Audio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        1472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Resemble TTS failed' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-resemble-preview-error",
      "name": "Response - Resemble TTS Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1008,
        1584
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-delete-voice",
      "name": "Webhook - Delete Voice",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        1904
      ],
      "webhookId": "voice-delete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-provider-elevenlabs",
              "leftValue": "={{ $json.body?.provider }}",
              "rightValue": "elevenlabs",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-provider-check",
      "name": "Provider Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        432,
        1904
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.elevenlabs.io/v1/voices/{{ $json.body.voice_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-delete-elevenlabs",
      "name": "Delete ElevenLabs Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1872
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEy8iNc3ETi8bhkP",
          "name": "Eleven Labs"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://app.resemble.ai/api/v2/voices/{{ $json.body.voice_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
            }
          ]
        },
        "options": {}
      },
      "id": "http-delete-resemble",
      "name": "Delete Resemble Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1984
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, deleted: true }) }}",
        "options": {}
      },
      "id": "respond-delete-success",
      "name": "Response - Delete Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        816,
        1904
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "voice/list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-list-voices",
      "name": "Webhook - List Voices",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        704
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.elevenlabs.io/v1/voices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-list-voices",
      "name": "ElevenLabs - List Voices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        232,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kEy8iNc3ETi8bhkP",
          "name": "Eleven Labs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, voices: $json.voices.map(v => ({ voice_id: v.voice_id, name: v.name })) }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-list-voices",
      "name": "Response - List Voices",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        432,
        704
      ]
    }
  ],
  "connections": {
    "Webhook - Create Voice Clone": {
      "main": [
        [
          {
            "node": "ElevenLabs - Get All Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Generate Preview": {
      "main": [
        [
          {
            "node": "Prep TTS Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - Get All Voices": {
      "main": [
        [
          {
            "node": "Find Existing Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Voice": {
      "main": [
        [
          {
            "node": "Has Existing Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Existing Voice?": {
      "main": [
        [
          {
            "node": "ElevenLabs - Delete Old Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep No Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - Delete Old Voice": {
      "main": [
        [
          {
            "node": "Prep After Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep After Delete": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep No Delete": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "ElevenLabs - Create Voice Clone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - Create Voice Clone": {
      "main": [
        [
          {
            "node": "IF Clone Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Clone Success": {
      "main": [
        [
          {
            "node": "Response - Clone Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Clone Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep TTS Request": {
      "main": [
        [
          {
            "node": "ElevenLabs - Text to Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - Text to Speech": {
      "main": [
        [
          {
            "node": "IF Preview Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Preview Success": {
      "main": [
        [
          {
            "node": "Response - Preview Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Preview Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Clone Resemble": {
      "main": [
        [
          {
            "node": "Prep Resemble Clone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Resemble Clone": {
      "main": [
        [
          {
            "node": "Resemble - Create Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resemble - Create Voice": {
      "main": [
        [
          {
            "node": "Prep Recording Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Recording Upload": {
      "main": [
        [
          {
            "node": "Resemble - Add Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resemble - Add Recording": {
      "main": [
        [
          {
            "node": "Prep Voice Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Voice Build": {
      "main": [
        [
          {
            "node": "Resemble - Build Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resemble - Build Voice": {
      "main": [
        [
          {
            "node": "IF Resemble Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Resemble Success": {
      "main": [
        [
          {
            "node": "Response - Resemble Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Resemble Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Preview Resemble": {
      "main": [
        [
          {
            "node": "Prep Resemble TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Resemble TTS": {
      "main": [
        [
          {
            "node": "Resemble - Synthesize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resemble - Synthesize": {
      "main": [
        [
          {
            "node": "IF Resemble TTS Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Resemble TTS Success": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Resemble TTS Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Response - Resemble Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Delete Voice": {
      "main": [
        [
          {
            "node": "Provider Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Check": {
      "main": [
        [
          {
            "node": "Delete ElevenLabs Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Resemble Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete ElevenLabs Voice": {
      "main": [
        [
          {
            "node": "Response - Delete Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Resemble Voice": {
      "main": [
        [
          {
            "node": "Response - Delete Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - List Voices": {
      "main": [
        [
          {
            "node": "ElevenLabs - List Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs - List Voices": {
      "main": [
        [
          {
            "node": "Response - List Voices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "82b01d66-834c-4641-bf45-ee8b81ec5508",
  "activeVersionId": "82b01d66-834c-4641-bf45-ee8b81ec5508",
  "triggerCount": 6,
  "shared": [
    {
      "updatedAt": "2025-12-13T13:57:26.047Z",
      "createdAt": "2025-12-13T13:57:26.047Z",
      "role": "workflow:owner",
      "workflowId": "6V6hlJfLxExhXpp5",
      "projectId": "VF66NQc9R74tCdyG"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-13T21:19:35.412Z",
    "createdAt": "2026-01-13T21:19:35.412Z",
    "versionId": "82b01d66-834c-4641-bf45-ee8b81ec5508",
    "workflowId": "6V6hlJfLxExhXpp5",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "voice/clone",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-clone",
        "name": "Webhook - Create Voice Clone",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          224,
          304
        ],
        "webhookId": "voice-clone-create"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "voice/preview",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-preview",
        "name": "Webhook - Generate Preview",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          224,
          704
        ],
        "webhookId": "voice-preview-generate"
      },
      {
        "parameters": {
          "url": "https://api.elevenlabs.io/v1/voices",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "http-get-voices",
        "name": "ElevenLabs - Get All Voices",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kEy8iNc3ETi8bhkP",
            "name": "Eleven Labs"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const webhookItem = $('Webhook - Create Voice Clone').first();\nconst voiceName = webhookItem.json.body?.name || 'Voice Clone';\nconst voices = $json.voices || [];\nconst existingVoice = voices.find(v => v.name === voiceName);\nreturn {\n  json: {\n    voiceName: voiceName,\n    existingVoiceId: existingVoice?.voice_id || null,\n    hasExisting: !!existingVoice,\n    originalBody: webhookItem.json.body\n  },\n  binary: webhookItem.binary\n};"
        },
        "id": "code-find-existing",
        "name": "Find Existing Voice",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "condition-has-existing",
                "leftValue": "={{ $json.hasExisting }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-has-existing",
        "name": "Has Existing Voice?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          832,
          304
        ]
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.elevenlabs.io/v1/voices/{{ $json.existingVoiceId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "http-delete-voice",
        "name": "ElevenLabs - Delete Old Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          208
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kEy8iNc3ETi8bhkP",
            "name": "Eleven Labs"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const ifNodeItem = $('Has Existing Voice?').first();\nreturn { json: { voiceName: ifNodeItem.json.voiceName, readyToCreate: true }, binary: ifNodeItem.binary };"
        },
        "id": "code-prep-after-delete",
        "name": "Prep After Delete",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.elevenlabs.io/v1/voices/add",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "name",
                "value": "={{ $json.voiceName }}"
              },
              {
                "name": "remove_background_noise",
                "value": "true"
              },
              {
                "parameterType": "formBinaryData",
                "name": "files",
                "inputDataFieldName": "files"
              }
            ]
          },
          "options": {
            "timeout": 60000
          }
        },
        "id": "http-create-clone",
        "name": "ElevenLabs - Create Voice Clone",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1424,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kEy8iNc3ETi8bhkP",
            "name": "Eleven Labs"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-clone-success",
                "leftValue": "={{ $json.voice_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-clone-success",
        "name": "IF Clone Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1632,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, voice_id: $json.voice_id, requires_verification: $json.requires_verification || false }) }}",
          "options": {}
        },
        "id": "respond-clone-success",
        "name": "Response - Clone Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1824,
          272
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: false, error: $json.detail?.message || $json.message || 'Voice clone creation failed' }) }}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "respond-clone-error",
        "name": "Response - Clone Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1824,
          384
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const body = $json.body || {};\nconst voiceSettings = body.voice_settings || {};\nconst modelId = body.model_id || 'eleven_multilingual_v2';\nconst ttsBody = {\n  text: body.text,\n  model_id: modelId,\n  voice_settings: {\n    stability: voiceSettings.stability ?? 0.5,\n    similarity_boost: voiceSettings.similarity_boost ?? 0.75,\n    style: voiceSettings.style ?? 0.0,\n    use_speaker_boost: voiceSettings.use_speaker_boost ?? true\n  }\n};\nreturn { json: { voice_id: body.voice_id, ttsBody: ttsBody } };"
        },
        "id": "code-prep-tts",
        "name": "Prep TTS Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          704
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $json.voice_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.ttsBody) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 30000
          }
        },
        "id": "http-generate-preview",
        "name": "ElevenLabs - Text to Speech",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          704
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kEy8iNc3ETi8bhkP",
            "name": "Eleven Labs"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-preview-success",
                "leftValue": "={{ $binary.data }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-preview-success",
        "name": "IF Preview Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          832,
          704
        ]
      },
      {
        "parameters": {
          "respondWith": "binary",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "audio/mpeg"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-preview-success",
        "name": "Response - Preview Audio",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1024,
          672
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Preview generation failed' }) }}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "respond-preview-error",
        "name": "Response - Preview Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1024,
          784
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const ifNodeItem = $('Has Existing Voice?').first();\nreturn { json: { voiceName: ifNodeItem.json.voiceName, readyToCreate: true }, binary: ifNodeItem.binary };"
        },
        "id": "code-prep-no-delete",
        "name": "Prep No Delete",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          400
        ]
      },
      {
        "parameters": {},
        "id": "merge-paths",
        "name": "Merge Paths",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          1232,
          448
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "voice/clone/resemble",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-clone-resemble",
        "name": "Webhook - Clone Resemble",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          224,
          1104
        ],
        "webhookId": "voice-clone-resemble"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const webhookItem = $('Webhook - Clone Resemble').first();\nconst body = webhookItem.json.body || {};\nconst voiceName = body.name || 'Voice Clone';\nconst sampleText = body.text || 'This is a sample recording for voice cloning.';\n\nreturn {\n  json: {\n    voiceName: voiceName,\n    sampleText: sampleText\n  },\n  binary: webhookItem.binary\n};"
        },
        "id": "code-prep-resemble",
        "name": "Prep Resemble Clone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          1104
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.resemble.ai/api/v2/voices",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ name: $json.voiceName }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "http-resemble-create-voice",
        "name": "Resemble - Create Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          1104
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const createResponse = $json;\nconst webhookItem = $('Webhook - Clone Resemble').first();\nconst prepItem = $('Prep Resemble Clone').first();\n\nif (!createResponse.success || !createResponse.item?.uuid) {\n  throw new Error(createResponse.message || 'Failed to create Resemble voice');\n}\n\nreturn {\n  json: {\n    voiceUuid: createResponse.item.uuid,\n    voiceName: prepItem.json.voiceName,\n    sampleText: prepItem.json.sampleText\n  },\n  binary: webhookItem.binary\n};"
        },
        "id": "code-resemble-after-create",
        "name": "Prep Recording Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          1104
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://app.resemble.ai/api/v2/voices/{{ $json.voiceUuid }}/recordings",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "files"
              },
              {
                "name": "name",
                "value": "={{ $json.voiceName }} - Sample"
              },
              {
                "name": "text",
                "value": "={{ $json.sampleText }}"
              },
              {
                "name": "emotion",
                "value": "neutral"
              },
              {
                "name": "is_active",
                "value": "true"
              }
            ]
          },
          "options": {
            "timeout": 60000
          }
        },
        "id": "http-resemble-add-recording",
        "name": "Resemble - Add Recording",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1008,
          1104
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const recordingResponse = $json;\nconst prevItem = $('Prep Recording Upload').first();\n\nif (!recordingResponse.success) {\n  throw new Error(recordingResponse.message || 'Failed to add recording to Resemble voice');\n}\n\nreturn {\n  json: {\n    voiceUuid: prevItem.json.voiceUuid,\n    voiceName: prevItem.json.voiceName,\n    recordingId: recordingResponse.item?.uuid\n  }\n};"
        },
        "id": "code-resemble-after-recording",
        "name": "Prep Voice Build",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          1104
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://app.resemble.ai/api/v2/voices/{{ $json.voiceUuid }}/build",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "http-resemble-build-voice",
        "name": "Resemble - Build Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          1104
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-resemble-success",
                "leftValue": "={{ $json.success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-resemble-clone-success",
        "name": "IF Resemble Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1584,
          1104
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, voice_id: $('Prep Voice Build').first().json.voiceUuid, provider: 'resemble' }) }}",
          "options": {}
        },
        "id": "respond-resemble-clone-success",
        "name": "Response - Resemble Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1776,
          1072
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Resemble voice clone failed' }) }}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "respond-resemble-clone-error",
        "name": "Response - Resemble Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1776,
          1184
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "voice/preview/resemble",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-preview-resemble",
        "name": "Webhook - Preview Resemble",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          224,
          1504
        ],
        "webhookId": "voice-preview-resemble"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const body = $json.body || {};\nconst voiceUuid = body.voice_id;\nconst text = body.text || 'Hello, this is a voice preview.';\n\nif (!voiceUuid) {\n  throw new Error('voice_id is required');\n}\n\nreturn {\n  json: {\n    voiceUuid: voiceUuid,\n    text: text\n  }\n};"
        },
        "id": "code-prep-resemble-tts",
        "name": "Prep Resemble TTS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          1504
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://f.cluster.resemble.ai/synthesize",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ voice_uuid: $json.voiceUuid, data: $json.text, output_type: 'mp3' }) }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "http-resemble-synthesize",
        "name": "Resemble - Synthesize",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          1504
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-resemble-tts-success",
                "leftValue": "={{ $json.audio_content }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-resemble-preview-success",
        "name": "IF Resemble TTS Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          816,
          1504
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const audioContent = $json.audio_content;\n// audio_content is base64 encoded\nconst binaryData = Buffer.from(audioContent, 'base64');\n\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: audioContent,\n      mimeType: 'audio/mpeg',\n      fileName: 'preview.mp3'\n    }\n  }\n};"
        },
        "id": "code-resemble-audio-to-binary",
        "name": "Convert to Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          1472
        ]
      },
      {
        "parameters": {
          "respondWith": "binary",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "audio/mpeg"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-resemble-preview-success",
        "name": "Response - Resemble Audio",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1200,
          1472
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: false, error: $json.message || 'Resemble TTS failed' }) }}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "respond-resemble-preview-error",
        "name": "Response - Resemble TTS Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1008,
          1584
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "voice/delete",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-delete-voice",
        "name": "Webhook - Delete Voice",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          224,
          1904
        ],
        "webhookId": "voice-delete"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-provider-elevenlabs",
                "leftValue": "={{ $json.body?.provider }}",
                "rightValue": "elevenlabs",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-provider-check",
        "name": "Provider Check",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          432,
          1904
        ]
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.elevenlabs.io/v1/voices/{{ $json.body.voice_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "http-delete-elevenlabs",
        "name": "Delete ElevenLabs Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          1872
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kEy8iNc3ETi8bhkP",
            "name": "Eleven Labs"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://app.resemble.ai/api/v2/voices/{{ $json.body.voice_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer g2llkrjnDtJYpvAmAkLLtwtt"
              }
            ]
          },
          "options": {}
        },
        "id": "http-delete-resemble",
        "name": "Delete Resemble Voice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          1984
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, deleted: true }) }}",
          "options": {}
        },
        "id": "respond-delete-success",
        "name": "Response - Delete Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          816,
          1904
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "voice/list",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-list-voices",
        "name": "Webhook - List Voices",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          32,
          704
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://api.elevenlabs.io/v1/voices",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "http-list-voices",
        "name": "ElevenLabs - List Voices",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          232,
          704
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kEy8iNc3ETi8bhkP",
            "name": "Eleven Labs"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, voices: $json.voices.map(v => ({ voice_id: v.voice_id, name: v.name })) }) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "response-list-voices",
        "name": "Response - List Voices",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          432,
          704
        ]
      }
    ],
    "connections": {
      "Webhook - Create Voice Clone": {
        "main": [
          [
            {
              "node": "ElevenLabs - Get All Voices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Generate Preview": {
        "main": [
          [
            {
              "node": "Prep TTS Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ElevenLabs - Get All Voices": {
        "main": [
          [
            {
              "node": "Find Existing Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Existing Voice": {
        "main": [
          [
            {
              "node": "Has Existing Voice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Existing Voice?": {
        "main": [
          [
            {
              "node": "ElevenLabs - Delete Old Voice",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep No Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ElevenLabs - Delete Old Voice": {
        "main": [
          [
            {
              "node": "Prep After Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep After Delete": {
        "main": [
          [
            {
              "node": "Merge Paths",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep No Delete": {
        "main": [
          [
            {
              "node": "Merge Paths",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Paths": {
        "main": [
          [
            {
              "node": "ElevenLabs - Create Voice Clone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ElevenLabs - Create Voice Clone": {
        "main": [
          [
            {
              "node": "IF Clone Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Clone Success": {
        "main": [
          [
            {
              "node": "Response - Clone Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response - Clone Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep TTS Request": {
        "main": [
          [
            {
              "node": "ElevenLabs - Text to Speech",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ElevenLabs - Text to Speech": {
        "main": [
          [
            {
              "node": "IF Preview Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Preview Success": {
        "main": [
          [
            {
              "node": "Response - Preview Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response - Preview Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Clone Resemble": {
        "main": [
          [
            {
              "node": "Prep Resemble Clone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Resemble Clone": {
        "main": [
          [
            {
              "node": "Resemble - Create Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resemble - Create Voice": {
        "main": [
          [
            {
              "node": "Prep Recording Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Recording Upload": {
        "main": [
          [
            {
              "node": "Resemble - Add Recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resemble - Add Recording": {
        "main": [
          [
            {
              "node": "Prep Voice Build",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Voice Build": {
        "main": [
          [
            {
              "node": "Resemble - Build Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resemble - Build Voice": {
        "main": [
          [
            {
              "node": "IF Resemble Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Resemble Success": {
        "main": [
          [
            {
              "node": "Response - Resemble Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response - Resemble Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Preview Resemble": {
        "main": [
          [
            {
              "node": "Prep Resemble TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Resemble TTS": {
        "main": [
          [
            {
              "node": "Resemble - Synthesize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resemble - Synthesize": {
        "main": [
          [
            {
              "node": "IF Resemble TTS Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Resemble TTS Success": {
        "main": [
          [
            {
              "node": "Convert to Binary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Response - Resemble TTS Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to Binary": {
        "main": [
          [
            {
              "node": "Response - Resemble Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Delete Voice": {
        "main": [
          [
            {
              "node": "Provider Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Provider Check": {
        "main": [
          [
            {
              "node": "Delete ElevenLabs Voice",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete Resemble Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete ElevenLabs Voice": {
        "main": [
          [
            {
              "node": "Response - Delete Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Resemble Voice": {
        "main": [
          [
            {
              "node": "Response - Delete Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - List Voices": {
        "main": [
          [
            {
              "node": "ElevenLabs - List Voices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ElevenLabs - List Voices": {
        "main": [
          [
            {
              "node": "Response - List Voices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kelly Knight",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}